Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

fix: remove last reference to daily test rollup
  libs/shared/shared/django_apps/utils/partitioning.py
Due: shared

fix: remove last reference to daily test rollup (#484)
  libs/shared/shared/django_apps/utils/partitioning.py
Due: shared

feat: restore TA GQL resolvers to defaulting to all branches
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__gql_query_test_results_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
Due: codecov-api

test: update testrun factory and ta_timeseries and ta_finish_upload tests
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
  libs/shared/shared/django_apps/ta_timeseries/tests/factories.py
Due: worker, shared

feat: add duration to all passed comment
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
  apps/worker/services/test_results.py
Due: worker

ref: get rid of ta_processing.py and use ta_processor.py instead
  apps/worker/services/test_analytics/ta_processing.py
  apps/worker/services/test_analytics/ta_processor.py
  apps/worker/services/test_analytics/tests/snapshots/ta_processor__insert_testruns_timeseries__0.json
  apps/worker/services/test_analytics/tests/test_ta_processing.py
  apps/worker/services/test_analytics/tests/test_ta_processor.py
Due: worker

feat: update conditions for showing error comment and add passing comment
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_results.py
Due: worker

feat: add lower bound to get_pr_comment TA functions
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
Due: worker

remove rollback, add some installation logs
  apps/codecov-api/webhook_handlers/views/github.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

key stuff
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

fix
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

dev: add some installation logs and remove rollback stuff (#486)
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

fix: github app pem utilization
  apps/worker/django_scaffold/settings_prod.py
  libs/shared/shared/django_apps/settings_test.py
  libs/shared/shared/github/__init__.py
  libs/shared/tests/unit/github/test_github_installation_helpers.py
Due: worker, shared

Filter out deleted orgs from showing in user's org lists
  apps/codecov-api/codecov_auth/tests/unit/test_managers.py
  apps/codecov-api/graphql_api/tests/test_current_user_ariadne.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

feat: enhance PR context analysis with related commit insights
  apps/worker/tasks/sync_pull.py
Due: worker

feat: enhance branch listing with activity metrics
  apps/codecov-api/core/commands/branch/interactors/fetch_branches.py
Due: codecov-api

use limit to 30 days
  apps/worker/tasks/sync_pull.py
Due: worker

Filter out deleted orgs from showing in user's org lists (#483)
  apps/codecov-api/codecov_auth/tests/unit/test_managers.py
  apps/codecov-api/graphql_api/tests/test_current_user_ariadne.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

revert
  apps/worker/tasks/sync_pull.py
Due: worker

fix: github app pem utilization (#487)
  apps/worker/django_scaffold/settings_prod.py
  libs/shared/shared/django_apps/settings_test.py
  libs/shared/shared/github/__init__.py
  libs/shared/tests/unit/github/test_github_installation_helpers.py
Due: worker, shared

fix: don't check TA if TA is disabled in notify
  apps/worker/helpers/ta_status.py
  apps/worker/helpers/tests/test_ta_status.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_notify_task.py
Due: worker

fix: don't check TA if TA is disabled in notify (#492)
  apps/worker/helpers/ta_status.py
  apps/worker/helpers/tests/test_ta_status.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_notify_task.py
Due: worker

fix: sentry github app installation logic
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/views/github.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
Due: codecov-api, shared

fix: sentry github app installation logic (#488)
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/views/github.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
Due: codecov-api, shared

feat: update conditions for showing error comment and add passing comment
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_results.py
Due: worker

feat: update conditions for showing error comment and add passing comment (#476)
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_processing.py
  apps/worker/services/test_analytics/ta_processor.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_processor__insert_testruns_timeseries__0.json
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_processing.py
  apps/worker/services/test_analytics/tests/test_ta_processor.py
  apps/worker/services/test_results.py
Due: worker

update with admin guard in case None
  apps/codecov-api/billing/helpers.py
Due: codecov-api

update with admin guard in case None (#493)
  apps/codecov-api/billing/helpers.py
Due: codecov-api

test: update testrun factory and ta_timeseries and ta_finish_upload tests
  apps/codecov-api/api/public/v2/tests/test_test_results_view.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
  libs/shared/shared/django_apps/ta_timeseries/tests/factories.py
Due: worker, codecov-api, shared

feat: only make all tests passed comment after the failed tests comment
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
Due: worker

test: update testrun factory and ta_timeseries and ta_finish_upload tests (#495)
  apps/codecov-api/api/public/v2/tests/test_test_results_view.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
  libs/shared/shared/django_apps/ta_timeseries/tests/factories.py
Due: worker, codecov-api, shared

ability to unlink multiple sentry orgs at once
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

feat: only make all tests passed comment after the failed tests comment (#497)
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
Due: worker

updates endpoint res
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

better assertions, flaky test
  apps/codecov-api/billing/tests/test_views.py
Due: codecov-api

feat: Unlink multiple sentry org accounts if exist (#498)
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/views.py
  apps/codecov-api/billing/tests/test_views.py
Due: codecov-api
