Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

db(TA timescale): add retention policy and remove old CAs
  libs/shared/shared/django_apps/ta_timeseries/migrations/0033_add_retention_policies_for_new_caggs.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0034_remove_old_summary_caggs.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

feat: create CAs that use TTL per row for TA timeseries
  libs/shared/shared/django_apps/ta_timeseries/migrations/0037_create_ttl_continuous_aggregates.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0038_backfill_ttl_continuous_aggregates.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0039_add_ttl_continuous_aggregate_policies.py
Due: shared

feat: update migration_utils
  libs/shared/shared/django_apps/migration_utils.py
Due: shared

feat: create TTL row on ta_timeseries_testrun
  apps/worker/services/test_analytics/ta_timeseries.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0035_add_testrun_ttl.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0036_backfill_testrun_ttl.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: worker, shared

feat: only process webhook if account associated with service
  apps/codecov-api/webhook_handlers/helpers.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_helpers.py
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

feat: update migration_utils (#442)
  libs/shared/shared/django_apps/migration_utils.py
Due: shared

feat: swap out old CAs with new ones
  libs/shared/shared/django_apps/ta_timeseries/migrations/0040_rename_ttl_continuous_aggregates.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0041_drop_old_continuous_aggregates.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0042_create_ttl_retention_policies.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0043_add_hourly_retention_policies.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

feat: no longer do cache rollups in new pipeline
  apps/codecov-api/utils/test_results.py
  apps/worker/services/test_analytics/ta_cache_rollups.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
Due: worker, codecov-api

feat: use new CAs with commits failed fixed
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_non_precomputed_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_slowest_parameter__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale/__init__.py
  apps/codecov-api/utils/timescale/flake_aggregates.py
  apps/codecov-api/utils/timescale/metadata.py
  apps/codecov-api/utils/timescale/test_aggregates.py
  apps/codecov-api/utils/timescale/test_results.py
  apps/codecov-api/utils/timescale/timescale_utils.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

fix: add metrics for get test results timescale
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
Due: codecov-api

feat: use new CAs with commits failed fixed (#443)
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_non_precomputed_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_slowest_parameter__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale/__init__.py
  apps/codecov-api/utils/timescale/flake_aggregates.py
  apps/codecov-api/utils/timescale/metadata.py
  apps/codecov-api/utils/timescale/test_aggregates.py
  apps/codecov-api/utils/timescale/test_results.py
  apps/codecov-api/utils/timescale/timescale_utils.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

feat: no longer do cache rollups in new pipeline
  apps/codecov-api/utils/test_results.py
  apps/codecov-api/utils/timescale/test_results.py
  apps/worker/services/test_analytics/ta_cache_rollups.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
Due: worker, codecov-api

ref: add retention policy, remove old CAs, stop cache rollups in new TA (#444)
  apps/codecov-api/utils/test_results.py
  apps/codecov-api/utils/timescale/test_results.py
  apps/worker/services/test_analytics/ta_cache_rollups.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0033_add_retention_policies_for_new_caggs.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0034_remove_old_summary_caggs.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: worker, codecov-api, shared

chore: temporarily remove error messages from regular PR comments
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_results.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_only__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_with_failures__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_warning__0.txt
  apps/worker/tasks/tests/unit/test_notify_task.py
Due: worker

chore: temporarily remove error messages from regular PR comments (#447)
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_results.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_only__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_with_failures__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_warning__0.txt
  apps/worker/tasks/tests/unit/test_notify_task.py
Due: worker

Add models for owners to be deleted
  libs/shared/shared/django_apps/codecov_auth/migrations/0072_ownertobedeleted.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: shared

Add a new service type for deletion
  libs/shared/shared/django_apps/codecov_auth/migrations/0073_alter_owner_service.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: shared

Prepare release 25.9.3
  VERSION
Due: none

fix: add metrics for get test results timescale (#452)
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
Due: codecov-api

feat: add runs failed column to test results in TA GQL
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/types/enums/enums.py
  apps/codecov-api/graphql_api/types/enums/test_results_ordering_parameter.graphql
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/graphql_api/types/test_results/test_results.graphql
  apps/codecov-api/graphql_api/types/test_results/test_results.py
  apps/codecov-api/utils/timescale/test_results.py
Due: codecov-api

test: remove unnecessary DEBUG = true in TA timescale GQL tests
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
Due: codecov-api

feat: don't compute commits failed or flags for Sentry Prevent
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale/test_results.py
Due: codecov-api

Add a soft delete job that obfuscate owner
  apps/worker/tasks/__init__.py
  apps/worker/tasks/mark_owner_for_deletion.py
  apps/worker/tasks/tests/unit/test_mark_owner_for_deletion.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/utils/enums.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, shared

Soft delete owners (#448)
  apps/worker/tasks/__init__.py
  apps/worker/tasks/mark_owner_for_deletion.py
  apps/worker/tasks/tests/unit/test_mark_owner_for_deletion.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0072_ownertobedeleted.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0073_alter_owner_service.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/utils/enums.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, shared

update plan to sentry merge when creating account link (for now)
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

fix test
  apps/codecov-api/api/sentry/tests/test_views.py
Due: codecov-api

add version 25.9.3 migration
  libs/shared/shared/django_apps/core/migrations/0075_increment_version.py
Due: shared

fix: Update plan when calling account link endpoint (#455)
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

feat: restore TA GQL resolvers to defaulting to all branches
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__gql_query_test_results_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
Due: codecov-api

update sentry sample rate to 100%
  apps/codecov-api/codecov/settings_base.py
Due: codecov-api

feat: ignore repo not found in sentry webhook handler
  apps/codecov-api/webhook_handlers/helpers.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

feat: only process webhook if account associated with service (#454)
  apps/codecov-api/webhook_handlers/helpers.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_helpers.py
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

feat: update TA notify to use sentry app depending on owner account
  apps/worker/database/models/core.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
Due: worker
