Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

feat(worker): Implement max retries handling for bundle analysis processor
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

refactor(worker): Remove max_retries parameter from lock manager
  apps/worker/services/lock_manager.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/base.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_notify_task.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
Due: worker

refactor(tests): Remove redundant comments regarding max_retries in LockManager tests
  apps/worker/services/tests/test_lock_manager.py
Due: worker

refactor(tests): Remove max_retries tests from LockManager unit tests
  apps/worker/services/tests/test_lock_manager.py
Due: worker

refactor(tests): Simplify task initialization in bundle analysis notify tests
  apps/worker/tasks/tests/unit/test_bundle_analysis_notify_task.py
Due: worker

refactor(worker): Simplify request handling in BaseCodecovTask
  apps/worker/tasks/base.py
Due: worker

refactor(worker): Enhance max_retries handling in BaseCodecovTask
  apps/worker/tasks/base.py
Due: worker

refactor(worker): Improve logging and request handling in BaseCodecovTask
  apps/worker/tasks/base.py
Due: worker

refactor(worker): Refine logging structure in BaseCodecovTask
  apps/worker/tasks/base.py
Due: worker

refactor(worker): Improve result handling in BundleAnalysisProcessorTask
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

refactor(worker): Streamline retry logic in BaseCodecovTask and improve logging in BundleAnalysisProcessorTask
  apps/worker/tasks/base.py
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

Fixed some run shell vulns in our build pipeline
  .github/workflows/_build-app.yml
  .github/workflows/_create-release-pr.yml
  .github/workflows/_create-release.yml
  .github/workflows/_push-env.yml
  .github/workflows/_run-tests.yml
  .github/workflows/_self-hosted.yml
Due: none

fix: update commit status comparison
  apps/worker/services/bundle_analysis/notify/contexts/__init__.py
Due: worker

fix(api): Enhance handling of None reports in comparison logic
  apps/codecov-api/api/internal/tests/views/test_compare_viewset.py
  apps/codecov-api/api/shared/compare/serializers.py
  apps/codecov-api/services/comparison.py
Due: codecov-api

fix(api): Improve type hints and handle None cases in comparison serializers and logic
  apps/codecov-api/api/shared/compare/serializers.py
  apps/codecov-api/services/comparison.py
Due: codecov-api

fix(api): Refactor untracked file check to directly access comparison reports
  apps/codecov-api/api/shared/compare/serializers.py
Due: codecov-api

fix: update commit status comparison (#609)
  apps/worker/services/bundle_analysis/notify/contexts/__init__.py
Due: worker

fix(api): Simplify base file retrieval logic in comparison service
  apps/codecov-api/services/comparison.py
Due: codecov-api

fix(api): Refactor head file retrieval logic to improve clarity and handling of None cases
  apps/codecov-api/services/comparison.py
Due: codecov-api

refactor(api): Remove outdated docstring from files property in comparison service
  apps/codecov-api/services/comparison.py
Due: codecov-api

fix: naming
  libs/shared/shared/django_apps/legacy_migrations/migrations/0011_convert_owners_trigger_to_after.py
  libs/shared/shared/django_apps/legacy_migrations/migrations/legacy_sql/main/triggers/owners.py
Due: shared

refactor(api): allow busg to bubble up and be reported, instead of being swollowed.
  apps/codecov-api/services/comparison.py
Due: codecov-api

fix: update naming
  libs/shared/shared/django_apps/legacy_migrations/migrations/0011_convert_owners_trigger_to_after.py
  libs/shared/shared/django_apps/legacy_migrations/migrations/legacy_sql/main/triggers/owners.py
Due: shared

fix: Enhance ReportEmptyError with additional context
  apps/worker/helpers/exceptions.py
  apps/worker/services/report/__init__.py
  apps/worker/services/report/raw_upload_processor.py
Due: worker

fix: Enhance ReportEmptyError with additional context (#613)
  apps/worker/helpers/exceptions.py
  apps/worker/services/report/__init__.py
  apps/worker/services/report/raw_upload_processor.py
Due: worker

chore(security): bump starlette to 0.49.1
  pyproject.toml
  uv.lock
Due: none

chore(security): bump starlette to 0.49.1 (#615)
  pyproject.toml
  uv.lock
Due: none

CCMRG-1943: Move database connections from worker level to task level
  apps/worker/IDLE_TRANSACTION_TIMEOUT_CASES.md
  apps/worker/PER_TASK_SESSION_IMPLEMENTATION.md
  apps/worker/PER_TASK_SESSION_SOLUTION.md
  apps/worker/celery_task_router.py
  apps/worker/database/engine.py
  apps/worker/services/tests/test_timeseries.py
  apps/worker/tasks/base.py
  apps/worker/tasks/save_commit_measurements.py
  apps/worker/tasks/tests/integration/test_upload_e2e.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_compute_comparison.py
  apps/worker/tasks/tests/utils.py
  apps/worker/tests/unit/test_task_router.py
Due: worker

refactor(api): Simplify component coverage handling for missing reports
  apps/codecov-api/api/public/v2/component/views.py
Due: codecov-api

feat: add mdoel to keep track of export tasks
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/urls.py
  apps/codecov-api/api/sentry/views.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0074_ownerexport.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/utils/enums.py
  libs/shared/tests/unit/test_celery_config.py
Due: codecov-api, shared

test: adjust relations file
  apps/worker/services/cleanup/tests/snapshots/relations__builds_delete_queries__owner.txt
Due: worker

feat: add mdoel to keep track of export tasks (#619)
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/urls.py
  apps/codecov-api/api/sentry/views.py
  apps/worker/services/cleanup/tests/snapshots/relations__builds_delete_queries__owner.txt
  libs/shared/shared/celery_config.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0074_ownerexport.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/utils/enums.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, codecov-api, shared

create model registry for export data
  libs/shared/shared/owner_data_export/__init__.py
  libs/shared/shared/owner_data_export/models_registry.py
  libs/shared/shared/owner_data_export/types.py
Due: shared

move some models to excluded
  libs/shared/shared/owner_data_export/models_registry.py
Due: shared

get rid of sensitive models as we don't need to optionally opt out
  libs/shared/shared/owner_data_export/models_registry.py
Due: shared

random commit
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

fix(api): Correctly handle component coverage when no report is available
  apps/codecov-api/api/public/v2/component/views.py
  apps/codecov-api/api/public/v2/tests/test_api_component_viewset.py
Due: codecov-api

Enhance database session management and improve error handling
  apps/worker/database/engine.py
  apps/worker/helpers/log_context.py
  apps/worker/services/report/__init__.py
  apps/worker/services/tests/test_timeseries.py
  apps/worker/services/timeseries.py
  apps/worker/tasks/save_commit_measurements.py
  apps/worker/tasks/tests/integration/test_upload_e2e.py
  apps/worker/tasks/tests/unit/test_save_commit_measurements.py
  apps/worker/tasks/tests/utils.py
  apps/worker/tasks/upsert_component.py
Due: worker

Remove outdated documentation on idle transaction timeout cases and per-task session implementation
  apps/worker/IDLE_TRANSACTION_TIMEOUT_CASES.md
  apps/worker/PER_TASK_SESSION_IMPLEMENTATION.md
  apps/worker/PER_TASK_SESSION_SOLUTION.md
Due: worker

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
