Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

chore: search repo by repoid in admin list
  apps/codecov-api/core/admin.py
  apps/codecov-api/core/tests/test_admin.py
Due: codecov-api

chore: search repo by repoid in admin list (#375)
  apps/codecov-api/core/admin.py
  apps/codecov-api/core/tests/test_admin.py
Due: codecov-api

fix: Create partitions from the next time unit
  libs/shared/shared/django_apps/utils/partitioning.py
Due: shared

feat(worker): Upload breadcrumbs for upload processing task (#365)
  apps/worker/tasks/tests/unit/test_upload_breadcrumb.py
  apps/worker/tasks/tests/unit/test_upload_processing_task.py
  apps/worker/tasks/upload_processor.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_models.py
Due: worker, shared

chore(worker): Resolve datetime deprecation and timezone warnings
  apps/worker/database/models/core.py
Due: worker

feat(worker): Upload breadcrumbs for upload finisher
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/upload_finisher.py
Due: worker

chore(worker): Resolve deprecation notice for Redis command
  apps/worker/services/processing/intermediate.py
Due: worker

Prepare release 25.8.5
  VERSION
Due: none

feat(worker): Upload breadcrumbs for upload finisher task (#370)
  apps/worker/database/models/core.py
  apps/worker/services/processing/intermediate.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/upload_finisher.py
Due: worker

chore: update retention policy on new CAs
  libs/shared/shared/django_apps/ta_timeseries/migrations/0029_add_retention_policies_to_new_caggs.py
Due: shared

fix: new timescale CA definitions
  libs/shared/shared/django_apps/ta_timeseries/migrations/0024_create_test_aggregate_daily_cas.py
Due: shared

chore: add logs to finisher
  apps/worker/tasks/upload_finisher.py
Due: worker

chore: add logs to finisher (#376)
  apps/worker/tasks/upload_finisher.py
Due: worker

chore: remove TA GQL read from rollup function and tests
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/utils/test_results.py
Due: codecov-api

fix: commits where fail number calculation
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_non_precomputed_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_slowest_parameter__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

chore: remove code that did TA GCS rollups from timescale
  apps/worker/services/test_analytics/ta_cache_rollups.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
Due: worker

chore: remove old CAs
  libs/shared/shared/django_apps/ta_timeseries/migrations/0030_remove_old_summary_caggs.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

fix: new timescale CA definitions (#378)
  libs/shared/shared/django_apps/ta_timeseries/migrations/0024_create_test_aggregate_daily_cas.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0029_add_retention_policies_to_new_caggs.py
Due: shared

fix: temporarily default to default branch data until we update the FE (#372)
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__gql_query_test_results_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
Due: codecov-api

add 25.8.5 migration
  libs/shared/shared/django_apps/core/migrations/0074_increment_version.py
Due: shared

fix: repo deletion
  apps/worker/services/cleanup/repository.py
Due: worker

fix: Use `repr` for unknown upload breadcrumb errors
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/views/legacy.py
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/tests/unit/test_upload_processing_task.py
  apps/worker/tasks/upload_finisher.py
  apps/worker/tasks/upload_processor.py
Due: worker, codecov-api

fix: Use `repr` for unknown upload breadcrumb errors (#380)
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/views/legacy.py
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/tests/unit/test_upload_processing_task.py
  apps/worker/tasks/upload_finisher.py
  apps/worker/tasks/upload_processor.py
Due: worker, codecov-api

fix: repo deletion (#379)
  apps/worker/services/cleanup/repository.py
Due: worker

feat: add limit to debouncing logic
  apps/worker/conftest.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

fix(worker): Resolve noisy SQLAlchemy warning
  apps/worker/tasks/notify.py
Due: worker

feat: implement partials_as_hits feature for LCOV parser
  LCOV_PARTIALS_AS_HITS.md
  apps/worker/services/report/languages/lcov.py
  apps/worker/services/report/languages/tests/unit/test_lcov.py
  libs/shared/shared/validation/user_schema.py
  libs/shared/tests/unit/validation/test_validation.py
Due: worker, shared

fix: preserve branch coverage type in LCOV partials_as_hits
  LCOV_PARTIALS_AS_HITS.md
  apps/worker/services/report/languages/lcov.py
  apps/worker/services/report/languages/tests/unit/test_lcov.py
Due: worker

style: apply ruff formatting to test_lcov.py
  apps/worker/services/report/languages/tests/unit/test_lcov.py
Due: worker

fix: correct LCOV partials_as_hits test expectations
  apps/worker/services/report/languages/tests/unit/test_lcov.py
Due: worker

style: apply ruff formatting to LCOV tests
  apps/worker/services/report/languages/tests/unit/test_lcov.py
Due: worker

feat: add limit to debouncing logic (#381)
  apps/worker/conftest.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

fix(worker): Resolve noisy SQLAlchemy warning (#382)
  apps/worker/tasks/notify.py
Due: worker

feat(api): Flatten single directories with single children for tree viewer
  apps/codecov-api/services/path.py
  apps/codecov-api/services/tests/test_path.py
Due: codecov-api

Release 25.8.5 (#377)
  VERSION
  libs/shared/shared/django_apps/core/migrations/0074_increment_version.py
Due: shared

feat(worker): App rate limited breadcrumb
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/unit/test_base.py
Due: worker

feat(shared): More pre-defined upload breadcrumb errors
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_models.py
Due: shared

chore(worker): Resolve Pytest warning
  apps/worker/database/tests/factories/reports.py
Due: worker

feat(worker): Upload breadcrumbs for notify task
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_notify_task.py
Due: worker

feat(worker): Upload breadcrumbs for notify task (#384)
  apps/worker/database/tests/factories/reports.py
  apps/worker/tasks/base.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_notify_task.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_models.py
Due: worker, shared
