Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

refactor: consolidate TrialStatus to shared.plan.constants
  .cursor/rules/pre-commit-checks.mdc
  apps/worker/database/enums.py
  apps/worker/services/tests/test_decoration.py
  apps/worker/tasks/tests/unit/test_trial_expiration.py
  apps/worker/tasks/tests/unit/test_trial_expiration_cron.py
  apps/worker/tasks/trial_expiration_cron.py
  libs/shared/shared/django_apps/enums.py
Due: worker, shared

refactor: consolidate ReportType to shared.django_apps.reports.models
  apps/worker/database/enums.py
  apps/worker/database/models/core.py
  apps/worker/services/bundle_analysis/comparison.py
  apps/worker/services/bundle_analysis/notify/conftest.py
  apps/worker/services/bundle_analysis/notify/contexts/__init__.py
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
  apps/worker/services/lock_manager.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_results.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/notify_error.py
  apps/worker/tasks/test_analytics_notifier.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/django_apps/enums.py
Due: worker, shared

chore: add AGENTS.md with agent guidelines
  AGENTS.md
Due: none

chore: gitignore local Cursor rules directory
  .gitignore
Due: none

chore: add cursor agent rules (#704)
  .gitignore
  AGENTS.md
Due: none

preemtively flush sync-repo to allow for team sync
  apps/worker/tasks/sync_teams.py
Due: worker

adjust index length name (#690)
  libs/shared/shared/django_apps/reports/migrations/0045_uploadleveltotals_session_id_idx.py
  libs/shared/shared/django_apps/reports/models.py
Due: shared

feat: add peformance enhancements to export
  libs/shared/shared/owner_data_export/config.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

chore: Remove accidentally added file
  apps/codecov-api/billing/management/commands/apply_subscription_schedules.py
Due: codecov-api

feat: add peformance enhancements to export (#706)
  libs/shared/shared/owner_data_export/config.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

preemtively flush sync-repo to allow for team sync (#705)
  apps/worker/tasks/sync_teams.py
Due: worker

chore: Remove accidentally added file (#708)
  apps/codecov-api/billing/management/commands/apply_subscription_schedules.py
Due: codecov-api

feat: only adjust sync teams when fields change
  apps/worker/tasks/sync_teams.py
Due: worker

feat: only adjust sync teams when fields change (#709)
  apps/worker/tasks/sync_teams.py
Due: worker

feat: Add command for adding schedules to subscriptions
  apps/codecov-api/billing/constants.py
  apps/codecov-api/billing/management/commands/apply_subscription_schedules.py
  apps/codecov-api/billing/tests/test_apply_subscription_schedules.py
  apps/codecov-api/services/billing.py
  apps/codecov-api/services/tests/test_billing.py
Due: codecov-api

ref: Consolidate schedule creation and recreate end schedule for failures
  apps/codecov-api/billing/management/commands/apply_subscription_schedules.py
  apps/codecov-api/services/billing.py
Due: codecov-api

ref: Change stripe modify call signature for consistency
  apps/codecov-api/billing/management/commands/apply_subscription_schedules.py
  apps/codecov-api/billing/tests/test_apply_subscription_schedules.py
Due: codecov-api

fix: Address bot comments
  apps/codecov-api/billing/management/commands/apply_subscription_schedules.py
  apps/codecov-api/billing/tests/test_apply_subscription_schedules.py
  apps/codecov-api/services/billing.py
Due: codecov-api

test: Modify billing.py tests
  apps/codecov-api/billing/management/commands/apply_subscription_schedules.py
  apps/codecov-api/services/tests/test_billing.py
Due: codecov-api

fix: lint
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

fix: add traces for ba processing
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

fix: add traces for ba processing (#710)
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

fix: Move create schedule to billing and handle error situation
  apps/codecov-api/billing/management/commands/apply_subscription_schedules.py
  apps/codecov-api/services/billing.py
  apps/codecov-api/services/tests/test_billing.py
Due: codecov-api

fix: dispatch single BA carryforward task instead of one per upload
  apps/worker/tasks/upload.py
Due: worker

fix: skip lock for carryforward tasks when BA report already exists
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

fix: dispatch single BA carryforward task instead of one per upload (#711)
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/upload.py
Due: worker

fix(worker): Address PR feedback for bundle analysis and lock manager
  apps/worker/services/lock_manager.py
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

refactor: Simplify pre_downloaded_path handling in BundleAnalysisReportService
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

fix(worker): Cap bundle analysis processor at 10 attempts and fix retry logic (#688)
  apps/worker/services/lock_manager.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/base.py
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/test_analytics_notifier.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/tests/integration/test_bundle_analysis_e2e.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
  apps/worker/tasks/tests/unit/test_manual_trigger.py
  apps/worker/tasks/tests/unit/test_test_analytics_notifier.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/celery_config.py
Due: worker, shared

bump ci
  apps/worker/services/lock_manager.py
Due: worker

Joebecher/ccmrg 2042 cap bundle analysis processor at 10 attempts and fix (#713)
  apps/worker/services/lock_manager.py
Due: worker

feat: add BundleAnalysisFlow checkpoint logger
  apps/worker/helpers/checkpoint_logger/flows.py
  apps/worker/tasks/base.py
Due: worker

feat: add lock milestones and task tracking to upload breadcrumbs
  apps/worker/tasks/base.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
Due: worker, shared

feat: add upload breadcrumbs to bundle analysis tasks
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

feat: add upload breadcrumbs to test results tasks
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/test_results_processor.py
Due: worker

feat: add lock lifecycle breadcrumbs and task tracking to coverage tasks
  apps/worker/tasks/notify.py
  apps/worker/tasks/upload_finisher.py
  apps/worker/tasks/upload_processor.py
Due: worker

feat: add upload pipeline timeline to CommitAdmin
  apps/codecov-api/core/admin.py
Due: codecov-api

feat: add parent_task_id to LogContext for all worker task logs
  apps/worker/helpers/log_context.py
  apps/worker/helpers/tests/unit/test_log_context.py
  apps/worker/tasks/base.py
Due: worker

fix: always propagate parent_id when dispatching child tasks
  apps/worker/tasks/base.py
Due: worker

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
