Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

add edge case handling
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

clean up and simplify install and install_repos github webhook handling
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

send to sentry not gcp
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

tags instead of scope
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

chore: Stop exposing unnecessary ports locally
  docker-compose.yml
Due: none

feat: enable new TA tasks on new repos
  apps/worker/services/test_analytics/ta_metrics.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

update the date
  apps/worker/services/test_analytics/ta_metrics.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

fix tests
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

fix: drop indexes properly
  libs/shared/shared/django_apps/ta_timeseries/migrations/0015_drop_materialized_hypertable_indexes.py
Due: shared

Ignore a few lint warnings
  ruff.toml
Due: none

Update Ruff to the newest version
  pyproject.toml
  uv.lock
Due: none

Use the correct user removal for webhooks remove
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

Remove `is_disjoint=True` optimization from merge code
  apps/worker/services/processing/merging.py
Due: worker

feat: add total duration column to test results
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__gql_query_with_new_ta_v1_FAILURE_RATE__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__gql_query_with_new_ta_v1_TOTAL_DURATION__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/graphql_api/types/enums/enums.py
  apps/codecov-api/graphql_api/types/enums/test_results_ordering_parameter.graphql
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/graphql_api/types/test_results/test_results.graphql
  apps/codecov-api/graphql_api/types/test_results/test_results.py
  apps/codecov-api/utils/test_results.py
Due: codecov-api

address feedback
  apps/codecov-api/utils/test_results.py
Due: codecov-api

chore
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__gql_query_with_new_ta_format_FAILURE_RATE__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__gql_query_with_new_ta_format_TOTAL_DURATION__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__gql_query_with_new_ta_v1__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
Due: codecov-api

build: unified Dockerfile
  .github/workflows/_run-tests.yml
  .github/workflows/shared-ci.yml
  Makefile
  apps/codecov-api/Makefile
  apps/codecov-api/docker/Dockerfile
  apps/codecov-api/docker/Dockerfile.requirements
  apps/codecov-api/pytest.ini
  apps/worker/Makefile
  apps/worker/docker/Dockerfile
  apps/worker/docker/Dockerfile.requirements
  apps/worker/pytest.ini
  ci-tests.docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
  docker/README.md
  libs/shared/pytest.ini
  libs/shared/shared/django_apps/settings_test.py
  tools/devenv/Makefile.test
  tools/devenv/scripts/start-api.sh
  tools/devenv/scripts/start-worker.sh
Due: worker, codecov-api, shared

chore(api): remove test-only function from production helper file
  apps/codecov-api/api/internal/tests/views/test_account_viewset.py
  apps/codecov-api/billing/helpers.py
  apps/codecov-api/billing/tests/mocks.py
  apps/codecov-api/billing/tests/test_helpers.py
  apps/codecov-api/billing/tests/test_views.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/graphql_api/tests/test_coverage_analytics.py
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/tests/test_plan.py
  apps/codecov-api/graphql_api/tests/test_plan_representation.py
  apps/codecov-api/services/tests/test_billing.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/tests/test_serializers.py
  apps/codecov-api/upload/tests/test_throttles.py
  apps/codecov-api/upload/tests/views/test_upload_coverage.py
  apps/codecov-api/upload/tests/views/test_uploads.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
Due: codecov-api

fix(shared): Use the only available settings file
  libs/shared/shared/django_apps/manage.py
Due: shared

chore(shared): Set `IS_ENTERPRISE`
  libs/shared/shared/django_apps/settings_test.py
Due: shared

feat(shared): Test for `manage.py`
  libs/shared/tests/unit/django_apps/test_manage.py
Due: shared

build: trigger all tests when reqs and build glue are changed
  .github/workflows/ci-router.yml
Due: none

build: remove dev deps from prod image, add separate test-reqs and test-app images
  .dockerignore
  .github/workflows/_build-app.yml
  .github/workflows/_build-requirements.yml
  .github/workflows/_run-tests.yml
  .github/workflows/ci-router.yml
  ci-tests.docker-compose.yml
  docker/Dockerfile.requirements
  docker/Dockerfile.test-requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
  docker/README.md
  pyproject.toml
  tools/devenv/Makefile.devenv
  tools/devenv/Makefile.test
Due: none

chore: sync uv.lock
  uv.lock
Due: none

chore: Revert ruff ignores
  ruff.toml
Due: none

chore: Resolve import at top of file warning
  apps/codecov-api/api/internal/tests/views/test_repo_view.py
  apps/codecov-api/codecov/commands/base.py
  apps/codecov-api/codecov_auth/apps.py
  apps/codecov-api/codecov_auth/managers.py
  apps/codecov-api/core/apps.py
  apps/codecov-api/graphql_api/helpers/tests/test_connection.py
  apps/codecov-api/services/tests/test_comparison.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/tests/views/test_bundle_analysis.py
  apps/worker/conftest.py
  apps/worker/main.py
  apps/worker/manage.py
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/unit/test_sync_teams_task.py
  libs/shared/shared/django_apps/codecov_auth/managers.py
  libs/shared/shared/django_apps/core/managers.py
  libs/shared/shared/django_apps/core/models.py
  libs/shared/shared/django_apps/core/tests/factories.py
  libs/shared/shared/django_apps/manage.py
  libs/shared/shared/django_apps/rollouts/models.py
  libs/shared/shared/django_apps/utils/model_utils.py
  libs/shared/shared/rate_limits/__init__.py
  libs/shared/tests/unit/bundle_analysis/test_bundle_analysis.py
  libs/shared/tests/unit/bundle_analysis/test_bundle_comparison.py
Due: worker, codecov-api, shared

build: change how dev dependency-group is excluded from prod images
  docker/Dockerfile.requirements
  pyproject.toml
Due: none

chore: Implement missing hash functions
  libs/shared/shared/torngit/status.py
  libs/shared/shared/utils/sessions.py
  libs/shared/shared/yaml/user_yaml.py
  libs/shared/tests/unit/test_status.py
  libs/shared/tests/unit/utils/test_sessions.py
  libs/shared/tests/unit/yaml/test_user_yaml.py
Due: shared

ci: Replace ruff action with pre-commit action
  .github/workflows/ci-router.yml
Due: none

chore: Update pre-commit version
  .pre-commit-config.yaml
Due: none

chore: Resolve generic type issues
  apps/worker/helpers/checkpoint_logger/__init__.py
  apps/worker/services/bundle_analysis/notify/contexts/__init__.py
  apps/worker/services/test_results.py
Due: worker

POC: endpoint to get evals info
  apps/codecov-api/api/public/v2/evals/views.py
  apps/codecov-api/api/public/v2/tests/test_api_evals_viewset.py
  apps/codecov-api/api/public/v2/urls.py
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/rollouts/__init__.py
  pyproject.toml
  uv.lock
Due: codecov-api

fix graphQL tests
  apps/codecov-api/codecov/db/__init__.py
  libs/shared/shared/django_apps/db_routers/__init__.py
Due: codecov-api, shared

fix imports because tests exploded in CI
  apps/codecov-api/api/public/v2/tests/test_api_evals_viewset.py
Due: codecov-api

typing, docstrings and readability
  .vscode/settings.json
  apps/codecov-api/api/public/v2/evals/views.py
Due: codecov-api

renames and logic change
  apps/codecov-api/api/public/v2/evals/views.py
  apps/codecov-api/api/public/v2/tests/test_api_evals_viewset.py
Due: codecov-api

fix
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__analytics_flag_filter__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
Due: codecov-api

fix(api): Add missing CORS headers on external `OPTIONS` requests
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/middleware.py
  apps/codecov-api/codecov_auth/tests/unit/test_middleware.py
Due: codecov-api

fix: new TA cutoff date logic
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

fix: error message
  apps/worker/services/test_results.py
  apps/worker/services/tests/snapshots/results__specific_error_message__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_with_failures__0.txt
Due: worker
