Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

Adrian/add indeces for export (#685)
  libs/shared/shared/django_apps/core/migrations/0082_commiterror_commit_id_idx.py
  libs/shared/shared/django_apps/core/models.py
  libs/shared/shared/django_apps/reports/migrations/0044_add_fk_indexes.py
  libs/shared/shared/django_apps/reports/models.py
  libs/shared/shared/django_apps/timeseries/migrations/0021_dataset_repo_id_idx.py
  libs/shared/shared/django_apps/timeseries/models.py
Due: shared

fix(ci): Update docker-compose to docker compose in CI tests Makefile
  docker/Makefile.ci-tests
Due: none

fix(worker): Remove Sentry re-initialization in forked workers (#680)
  apps/worker/Makefile
  apps/worker/celery_config.py
  docker/Makefile.ci-tests
Due: worker

fix(worker): Fix three Sentry bugs silently dropping all worker transactions
  apps/worker/celery_config.py
  apps/worker/helpers/sentry.py
  apps/worker/helpers/tests/unit/test_sentry.py
Due: worker

perf(bundle-analysis): Reduce lock retry backoff for high-concurrency
  apps/worker/services/lock_manager.py
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

fix: Prevent temp file leak when download fails
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

refactor: Apply clean code principles to bundle analysis optimization
  .cursor/rules/git-force-push.mdc
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
  apps/worker/services/lock_manager.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

test: Add benchmark test for pre-download lock time reduction
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

test: Fix benchmark to simulate slow download; validate lock time reduction
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

style(worker): Fix ruff in bundle analysis tests
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

fix(worker): Fix three Sentry bugs silently dropping all worker transactions (#687)
  apps/worker/celery_config.py
  apps/worker/helpers/sentry.py
  apps/worker/helpers/tests/unit/test_sentry.py
Due: worker

add changes to improve performance and indexing
  libs/shared/shared/django_apps/reports/migrations/0045_uploadleveltotals_session_id_idx.py
  libs/shared/shared/django_apps/reports/models.py
  libs/shared/shared/owner_data_export/config.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

chore: Remove Cursor rules from repo, add .cursor to .gitignore
  .cursor/rules/git-force-push.mdc
  .gitignore
Due: none

perf(bundle-analysis): Reduce lock retry backoff for high-concurrency (#686)
  apps/worker/services/lock_manager.py
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

fix(worker): Cap bundle analysis processor at 10 attempts and fix retry logic
  apps/worker/services/lock_manager.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/base.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/tests/integration/test_bundle_analysis_e2e.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/celery_config.py
Due: worker, shared

ref(worker): Extract lock clear helper, fix finisher log, clean comments
  apps/worker/services/lock_manager.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
  apps/worker/tasks/upload_finisher.py
Due: worker

ref(worker): use max_retries only, remove max_attempts alias
  apps/worker/services/lock_manager.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/base.py
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/test_analytics_notifier.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
  apps/worker/tasks/tests/unit/test_test_analytics_notifier.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/celery_config.py
Due: worker, shared

test(worker): set mock_redis.incr.return_value in BA retry countdown test
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

fix(worker): honor LockRetry.max_retries_exceeded in ManualTriggerTask
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/tests/unit/test_manual_trigger.py
Due: worker

refactor: Convert temporary_upload_file to BundleUploadFile context manager
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

Adrian/pefrmance improvements export (#689)
  libs/shared/shared/django_apps/reports/migrations/0045_uploadleveltotals_session_id_idx.py
  libs/shared/shared/django_apps/reports/models.py
  libs/shared/shared/owner_data_export/config.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

adjust index length name
  libs/shared/shared/django_apps/reports/migrations/0045_uploadleveltotals_session_id_idx.py
Due: shared

adjust model name
  libs/shared/shared/django_apps/reports/models.py
Due: shared

Add notification system improvement plan
  apps/worker/services/notification/IMPROVEMENT_PLAN.md
Due: worker

refactor: break up monolithic notification methods into focused helpers
  apps/worker/services/notification/notifiers/checks/base.py
  apps/worker/services/notification/notifiers/status/base.py
  apps/worker/tasks/notify.py
Due: worker

refactor: break up StatusNotifier.notify and ChecksNotifier.notify
  apps/worker/services/notification/notifiers/checks/base.py
  apps/worker/services/notification/notifiers/status/base.py
Due: worker

refactor: break up NotifyTask.run_impl_within_lock into focused methods
  apps/worker/tasks/notify.py
Due: worker

refactor: break up StatusNotifier.notify into focused methods
  apps/worker/services/notification/notifiers/status/base.py
Due: worker

refactor: break up ChecksNotifier.notify into focused methods
  apps/worker/services/notification/notifiers/checks/base.py
Due: worker

cleanup: fix no-op 'or ()' condition and docstring typo in ChecksNotifier
  apps/worker/services/notification/notifiers/checks/base.py
Due: worker

refactor: consolidate TrialStatus to shared.plan.constants
  apps/worker/database/enums.py
  apps/worker/services/tests/test_decoration.py
  apps/worker/tasks/tests/unit/test_trial_expiration.py
  apps/worker/tasks/tests/unit/test_trial_expiration_cron.py
  apps/worker/tasks/trial_expiration_cron.py
  libs/shared/shared/django_apps/enums.py
Due: worker, shared

refactor: consolidate ReportType to shared.django_apps.reports.models
  apps/worker/database/enums.py
  apps/worker/database/models/core.py
  apps/worker/services/bundle_analysis/comparison.py
  apps/worker/services/bundle_analysis/notify/conftest.py
  apps/worker/services/bundle_analysis/notify/contexts/__init__.py
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
  apps/worker/services/lock_manager.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_results.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/notify_error.py
  apps/worker/tasks/test_analytics_notifier.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/django_apps/enums.py
Due: worker, shared

refactor: extract repo service and CI methods from run_impl_within_lock
  apps/worker/tasks/notify.py
Due: worker

refactor: extract notification dispatch methods from run_impl_within_lock
  apps/worker/tasks/notify.py
Due: worker

cleanup: remove dead code and improve readability in NotifyTask
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_notify_task.py
Due: worker
