Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

fix: prefer Codecov GitHub app over Sentry app for Sentry-linked orgs
  libs/shared/shared/bots/github_apps.py
  libs/shared/tests/unit/bots/test_github_apps.py
Due: shared

style: apply ruff format to github app selection
  libs/shared/shared/bots/github_apps.py
Due: shared

feat: add customer support PIN for owner identity verification
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/commands/owner/interactors/regenerate_support_pin.py
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_regenerate_support_pin.py
  apps/codecov-api/codecov_auth/commands/owner/owner.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/graphql_api/tests/mutation/test_regenerate_support_pin.py
  apps/codecov-api/graphql_api/types/me/me.graphql
  apps/codecov-api/graphql_api/types/me/me.py
  apps/codecov-api/graphql_api/types/mutation/__init__.py
  apps/codecov-api/graphql_api/types/mutation/mutation.graphql
  apps/codecov-api/graphql_api/types/mutation/mutation.py
  apps/codecov-api/graphql_api/types/mutation/regenerate_support_pin/__init__.py
  apps/codecov-api/graphql_api/types/mutation/regenerate_support_pin/regenerate_support_pin.graphql
  apps/codecov-api/graphql_api/types/mutation/regenerate_support_pin/regenerate_support_pin.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0075_owner_support_pin.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

feat: improve django admin owner and repository pages
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/core/admin.py
Due: codecov-api

Prefer Codecov GitHub app over Sentry app for Sentry-linked orgs (#1024)
  libs/shared/shared/bots/github_apps.py
  libs/shared/tests/unit/bots/test_github_apps.py
Due: shared

disable inbound Sentry supertoken API path
  apps/codecov-api/codecov_auth/constants.py
  apps/codecov-api/codecov_auth/middleware.py
Due: codecov-api

test: assert inbound Sentry indicator is disabled and revivable
  apps/codecov-api/codecov_auth/tests/test_middleware.py
Due: codecov-api

feat: display owner as service/username
  apps/codecov-api/core/admin.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

Simplify: hardcode False directly, drop constant indirection
  apps/codecov-api/codecov_auth/constants.py
  apps/codecov-api/codecov_auth/middleware.py
  apps/codecov-api/codecov_auth/tests/test_middleware.py
Due: codecov-api

Update deprecation date to July 8 (merging June 8, not June 12)
  libs/shared/shared/django_apps/codecov_auth/sentry_app_deprecation.py
Due: shared

feat: improve django admin owner and repository pages (#1060)
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/core/admin.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

Disable (not remove) the inbound Sentry supertoken API path (#969)
  apps/codecov-api/codecov_auth/middleware.py
Due: codecov-api

feat: add customer support PIN for owner identity verification (#1026)
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/commands/owner/interactors/regenerate_support_pin.py
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_regenerate_support_pin.py
  apps/codecov-api/codecov_auth/commands/owner/owner.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/graphql_api/tests/mutation/test_regenerate_support_pin.py
  apps/codecov-api/graphql_api/types/me/me.graphql
  apps/codecov-api/graphql_api/types/me/me.py
  apps/codecov-api/graphql_api/types/mutation/__init__.py
  apps/codecov-api/graphql_api/types/mutation/mutation.graphql
  apps/codecov-api/graphql_api/types/mutation/mutation.py
  apps/codecov-api/graphql_api/types/mutation/regenerate_support_pin/__init__.py
  apps/codecov-api/graphql_api/types/mutation/regenerate_support_pin/regenerate_support_pin.graphql
  apps/codecov-api/graphql_api/types/mutation/regenerate_support_pin/regenerate_support_pin.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0075_owner_support_pin.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

feat: backfill support PINs via batched management command
  apps/codecov-api/core/management/commands/backfill_support_pins.py
  apps/codecov-api/core/tests/test_management_commands.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0076_alter_owner_support_pin_default.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

refactor: fold support_pin default into migration 0075
  libs/shared/shared/django_apps/codecov_auth/migrations/0075_owner_support_pin.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0076_alter_owner_support_pin_default.py
Due: shared

refactor: simplify support PIN backfill command
  apps/codecov-api/core/management/commands/backfill_support_pins.py
  apps/codecov-api/core/tests/test_management_commands.py
Due: codecov-api

feat: report progress and ETA while backfilling support PINs
  apps/codecov-api/core/management/commands/backfill_support_pins.py
  apps/codecov-api/core/tests/test_management_commands.py
Due: codecov-api

test: don't pin owner counts in support PIN backfill test
  apps/codecov-api/core/tests/test_management_commands.py
Due: codecov-api

feat: backfill support PINs via batched management command (#1090)
  apps/codecov-api/core/management/commands/backfill_support_pins.py
  apps/codecov-api/core/tests/test_management_commands.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0075_owner_support_pin.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

feat: add Sentry app deprecation notice to PR comments and GraphQL owner type (#1011)
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/types/owner/owner.graphql
  apps/codecov-api/graphql_api/types/owner/owner.py
  apps/worker/services/notification/notifiers/comment/__init__.py
  apps/worker/services/notification/notifiers/tests/unit/test_comment.py
  libs/shared/shared/django_apps/codecov_auth/sentry_app_deprecation.py
Due: worker, codecov-api, shared

feat: Change django admin sentry actions auth check to harness
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: shared

chore: test change
  apps/codecov-api/graphql_api/types/plan/plan.py
Due: codecov-api

test: fix tests for test change
  apps/codecov-api/graphql_api/tests/test_plan.py
Due: codecov-api

Prepare release 26.6.11
  VERSION
Due: none

add version 26.6.11 migration
  libs/shared/shared/django_apps/core/migrations/0086_increment_version.py
Due: shared

feat: Change django admin sentry actions auth check to harness (#1100)
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: shared

Release 26.6.11 (#1113)
  VERSION
  libs/shared/shared/django_apps/core/migrations/0086_increment_version.py
Due: shared

fix(notify): send checks on GitHub merge queue branches with only_pulls
  apps/worker/services/notification/notifiers/status/base.py
  apps/worker/services/notification/notifiers/tests/unit/test_status.py
Due: worker

feat(graphql): add hasLinkedSentryLogin field to Me type
  apps/codecov-api/graphql_api/types/me/me.graphql
  apps/codecov-api/graphql_api/types/me/me.py
Due: codecov-api

refactor(notify): inline merge queue regex check, drop unused helper
  apps/worker/services/notification/notifiers/status/base.py
Due: worker

fix(notify): send checks on GitHub merge queue branches with only_pulls (#1167)
  apps/worker/services/notification/notifiers/status/base.py
  apps/worker/services/notification/notifiers/tests/unit/test_status.py
Due: worker

fix(graphql): use sentry_user relation instead of sentry_user_id field
  apps/codecov-api/graphql_api/types/me/me.graphql
  apps/codecov-api/graphql_api/types/me/me.py
Due: codecov-api

feat(graphql): add hasLinkedSentryLogin to Me type (#1168)
  apps/codecov-api/graphql_api/types/me/me.graphql
  apps/codecov-api/graphql_api/types/me/me.py
Due: codecov-api

Rebrand ownership from Functional Software/Sentry to Harness
  .github/pull_request_template.md
  LICENSE.md
  apps/worker/LICENSE.md
  apps/worker/templates/base.html
  apps/worker/templates/failed-payment.html
  apps/worker/templates/failed-payment.txt
  apps/worker/templates/success-after-failed-payment.html
  apps/worker/templates/success-after-failed-payment.txt
Due: worker

Rebrand issue template note from Sentry to Harness
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Use official Harness brand mark in email footer icon
  apps/worker/templates/base.html
Due: worker

Rebrand ownership references from Functional Software/Sentry to Harness (#1355)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  LICENSE.md
  apps/worker/LICENSE.md
  apps/worker/templates/base.html
  apps/worker/templates/failed-payment.html
  apps/worker/templates/failed-payment.txt
  apps/worker/templates/success-after-failed-payment.html
  apps/worker/templates/success-after-failed-payment.txt
Due: worker

feat(auth): remove Sentry login route and OAuth settings (COV-32)
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/tests/unit/views/test_sentry.py
  apps/codecov-api/codecov_auth/urls.py
  apps/codecov-api/codecov_auth/views/sentry.py
Due: codecov-api

remove sentry dev info
  README.md
Due: none
