Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

feat(worker): respect custom patch target in PR comment indicator
  apps/worker/services/notification/notifiers/mixins/message/helpers.py
  apps/worker/services/notification/notifiers/mixins/message/sections.py
  apps/worker/services/notification/notifiers/tests/unit/test_comment.py
Due: worker

feat: improve OwnerAdmin array fields and speed up changelist
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
Due: codecov-api

feat: link OwnerAdmin owner-id array fields to admin pages
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
Due: codecov-api

perf: speed up OwnerAdmin changelist count query
  .gitignore
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

perf: speed up RepositoryAdmin changelist search
  apps/codecov-api/core/admin.py
Due: codecov-api

perf: speed up UserAdmin change page inline
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

feat(graphql): add deleteOwner mutation for self-serve account deletion
  apps/codecov-api/codecov_auth/commands/owner/interactors/delete_owner.py
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_delete_owner.py
  apps/codecov-api/codecov_auth/commands/owner/owner.py
  apps/codecov-api/graphql_api/tests/mutation/test_delete_owner.py
  apps/codecov-api/graphql_api/types/inputs/delete_owner.graphql
  apps/codecov-api/graphql_api/types/mutation/__init__.py
  apps/codecov-api/graphql_api/types/mutation/delete_owner/__init__.py
  apps/codecov-api/graphql_api/types/mutation/delete_owner/delete_owner.graphql
  apps/codecov-api/graphql_api/types/mutation/delete_owner/delete_owner.py
  apps/codecov-api/graphql_api/types/mutation/mutation.graphql
  apps/codecov-api/graphql_api/types/mutation/mutation.py
Due: codecov-api

feat: load-adaptive per-repo rate limiting for shared public bots
  libs/shared/shared/rate_limits/public_bot.py
  libs/shared/shared/torngit/github.py
  libs/shared/tests/unit/rate_limits/test_public_bot.py
  libs/shared/tests/unit/torngit/test_github_public_bot.py
Due: shared

refactor: simplify make_http_call and trim over-defensive public-bot code
  libs/shared/shared/rate_limits/public_bot.py
  libs/shared/shared/torngit/github.py
  libs/shared/tests/unit/rate_limits/test_public_bot.py
  libs/shared/tests/unit/torngit/test_github_public_bot.py
Due: shared

refactor: break make_http_call into small helpers
  libs/shared/shared/torngit/github.py
Due: shared

feat: add load-adaptive public-bot rate-limit library
  libs/shared/shared/rate_limits/public_bot.py
  libs/shared/tests/unit/rate_limits/test_public_bot.py
Due: shared

feat: enforce per-repo public-bot rate limiting in the GitHub adapter
  libs/shared/shared/torngit/github.py
  libs/shared/tests/unit/torngit/test_github_public_bot.py
Due: shared

perf(worker): require preloaded component comparisons
  apps/worker/tasks/compute_comparison.py
Due: worker

feat(auth): remove Sentry deprecation notice, GraphQL field (COV-33)
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/types/owner/owner.graphql
  apps/codecov-api/graphql_api/types/owner/owner.py
  apps/worker/services/notification/notifiers/comment/__init__.py
  apps/worker/services/notification/notifiers/tests/unit/test_comment.py
  libs/shared/shared/django_apps/codecov_auth/sentry_app_deprecation.py
Due: worker, codecov-api, shared

feat(auth): remove Sentry webhook handler and routing (COV-33)
  apps/codecov-api/webhook_handlers/helpers.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_helpers.py
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/urls.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

feat(auth): remove Sentry account link/unlink API (COV-33)
  apps/codecov-api/api/sentry/__init__.py
  apps/codecov-api/api/sentry/tests/__init__.py
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/urls.py
  apps/codecov-api/api/sentry/views.py
  apps/codecov-api/codecov/urls.py
Due: codecov-api

feat(auth): remove owner_uses_sentry() routing (COV-33)
  apps/codecov-api/upload/views/test_results.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_results.py
  apps/worker/tasks/test_analytics_notifier.py
  apps/worker/tasks/upload.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/helpers/sentry.py
  libs/shared/shared/upload/types.py
  libs/shared/tests/unit/bots/test_github_apps.py
Due: worker, codecov-api, shared

feat(auth): remove Sentry GitHub App settings and PEM plumbing (COV-33)
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/worker/django_scaffold/settings_prod.py
  libs/shared/shared/django_apps/settings_test.py
  libs/shared/shared/github/__init__.py
  libs/shared/tests/unit/github/test_github_installation_helpers.py
Due: worker, codecov-api, shared

remove sentry dev info (#1369)
  README.md
Due: none

fix(deps): pin vcrpy and freeze dev-group installs in Docker builds
  docker/Dockerfile.test-requirements
  pyproject.toml
  uv.lock
Due: none

style: drop explanatory comment per review feedback
  docker/Dockerfile.test-requirements
Due: none

fix(deps): pin vcrpy and freeze dev-group installs in Docker builds (#1444)
  docker/Dockerfile.test-requirements
  pyproject.toml
  uv.lock
Due: none

perf: speed up UserAdmin change page inline (#1418)
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

perf: speed up RepositoryAdmin changelist search (#1417)
  apps/codecov-api/core/admin.py
Due: codecov-api

perf: speed up OwnerAdmin changelist count query (#1406)
  .gitignore
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

feat: add RBAC (Viewer/Member/Admin) to Django admin
  apps/codecov-api/codecov/admin.py
  apps/codecov-api/codecov/apps.py
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin_rbac.py
  apps/codecov-api/core/admin.py
  apps/codecov-api/redis_admin/admin.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0076_user_staff_role.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/django_apps/codecov_auth/tests/factories.py
Due: codecov-api, shared

feat: add None RBAC role for non-staff users and a role filter
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin_rbac.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0077_user_staff_role_none.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

refactor: filter users by staff_role column and squash RBAC migrations
  apps/codecov-api/codecov_auth/admin.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0076_user_staff_role.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0077_user_staff_role_none.py
Due: codecov-api, shared

refactor: trim RBAC comments and drop unused staff-role helpers
  apps/codecov-api/codecov/admin.py
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin_rbac.py
  apps/codecov-api/core/admin.py
  apps/codecov-api/redis_admin/admin.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/django_apps/codecov_auth/tests/factories.py
Due: codecov-api, shared

Prepare release 26.7.6
  VERSION
  libs/shared/shared/django_apps/core/migrations/0087_increment_version.py
Due: shared

Prepare release 26.7.6 (#1443)
  VERSION
  libs/shared/shared/django_apps/core/migrations/0087_increment_version.py
Due: shared

feat: add RBAC (Viewer/Member/Admin) to Django admin (#1398)
  apps/codecov-api/codecov/admin.py
  apps/codecov-api/codecov/apps.py
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin_rbac.py
  apps/codecov-api/core/admin.py
  apps/codecov-api/redis_admin/admin.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0076_user_staff_role.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/django_apps/codecov_auth/tests/factories.py
Due: codecov-api, shared

feat: link owner references and show plan/seats in Owner admin
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

feat: link owner references and show plan/seats in Owner admin (#1456)
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

feat: add repo status columns/filters and slug name to Repository admin
  apps/codecov-api/core/admin.py
Due: codecov-api

feat(auth): remove Sentry login route and OAuth settings (COV-32) (#1368)
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/tests/unit/views/test_sentry.py
  apps/codecov-api/codecov_auth/urls.py
  apps/codecov-api/codecov_auth/views/sentry.py
Due: codecov-api

feat(auth): remove Sentry GitHub App integration (COV-33) (#1439)
  apps/codecov-api/api/sentry/__init__.py
  apps/codecov-api/api/sentry/tests/__init__.py
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/urls.py
  apps/codecov-api/api/sentry/views.py
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov/urls.py
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/types/owner/owner.graphql
  apps/codecov-api/graphql_api/types/owner/owner.py
  apps/codecov-api/upload/views/test_results.py
  apps/codecov-api/webhook_handlers/helpers.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_helpers.py
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/urls.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/codecov-api/webhook_handlers/views/sentry.py
  apps/worker/django_scaffold/settings_prod.py
  apps/worker/services/notification/notifiers/comment/__init__.py
  apps/worker/services/notification/notifiers/tests/unit/test_comment.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_results.py
  apps/worker/tasks/test_analytics_notifier.py
  apps/worker/tasks/upload.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/django_apps/codecov_auth/sentry_app_deprecation.py
  libs/shared/shared/django_apps/settings_test.py
  libs/shared/shared/github/__init__.py
  libs/shared/shared/helpers/sentry.py
  libs/shared/shared/upload/types.py
  libs/shared/tests/unit/bots/test_github_apps.py
  libs/shared/tests/unit/github/test_github_installation_helpers.py
Due: worker, codecov-api, shared

revert(auth): restore isOnlyUsingSentryApp GraphQL field (COV-33 follow-up)
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/types/owner/owner.graphql
  apps/codecov-api/graphql_api/types/owner/owner.py
  libs/shared/shared/django_apps/codecov_auth/sentry_app_deprecation.py
Due: codecov-api, shared

fix(auth): gate isOnlyUsingSentryApp with require_part_of_org
  apps/codecov-api/graphql_api/types/owner/owner.graphql
  apps/codecov-api/graphql_api/types/owner/owner.py
Due: codecov-api

revert(auth): restore isOnlyUsingSentryApp GraphQL field (COV-33 follow-up) (#1472)
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/types/owner/owner.graphql
  apps/codecov-api/graphql_api/types/owner/owner.py
  libs/shared/shared/django_apps/codecov_auth/sentry_app_deprecation.py
Due: codecov-api, shared
