Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

update the date
  apps/worker/services/test_analytics/ta_metrics.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

build: disable multiarch reqs image builds
  .github/workflows/_build-requirements.yml
  docker/Dockerfile.requirements
Due: none

build: consolidate how tests are run between subprojects
  Makefile
  apps/codecov-api/Makefile
  apps/codecov-api/docker-compose.yml
  apps/codecov-api/docker/test.yml
  apps/worker/Makefile
  apps/worker/docker/init_db.sql
  apps/worker/docker/test.yml
  ci-tests.docker-compose.yml
  docker/Makefile.ci-tests
Due: worker, codecov-api

build: make shared use the same makefile and ci setup as worker/api
  .github/workflows/_build-requirements.yml
  .github/workflows/shared-ci.yml
  Makefile
  ci-tests.docker-compose.yml
  codecov.yml
  docker-compose.yml
  docker/Dockerfile.requirements
  docker/Makefile.ci-tests
  libs/shared/docker/Dockerfile
  tools/devenv/Makefile.devenv
Due: shared

build(compose): Fix Minio port config
  docker-compose.yml
Due: none

build(compose): Protect and cache config directory
  docker-compose.yml
Due: none

docs(README): Correct devenv instructions and add links
  README.md
Due: none

fix(shared): Clear environment to reduce flakiness from external variables
  libs/shared/tests/unit/test_config.py
Due: shared

build: unified pyproject.toml and requirements image
  .github/workflows/_build-app.yml
  .github/workflows/_build-requirements.yml
  .github/workflows/_self-hosted.yml
  .github/workflows/api-ci.yml
  .github/workflows/ci-router.yml
  .github/workflows/shared-ci.yml
  .github/workflows/worker-ci.yml
  .pre-commit-config.yaml
  Makefile
  apps/codecov-api/pyproject.toml
  apps/codecov-api/uv.lock
  apps/worker/pyproject.toml
  apps/worker/uv.lock
  docker/Dockerfile.requirements
  docker/Makefile.docker
  pyproject.toml
  tools/devenv/scripts/uv-sync.sh
  uv.lock
Due: worker, codecov-api

build: unified Dockerfile
  Makefile
  apps/codecov-api/Makefile
  apps/codecov-api/docker/Dockerfile
  apps/codecov-api/docker/Dockerfile.requirements
  apps/worker/Makefile
  apps/worker/docker/Dockerfile
  apps/worker/docker/Dockerfile.requirements
  docker/Dockerfile
  docker/Makefile.docker
  docker/README.md
  tools/devenv/scripts/start-api.sh
  tools/devenv/scripts/start-worker.sh
Due: worker, codecov-api

ci(shared): Skip CodSpeed benchmark on `merge_group`
  .github/workflows/shared-ci.yml
Due: none

fix: remove auto-create indexes
  libs/shared/shared/django_apps/ta_timeseries/migrations/0010_auto_20250528_1540.py
Due: shared

build: remove dev deps from prod image, add separate test-reqs and test-app images
  .github/workflows/_build-app.yml
  .github/workflows/_build-requirements.yml
  .github/workflows/_run-tests.yml
  docker/Dockerfile.requirements
  docker/Dockerfile.test-requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
  docker/README.md
  pyproject.toml
Due: none

feat: create sentry webhook endpoint
  apps/codecov-api/webhook_handlers/urls.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

add plan provider back to Owner admin
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

add tests and address / name to customer serializer
  apps/codecov-api/api/internal/owner/serializers.py
  apps/codecov-api/api/internal/tests/views/test_account_viewset.py
Due: codecov-api

build: trigger all tests when reqs and build glue are changed
  .github/workflows/ci-router.yml
Due: none

build: unified Dockerfile
  .github/workflows/_run-tests.yml
  Makefile
  apps/codecov-api/Makefile
  apps/codecov-api/docker/Dockerfile
  apps/codecov-api/docker/Dockerfile.requirements
  apps/worker/Makefile
  apps/worker/docker/Dockerfile
  apps/worker/docker/Dockerfile.requirements
  ci-tests.docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
  docker/README.md
  tools/devenv/scripts/start-api.sh
  tools/devenv/scripts/start-worker.sh
Due: worker, codecov-api

chore(api): remove test-only function from production helper file
  apps/codecov-api/api/internal/tests/views/test_account_viewset.py
  apps/codecov-api/billing/helpers.py
  apps/codecov-api/billing/tests/mocks.py
  apps/codecov-api/billing/tests/test_helpers.py
  apps/codecov-api/billing/tests/test_views.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/graphql_api/tests/test_coverage_analytics.py
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/tests/test_plan.py
  apps/codecov-api/graphql_api/tests/test_plan_representation.py
  apps/codecov-api/services/tests/test_billing.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/tests/test_serializers.py
  apps/codecov-api/upload/tests/test_throttles.py
  apps/codecov-api/upload/tests/views/test_upload_coverage.py
  apps/codecov-api/upload/tests/views/test_uploads.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
Due: codecov-api

build: remove dev deps from prod image, add separate test-reqs and test-app images
  .dockerignore
  .github/workflows/_build-app.yml
  .github/workflows/_build-requirements.yml
  .github/workflows/_run-tests.yml
  ci-tests.docker-compose.yml
  docker/Dockerfile.test-requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
  docker/README.md
  pyproject.toml
  tools/devenv/Makefile.devenv
Due: none

always run on staging
  .github/workflows/ci-router.yml
Due: none

always run CI for stage
  .github/workflows/ci-router.yml
Due: none

fix: Redo SCoverage report parsing logic to parse external XML format
  apps/worker/services/report/languages/scoverage.py
  apps/worker/services/report/languages/tests/unit/test_scoverage.py
  libs/shared/shared/validation/user_schema.py
Due: worker, shared

fix: Redo SCoverage report parsing logic to parse external XML format
  apps/worker/services/report/languages/scoverage.py
Due: worker

Add docker-compose to gitignore
  .gitignore
Due: none

Add gazebo local dev section to docker-compose.yml
  docker-compose.yml
Due: none

Add section to readme
  .gitignore
  README.md
Due: none

Tweaks
  README.md
  docker-compose.yml
Due: none

add section about ignore docker-compose changes
  README.md
Due: none

Add ignore comment to docker-compose.yml
  docker-compose.yml
Due: none

fix: Redo SCoverage report parsing logic to parse external XML format
  apps/worker/services/report/languages/tests/unit/test_scoverage.py
Due: worker

ci(overwatch): Fix Python path to use shared venv
  .github/workflows/upload-overwatch.yml
Due: none

ref: user-agent parsing in api
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/upload/tests/views/conftest.py
  apps/codecov-api/upload/tests/views/test_bundle_analysis.py
  apps/codecov-api/upload/tests/views/test_commits.py
  apps/codecov-api/upload/tests/views/test_empty_upload.py
  apps/codecov-api/upload/tests/views/test_reports.py
  apps/codecov-api/upload/tests/views/test_test_results.py
  apps/codecov-api/upload/tests/views/test_upload_completion.py
  apps/codecov-api/upload/tests/views/test_uploads.py
Due: codecov-api

build: pin JWT version to avoid breaking change for now
  pyproject.toml
  uv.lock
Due: none

add push staging job, remove stuff from ci-router job
  .github/workflows/api-ci.yml
  .github/workflows/ci-router.yml
  .github/workflows/push-stage.yml
  .github/workflows/worker-ci.yml
Due: none

ci: fix _build-requirements.yml workflow for PRs from forks
  .github/workflows/_build-app.yml
  .github/workflows/_build-requirements.yml
  .github/workflows/_self-hosted.yml
Due: none

make app_id non-nullable
  libs/shared/shared/django_apps/codecov_auth/migrations/0067_alter_githubappinstallation_app_id.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/__init__.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0067.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/django_apps/codecov_auth/tests/factories.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/__init__.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
  libs/shared/shared/utils/test_utils/test_migrations_helper.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
Due: shared

remove deduping logic
  apps/codecov-api/codecov_auth/admin.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0067_alter_githubappinstallation_app_id.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0067.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
Due: codecov-api, shared

update worker models and tests, update api tests
  apps/codecov-api/api/gen_ai/tests/test_gen_ai.py
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/services/tests/test_repo_providers.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/worker/database/models/core.py
  apps/worker/database/tests/factories/core.py
  apps/worker/database/tests/unit/test_models.py
  apps/worker/services/bundle_analysis/notify/tests/test_helpers.py
  apps/worker/services/notification/notifiers/tests/unit/test_comment.py
  apps/worker/services/notification/tests/unit/test_commit_notifications.py
  apps/worker/services/notification/tests/unit/test_notification_service.py
  apps/worker/services/tests/test_github.py
  apps/worker/services/tests/test_owner_service.py
  apps/worker/services/tests/test_repository_service.py
  apps/worker/services/tests/unit/test_bots.py
  apps/worker/tasks/tests/unit/test_backfill_existing_gh_app_installations.py
  apps/worker/tasks/tests/unit/test_notify_task.py
  apps/worker/tasks/tests/unit/test_sync_repos_task.py
  apps/worker/tasks/tests/unit/test_upload_task.py
Due: worker, codecov-api

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
