Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

Add `mock_storage` to a bunch more places
  apps/worker/services/bundle_analysis/notify/contexts/tests/test_comment_context.py
  apps/worker/services/bundle_analysis/notify/contexts/tests/test_commit_status_context.py
  apps/worker/services/tests/test_repository_service.py
  apps/worker/services/tests/unit/test_archive_service.py
  apps/worker/tasks/tests/unit/test_upload_processing_task.py
Due: worker

Consolidate tests to use a unified `config/codecov.yml`
  apps/worker/docker-compose.yml
  apps/worker/docker/test.yml
  apps/worker/services/test_analytics/tests/conftest.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/services/test_analytics/tests/test_ta_processing.py
  libs/shared/docker-compose.yml
  libs/shared/docker/test.yml
  libs/shared/tests/unit/yaml/test_user_yaml.py
  tools/devenv/config/test.yml
Due: worker, shared

WIP
  .dockerignore
  .github/workflows/_run-tests.yml
  .github/workflows/api-ci.yml
  .github/workflows/shared-ci.yml
  .github/workflows/worker-ci.yml
  Dockerfile
  apps/codecov-api/pyproject.toml
  apps/worker/pyproject.toml
  docker-compose.yml
  docker/codecov.yml
  docker/test.yml
  pyproject.toml
  tools/devenv/Makefile.devenv
  tools/devenv/Makefile.test
  uv.lock
Due: worker, codecov-api

Turn the root `pyproject.toml` into a workspace
  .vscode/settings.json
  pyproject.toml
  ruff.toml
  uv.lock
Due: none

run overwatch in the workspace root
  .github/workflows/upload-overwatch.yml
Due: none

fix(api): semi-fix broken billing test to get it passing again
  apps/codecov-api/services/tests/test_billing.py
Due: codecov-api

Bump `sqlalchemy` version
  apps/worker/database/base.py
  apps/worker/database/engine.py
  apps/worker/pyproject.toml
  apps/worker/ta_storage/pg.py
  apps/worker/tasks/test_results_processor.py
  apps/worker/uv.lock
  tools/devenv/config/test.yml
  uv.lock
Due: worker

Clean up some unused `rollouts` code
  apps/codecov-api/rollouts/__init__.py
  apps/codecov-api/utils/rollouts.py
Due: codecov-api

Switch to timezone-aware datetimes, using AI
  apps/worker/database/models/core.py
  apps/worker/services/tests/test_repository_service.py
  apps/worker/tasks/commit_update.py
  apps/worker/tasks/tests/unit/test_sync_repos_task.py
  libs/shared/tests/unit/plan/test_plan.py
  libs/shared/tests/unit/upload/test_utils.py
Due: worker, shared

revert some of those changes (using AI)
  apps/worker/database/models/core.py
  apps/worker/services/tests/test_repository_service.py
  apps/worker/tasks/commit_update.py
  libs/shared/tests/unit/plan/test_plan.py
Due: worker, shared

Revert `uv` workspace, for now
  .github/workflows/upload-overwatch.yml
  pyproject.toml
  tools/devenv/scripts/uv-sync.sh
  uv.lock
Due: none

Stop ignoring coverage of test files
  codecov.yml
Due: none

actually trigger ci :-)
  apps/codecov-api/codecov.yml
  apps/worker/codecov.yml
  libs/shared/.coveragerc
  libs/shared/codecov.yml
Due: worker, codecov-api, shared

Remove some more unused test code
  apps/codecov-api/codecov_auth/tests/unit/test_authentication.py
  apps/codecov-api/labelanalysis/tests/factories.py
  apps/codecov-api/staticanalysis/tests/factories.py
  apps/codecov-api/timeseries/tests/test_helpers.py
  apps/worker/services/notification/notifiers/tests/integration/test_comment.py
  apps/worker/services/tests/test_decoration.py
  apps/worker/tasks/tests/unit/test_brolly_stats_rollup.py
Due: worker, codecov-api

fix: use root org for activated user
  apps/codecov-api/graphql_api/types/owner/owner.py
Due: codecov-api

fix: backport error display to old TA pipeline
  apps/worker/tasks/notify.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/test_results_processor.py
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_only__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_with_failures__0.txt
  apps/worker/tasks/tests/unit/test_test_results_finisher.py
Due: worker

add debugging to flare cleanup task
  apps/worker/services/cleanup/pulls.py
Due: worker

test: fix flakiness
  apps/worker/services/test_analytics/tests/snapshots/ta_processing__insert_testruns_timeseries__0.json
  apps/worker/services/test_analytics/tests/test_ta_processing.py
Due: worker

fix: add index on upload,outcome for TA
  libs/shared/shared/django_apps/ta_timeseries/migrations/0009_testrun_ta_ts__upload_i.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

adding some .explain() logs so we can get a sense of whether this is timing out in the db
  apps/worker/services/cleanup/pulls.py
Due: worker

fix: timescale can't do concurrent index creation
  apps/worker/services/test_analytics/ta_process_flakes.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0009_testrun_ta_ts__upload_i.py
Due: worker, shared

Enhance queue parameter handling in `_get_queues_param_from_queue_input`
  apps/worker/main.py
  apps/worker/tests/unit/test_main.py
Due: worker

Use more modern Django Middleware
  apps/codecov-api/codecov_auth/middleware.py
Due: codecov-api

Refactor imports and improve queue handling logic in `main.py`
  apps/worker/main.py
  apps/worker/tests/unit/test_main.py
Due: worker

Refactor import statements and enhance test readability in `main.py` and `test_main.py`
  apps/worker/main.py
  apps/worker/tests/unit/test_main.py
Due: worker

Update to use function style middleware
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/middleware.py
Due: codecov-api

Remove usage of deprecated MiddlewareMixin in core
  apps/codecov-api/core/middleware.py
Due: codecov-api

chore: adjust some prometheus counters that were maxed out in recent incidents
  apps/worker/helpers/checkpoint_logger/prometheus.py
  apps/worker/tasks/base.py
Due: worker

fix: extend repository update threshold to 60 minutes and add logging for skipped updates in upload finisher task
  apps/worker/tasks/upload_finisher.py
Due: worker

feat: implement owner retrieval functions for task routing
  apps/codecov-api/services/task/task_router.py
  apps/codecov-api/services/tests/test_task_router.py
  apps/worker/celery_task_router.py
  apps/worker/tests/unit/test_task_router.py
  libs/shared/shared/celery_router.py
Due: worker, codecov-api, shared

Bump `sqlalchemy` version
  apps/worker/database/base.py
  apps/worker/database/engine.py
  apps/worker/pyproject.toml
  apps/worker/ta_storage/pg.py
  apps/worker/tasks/test_results_processor.py
  apps/worker/uv.lock
  tools/devenv/config/test.yml
Due: worker

Defer merging line coverage to the serialization step
  libs/shared/shared/reports/resources.py
  libs/shared/shared/reports/types.py
  libs/shared/shared/utils/merge.py
Due: shared

implement this differently to avoid circular imports :-(
  apps/worker/services/processing/merging.py
  libs/shared/shared/reports/reportfile.py
  libs/shared/shared/reports/resources.py
  libs/shared/shared/reports/types.py
  libs/shared/shared/utils/merge.py
Due: worker, shared

fix
  apps/worker/services/report/languages/tests/unit/node/ifbinary.json
  apps/worker/services/report/languages/tests/unit/node/ifbinarymb.json
  apps/worker/services/report/languages/tests/unit/node/inline.json
  apps/worker/services/report/languages/tests/unit/test_bullseye.py
  apps/worker/services/report/languages/tests/unit/test_clover.py
  apps/worker/services/report/languages/tests/unit/test_cobertura.py
  apps/worker/services/report/languages/tests/unit/test_coveralls.py
  apps/worker/services/report/languages/tests/unit/test_csharp.py
  apps/worker/services/report/languages/tests/unit/test_csharp2.py
  apps/worker/services/report/languages/tests/unit/test_dlst.py
  apps/worker/services/report/languages/tests/unit/test_flowcover.py
  apps/worker/services/report/languages/tests/unit/test_gap.py
  apps/worker/services/report/languages/tests/unit/test_gcov.py
  apps/worker/services/report/languages/tests/unit/test_go.py
  apps/worker/services/report/languages/tests/unit/test_jacoco.py
  apps/worker/services/report/languages/tests/unit/test_lcov.py
  apps/worker/services/report/languages/tests/unit/test_lua.py
  apps/worker/services/report/languages/tests/unit/test_node.py
  apps/worker/services/report/languages/tests/unit/test_pycoverage.py
  apps/worker/services/report/languages/tests/unit/test_rlang.py
  apps/worker/services/report/languages/tests/unit/test_salesforce.py
  apps/worker/services/report/languages/tests/unit/test_scala.py
  apps/worker/services/report/languages/tests/unit/test_scoverage.py
  apps/worker/services/report/languages/tests/unit/test_simplecov.py
  apps/worker/services/report/languages/tests/unit/test_v1.py
  apps/worker/services/report/languages/tests/unit/test_vb.py
  apps/worker/services/report/languages/tests/unit/test_vb2.py
  apps/worker/services/report/languages/tests/unit/test_xcode.py
  apps/worker/services/report/languages/tests/unit/test_xcode2.py
  apps/worker/services/report/tests/unit/test_sessions.py
  apps/worker/services/tests/test_report.py
  apps/worker/test_utils/base.py
  libs/shared/shared/helpers/zfill.py
  libs/shared/shared/reports/totals.py
  libs/shared/tests/unit/helpers/test_zfill.py
  libs/shared/tests/unit/reports/samples/test_filtered.py
  libs/shared/tests/unit/reports/test_carryforward.py
  libs/shared/tests/unit/reports/test_editable.py
  libs/shared/tests/unit/reports/utils.py
Due: worker, shared

add a better docstring
  libs/shared/shared/reports/resources.py
Due: shared

feat: enhance task routing to include owner information
  apps/worker/tasks/base.py
  libs/shared/shared/celery_router.py
  libs/shared/tests/unit/test_router.py
Due: worker, shared

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
