Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

fix: rename
  apps/worker/tasks/upload.py
Due: worker

fix: only show file not in storage if no payload info
  apps/worker/services/test_results.py
Due: worker

test: rewire django config and pytest.ini
  apps/codecov-api/conftest.py
  apps/worker/conftest.py
  docker/Makefile.ci-tests
  libs/shared/shared/django_apps/settings_test.py
  libs/shared/tests/conftest.py
  pytest.ini
  tools/devenv/Makefile.test
Due: worker, codecov-api, shared

add unified mypy config
  mypy.ini
Due: none

tool: script to migrate all python code to be relative to repo root
  tools/repo-root-migration/repo-root-migration.sh
Due: none

chore: change some imports to make refactor easier
  apps/worker/database/models/core.py
  apps/worker/helpers/exceptions.py
  apps/worker/main.py
  apps/worker/services/cleanup/utils.py
  apps/worker/services/test_analytics/ta_cache_rollups.py
  apps/worker/services/tests/test_smtp.py
  apps/worker/tasks/cache_test_rollups.py
  apps/worker/tasks/cache_test_rollups_redis.py
  apps/worker/tasks/send_email.py
  apps/worker/tasks/tests/unit/test_cache_test_rollups_redis.py
  libs/shared/shared/api_archive/archive.py
  libs/shared/shared/django_apps/rollouts/migrations/0001_initial.py
Due: worker, shared

make Makefiles/Dockerfiles repo-root-relative
  Makefile
  docker/Dockerfile
  docker/Dockerfile.requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
Due: none

build: rewrite CI to use matrices and cut down on workflow calls
  .github/workflows/_build-app.yml
  .github/workflows/_build-images.yml
  .github/workflows/_push-env.yml
  .github/workflows/_push-images.yml
  .github/workflows/_run-tests.yml
  .github/workflows/_self-hosted.yml
  .github/workflows/api-ci.yml
  .github/workflows/app-ci.yml
  .github/workflows/ci-router.yml
  .github/workflows/push-stage.yml
  .github/workflows/self-hosted-release.yml
  .github/workflows/shared-ci.yml
  .github/workflows/worker-ci.yml
  docker/Makefile.docker
Due: none

refactor(shared): Centralize Postgres partition location
  libs/shared/shared/django_apps/db_settings.py
  libs/shared/shared/django_apps/utils/partitioning.py
Due: shared

feat: Celery task to run `pgpartition` on a schedule
  apps/worker/celery_config.py
  apps/worker/tasks/__init__.py
  apps/worker/tasks/partition_management.py
  apps/worker/tasks/tests/unit/test_partition_management_task.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/utils/enums.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, shared

fix(worker): Make Copilot exempt from seat count
  apps/worker/services/decoration.py
  apps/worker/services/tests/test_decoration.py
Due: worker

fix: TA error message
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__1.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_results.py
  apps/worker/services/tests/snapshots/results__specific_error_message__0.txt
  apps/worker/tasks/tests/unit/snapshots/notify_task__TestNotifyTask__ta_relevant_context__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_only__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_with_failures__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_warning__0.txt
Due: worker

fix: drop indexes properly
  libs/shared/shared/django_apps/ta_timeseries/migrations/0015_drop_materialized_hypertable_indexes.py
Due: shared

fix(shared): Include all test files
  libs/shared/pytest.ini
Due: shared

Add a new GraphQL mutation to sync with app token
  apps/codecov-api/codecov_auth/commands/owner/interactors/trigger_sync.py
  apps/codecov-api/codecov_auth/commands/owner/owner.py
  apps/codecov-api/graphql_api/tests/mutation/test_sync_repos.py
  apps/codecov-api/graphql_api/types/mutation/__init__.py
  apps/codecov-api/graphql_api/types/mutation/mutation.graphql
  apps/codecov-api/graphql_api/types/mutation/mutation.py
  apps/codecov-api/graphql_api/types/mutation/sync_repos/__init__.py
  apps/codecov-api/graphql_api/types/mutation/sync_repos/sync_repos.graphql
  apps/codecov-api/graphql_api/types/mutation/sync_repos/sync_repos.py
  apps/codecov-api/services/repo_providers.py
Due: codecov-api

feat: Initialization of `UploadBreadcrumb` model
  apps/codecov-api/codecov/settings_base.py
  apps/worker/django_scaffold/settings_prod.py
  apps/worker/services/cleanup/relations.py
  apps/worker/services/cleanup/tests/snapshots/relations__builds_delete_queries__owner.txt
  apps/worker/services/cleanup/tests/snapshots/relations__builds_delete_queries__repository.txt
  libs/shared/shared/django_apps/settings_test.py
  libs/shared/shared/django_apps/upload_breadcrumbs/__init__.py
  libs/shared/shared/django_apps/upload_breadcrumbs/apps.py
  libs/shared/shared/django_apps/upload_breadcrumbs/migrations/0001_initial.py
  libs/shared/shared/django_apps/upload_breadcrumbs/migrations/__init__.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/__init__.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/factories.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_models.py
  libs/shared/shared/django_apps/utils/partitioning.py
Due: worker, codecov-api, shared

chore: Remove old development script
  apps/codecov-api/dev.sh
Due: codecov-api

chore: Perform partition deletion in development startup scripts
  tools/devenv/Makefile.devenv
  tools/devenv/scripts/start-api.sh
  tools/devenv/scripts/start-worker.sh
Due: none

chore: Add missing partition command to scripts
  apps/codecov-api/enterprise.sh
  apps/worker/worker.sh
Due: worker, codecov-api

chore: Remove orphaned development containers
  tools/devenv/Makefile.devenv
Due: none

test: fix test_models in timeseries
  docker-compose.yml
  libs/shared/shared/django_apps/timeseries/tests/test_models.py
Due: shared

Set ci_service/provider on uploads
  apps/codecov-api/upload/serializers.py
  apps/codecov-api/upload/tests/test_serializers.py
Due: codecov-api

Lint
  apps/codecov-api/upload/tests/test_serializers.py
Due: codecov-api

Remove storage path
  apps/codecov-api/upload/tests/test_serializers.py
Due: codecov-api

db: try to fix dropped connection issues
  apps/worker/database/engine.py
Due: worker

db: enable timescale real time aggregates
  libs/shared/shared/django_apps/ta_timeseries/migrations/0016_enable_real_time_aggregates.py
Due: shared

fix AI's attempt to fix linter warnings
  apps/codecov-api/utils/test_results.py
Due: codecov-api

test: failing tests
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
Due: codecov-api

fix: add cutoff date to TA dashboard read path
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/utils/test_results.py
Due: codecov-api

update test-result-parser to parse evals info out of JUnit
  apps/codecov-api/api/public/v2/evals/views.py
  apps/codecov-api/api/public/v2/tests/test_api_evals_viewset.py
  pyproject.toml
  uv.lock
Due: codecov-api

don't explose the exception, thanks copilot
  apps/codecov-api/api/public/v2/evals/views.py
Due: codecov-api

Add a Sentry ID field and update Account Plans
  libs/shared/shared/django_apps/codecov_auth/migrations/0069_account_sentry_org_id_alter_account_plan.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/plan/constants.py
Due: shared

Add a migration to add new plan type
  libs/shared/shared/django_apps/codecov_auth/migrations/0070_add_sentry_merge_plan.py
Due: shared

Add default-org resolver on internal user API
  apps/codecov-api/api/internal/tests/views/test_current_user_view.py
  apps/codecov-api/api/internal/user/serializers.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

Lint
  apps/codecov-api/api/internal/tests/views/test_current_user_view.py
Due: codecov-api

Ajay suggestion
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: shared

deps: Replace `pytest-freezegun` with `pytest-freezer`
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
