Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

feat: add archive service and adjust bucket name to different filepath within bucket instead
  apps/worker/tasks/export_owner_data.py
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/config.py
Due: worker, shared

fix: address bugbot concerns
  libs/shared/shared/owner_data_export/config.py
Due: shared

address cursor errors
  apps/worker/tasks/export_owner_data.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: worker, shared

add back export id to avoid collisions
  apps/worker/tasks/export_owner_data.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/config.py
Due: worker, shared

add correct params for cleanup task in export_owner_data file
  apps/worker/tasks/export_owner_data.py
Due: worker

another fix
  apps/worker/tasks/export_owner_data.py
Due: worker

add tweaks to improve cleanup task
  apps/worker/tasks/export_owner_data.py
Due: worker

feat: add django admin trigger that sets export task
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

changes the copying logic to just use the minio copy method instead of writing and saving data
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/config.py
Due: shared

adjust code to rightfuly get the size of the object
  libs/shared/shared/owner_data_export/archive_collector.py
Due: shared

simplify copying logic
  libs/shared/shared/owner_data_export/archive_collector.py
Due: shared

fix(worker): Route bundle analysis tasks to enterprise queues
  apps/worker/celery_task_router.py
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tests/unit/test_task_router.py
Due: worker

fix: Remove lock_timeout from bundle analysis tasks
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

refactor: Remove redundant inline comments
  apps/worker/services/report/languages/base.py
  apps/worker/services/report/languages/clover.py
  apps/worker/services/report/languages/cobertura.py
  apps/worker/services/report/languages/jacoco.py
Due: worker

fix(workflows): update GITHUB_TOKEN in release workflow to use default token
  .github/workflows/_create-release.yml
Due: none

fix(workflows): change permissions in self-hosted release workflow from read to write
  .github/workflows/self-hosted-release.yml
Due: none

fix(workflows): update GITHUB_TOKEN in release workflow to use defaul… (#657)
  .github/workflows/_create-release.yml
  .github/workflows/self-hosted-release.yml
Due: none

feat(worker): centralize provider service error handling with retry for rate limits
  apps/worker/tasks/base.py
  apps/worker/tasks/commit_update.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/sync_repos.py
  apps/worker/tasks/sync_teams.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_commit_update.py
  apps/worker/tasks/tests/unit/test_preprocess_upload.py
  apps/worker/tasks/tests/unit/test_sync_repos_task.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/upload_finisher.py
Due: worker

fix(tasks): handle GitHub app rate limits and improve notification debouncing
  apps/worker/helpers/checkpoint_logger/flows.py
  apps/worker/services/notification/debounce.py
  apps/worker/tasks/base.py
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/test_analytics_notifier.py
  apps/worker/tasks/tests/integration/test_notify_task.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_notify_task.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
  apps/worker/tasks/tests/unit/test_notify_task.py
  apps/worker/tasks/tests/unit/test_test_analytics_notifier.py
  libs/shared/shared/bots/exceptions.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/tests/unit/bots/test_github_apps.py
Due: worker, shared

fix: add earliest_retry_after_seconds to NoConfiguredAppsAvailable exception
  libs/shared/shared/bots/exceptions.py
Due: shared

fix: update tests to set mock_commit.repoid for breadcrumb assertions
  apps/worker/tasks/tests/unit/test_base.py
Due: worker

separate stats + copying fns to avoid potential error
  libs/shared/shared/owner_data_export/archive_collector.py
Due: shared

Prepare release 26.1.16
  VERSION
Due: none

feat: create file that copies archive files from existing to destinat… (#650)
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/config.py
Due: shared

add celery config task
  libs/shared/shared/celery_config.py
Due: shared

add version 26.1.16 migration
  libs/shared/shared/django_apps/core/migrations/0079_increment_version.py
Due: shared

Release 26.1.16 (#663)
  VERSION
  libs/shared/shared/django_apps/core/migrations/0079_increment_version.py
Due: shared

add test case to test_celery_config
  libs/shared/tests/unit/test_celery_config.py
Due: shared

adjust chord error by providing allow_error_cb_on_chord_header header
  apps/worker/tasks/export_owner_data.py
Due: worker

mark error status when owner mismatch
  apps/worker/tasks/export_owner_data.py
Due: worker

Simplify export task
  apps/worker/tasks/export_owner_data.py
Due: worker

merge
  .github/workflows/_create-release.yml
  .github/workflows/self-hosted-release.yml
  VERSION
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/views/sentry.py
  libs/shared/shared/django_apps/core/migrations/0079_increment_version.py
  libs/shared/shared/owner_data_export/archive_collector.py
Due: codecov-api, shared

feat: add data importer script
  libs/shared/shared/owner_data_import/__init__.py
  libs/shared/shared/owner_data_import/importer.py
Due: shared

get rid of importer for this PR
  libs/shared/shared/owner_data_import/__init__.py
  libs/shared/shared/owner_data_import/importer.py
Due: shared

feat: add import file
  libs/shared/shared/owner_data_import/__init__.py
  libs/shared/shared/owner_data_import/owner_data_import.py
Due: shared

fix: get rid of double compression
  libs/shared/shared/owner_data_import/owner_data_import.py
Due: shared

feat(worker): add dynamic Sentry sampling for high-volume expected errors
  apps/worker/helpers/sentry.py
  apps/worker/helpers/tests/unit/test_sentry.py
Due: worker

Adrian/create owner data export (#651)
  apps/codecov-api/services/task/task.py
  apps/worker/tasks/export_owner_data.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/owner_data_export/sql_generator.py
  libs/shared/shared/utils/enums.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, codecov-api, shared

fix: use hashlib.md5 for cross-process deterministic sampling
  apps/worker/helpers/sentry.py
Due: worker

fix: pass events through when event_id is missing
  apps/worker/helpers/sentry.py
  apps/worker/helpers/tests/unit/test_sentry.py
Due: worker

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
