Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

feat: use hypercore for TA tables
  ci-tests.docker-compose.yml
  docker-compose.yml
  libs/shared/shared/django_apps/ta_timeseries/migrations/0024_add_compression_policies.py
Due: shared

refactor(worker): Move upload breadcrumb task helper to base
  apps/worker/tasks/base.py
  apps/worker/tasks/commit_update.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_commit_update.py
  apps/worker/tasks/tests/unit/test_preprocess_upload.py
Due: worker

feat(worker): Upload breadcrumbs for upload task
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

Add a new endpoint to link Sentry Organization to Integrations
  apps/codecov-api/api/sentry/__init__.py
  apps/codecov-api/api/sentry/tests/__init__.py
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/urls.py
  apps/codecov-api/api/sentry/views.py
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov/urls.py
  apps/codecov-api/services/repo_providers.py
  apps/codecov-api/services/tests/test_repo_providers.py
  tools/devenv/config/test.yml
Due: codecov-api

add tests and bypass
  apps/codecov-api/graphql_api/helpers/mutation.py
  apps/codecov-api/graphql_api/helpers/tests/test_mutation.py
Due: codecov-api

Add a new endpoint to link Sentry Organization to Integrations (#352)
  apps/codecov-api/api/sentry/__init__.py
  apps/codecov-api/api/sentry/tests/__init__.py
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/urls.py
  apps/codecov-api/api/sentry/views.py
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov/urls.py
  apps/codecov-api/services/repo_providers.py
  apps/codecov-api/services/tests/test_repo_providers.py
  tools/devenv/config/test.yml
Due: codecov-api

feat(devenv): Proxy Django admin route
  docker-compose.yml
Due: none

readability update
  apps/codecov-api/graphql_api/helpers/mutation.py
Due: codecov-api

feat(devenv): Add command to designate a user as admin
  README.md
  tools/devenv/Makefile.devenv
Due: none

fix: allow bypass of auth when coming from sentry with jwt (#363)
  apps/codecov-api/graphql_api/helpers/mutation.py
  apps/codecov-api/graphql_api/helpers/tests/test_mutation.py
Due: codecov-api

feat(devenv): Django admin now works locally (#364)
  README.md
  docker-compose.yml
  tools/devenv/Makefile.devenv
Due: none

feat(worker): Upload breadcrumbs for upload task (#360)
  apps/worker/tasks/base.py
  apps/worker/tasks/commit_update.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_commit_update.py
  apps/worker/tasks/tests/unit/test_preprocess_upload.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

fix: stop populating cache files and new repos read from timescale
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_testsuites_and_flags_resolvers__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_testsuites_and_flags_resolvers_with_term__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/test_results.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/tasks/cache_test_rollups.py
  apps/worker/tasks/tests/unit/test_cache_test_rollups.py
Due: worker, codecov-api

fix: stop populating cache files and new repos read from timescale (#366)
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_testsuites_and_flags_resolvers__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_testsuites_and_flags_resolvers_with_term__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/test_results.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/tasks/cache_test_rollups.py
  apps/worker/tasks/tests/unit/test_cache_test_rollups.py
Due: worker, codecov-api

fix: show up to date TA data
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

chore: Bump default soft and hard time limit values
  apps/worker/tasks/tests/unit/test_base.py
  libs/shared/shared/celery_config.py
Due: worker, shared

chore: Bump default soft and hard time limit values (#368)
  apps/worker/tasks/tests/unit/test_base.py
  libs/shared/shared/celery_config.py
Due: worker, shared

fix: create new CAs for calculating failed commits more accurately
  libs/shared/shared/django_apps/ta_timeseries/migrations/0024_create_test_aggregate_daily_cas.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0025_add_test_aggregate_policies.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0026_create_test_aggregate_indexes.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0027_refresh_test_aggregate_daily_cas.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0028_branchtestaggregatedaily_testaggregatedaily.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

fix: show up to date TA data (#367)
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

fix: create new CAs for calculating failed commits more accurately (#369)
  libs/shared/shared/django_apps/ta_timeseries/migrations/0024_create_test_aggregate_daily_cas.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0025_add_test_aggregate_policies.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0026_create_test_aggregate_indexes.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0027_refresh_test_aggregate_daily_cas.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0028_branchtestaggregatedaily_testaggregatedaily.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

chore(worker): Resolve datetime deprecation and timezone warnings
  apps/worker/database/models/core.py
Due: worker

feat(worker): Upload breadcrumbs for upload finisher
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/upload_finisher.py
Due: worker

chore(worker): Resolve deprecation notice for Redis command
  apps/worker/services/processing/intermediate.py
Due: worker

feat(worker): Upload breadcrumbs for upload processing task
  apps/worker/tasks/tests/unit/test_upload_breadcrumb.py
  apps/worker/tasks/tests/unit/test_upload_processing_task.py
  apps/worker/tasks/upload_processor.py
Due: worker

feat(shared): More predefined upload breadcrumb errors
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_models.py
Due: shared

upload token interactor bypass and update dec
  apps/codecov-api/graphql_api/helpers/mutation.py
  apps/codecov-api/graphql_api/types/repository/repository.py
Due: codecov-api

sync to async
  apps/codecov-api/graphql_api/types/repository/repository.py
Due: codecov-api

swap ordering
  apps/codecov-api/graphql_api/types/repository/repository.py
Due: codecov-api

delete interactor and add new field for token for sentry app reqs
  apps/codecov-api/core/commands/repository/interactors/get_upload_token.py
  apps/codecov-api/core/commands/repository/interactors/tests/test_get_upload_token.py
  apps/codecov-api/core/commands/repository/repository.py
  apps/codecov-api/core/commands/repository/tests/test_repository.py
  apps/codecov-api/graphql_api/types/repository/repository.graphql
  apps/codecov-api/graphql_api/types/repository/repository.py
Due: codecov-api

getting closer
  apps/codecov-api/graphql_api/helpers/mutation.py
  apps/codecov-api/graphql_api/types/repository/repository.py
Due: codecov-api

add current_user_part_of_org behavior
  apps/codecov-api/graphql_api/types/repository/repository.py
Due: codecov-api

fix: temporarily default to default branch data until we update the FE
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__gql_query_test_results_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
Due: codecov-api

add tests
  apps/codecov-api/graphql_api/tests/test_repository.py
Due: codecov-api

chore: remove code that did TA GCS rollups from timescale
  apps/worker/services/test_analytics/ta_cache_rollups.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
Due: worker

chore: update retention policy on new CAs
  libs/shared/shared/django_apps/ta_timeseries/migrations/0030_add_retention_policies_to_new_caggs.py
Due: shared

chore: remove TA GQL read from rollup function and tests
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/utils/test_results.py
Due: codecov-api

chore: remove old CAs
  libs/shared/shared/django_apps/ta_timeseries/migrations/0029_remove_old_summary_caggs.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

fix: commits where fail number calculation
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_non_precomputed_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_slowest_parameter__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

make token required
  apps/codecov-api/graphql_api/types/repository/repository.graphql
Due: codecov-api

Create new token resolver for sentry app repo tokens (#371)
  apps/codecov-api/core/commands/repository/interactors/get_upload_token.py
  apps/codecov-api/core/commands/repository/interactors/tests/test_get_upload_token.py
  apps/codecov-api/core/commands/repository/repository.py
  apps/codecov-api/core/commands/repository/tests/test_repository.py
  apps/codecov-api/graphql_api/tests/test_repository.py
  apps/codecov-api/graphql_api/types/repository/repository.graphql
  apps/codecov-api/graphql_api/types/repository/repository.py
Due: codecov-api
