Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

fix(shelter): re-sync repos when owner username changes
  apps/codecov-api/codecov_auth/signals.py
  apps/codecov-api/codecov_auth/tests/test_signals.py
  apps/worker/database/events.py
  apps/worker/database/tests/unit/test_events.py
Due: worker, codecov-api

fix(shelter): re-sync repos when owner username changes (#1943)
  apps/codecov-api/codecov_auth/signals.py
  apps/codecov-api/codecov_auth/tests/test_signals.py
  apps/worker/database/events.py
  apps/worker/database/tests/unit/test_events.py
Due: worker, codecov-api

Improve Owner admin orgs/admins tables and detail impersonation.
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/templates/admin/codecov_auth/owner/change_form.html
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/codecov_auth/tests/test_admin_rbac.py
Due: codecov-api

Restrict impersonation to staff Members and Admins.
  apps/codecov-api/codecov/admin.py
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/middleware.py
  apps/codecov-api/codecov_auth/tests/test_admin_rbac.py
  apps/codecov-api/codecov_auth/tests/unit/test_authentication.py
Due: codecov-api

Hide more admin sections from Viewers and fix Owner detail crash.
  apps/codecov-api/codecov/admin.py
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin_rbac.py
Due: codecov-api

ci: skip duplicate test suites on merge queue and main push
  .github/workflows/api-ci.yml
  .github/workflows/ci-router.yml
  .github/workflows/shared-ci.yml
  .github/workflows/worker-ci.yml
Due: none

feat: add Okta login for Django admin
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/apps.py
  apps/codecov-api/codecov_auth/tests/unit/views/test_okta_admin.py
  apps/codecov-api/codecov_auth/urls.py
  apps/codecov-api/codecov_auth/views/okta_admin.py
  apps/codecov-api/templates/admin/login_with_okta.html
Due: codecov-api

feat: add Okta login for Django admin (#1556)
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/apps.py
  apps/codecov-api/codecov_auth/tests/unit/views/test_okta_admin.py
  apps/codecov-api/codecov_auth/urls.py
  apps/codecov-api/codecov_auth/views/okta_admin.py
  apps/codecov-api/templates/admin/login_with_okta.html
Due: codecov-api

Bump cryptography to >=50.0.0 and pin uv base digest.
  docker/Dockerfile.requirements
  libs/shared/docker/Dockerfile
  libs/shared/pyproject.toml
  pyproject.toml
  uv.lock
Due: shared

Bump cryptography to >=50.0.0 and pin uv base digest. (#1921)
  docker/Dockerfile.requirements
  libs/shared/docker/Dockerfile
  libs/shared/pyproject.toml
  pyproject.toml
  uv.lock
Due: shared

perf: make CommitAdmin SHA search index-friendly
  apps/codecov-api/core/admin.py
  apps/codecov-api/core/tests/test_admin.py
Due: codecov-api

fix: allow project status checks on public team-tier repos
  apps/worker/services/notification/__init__.py
  apps/worker/services/notification/tests/unit/test_notification_service.py
Due: worker

perf: make CommitAdmin SHA search index-friendly (#1967)
  apps/codecov-api/core/admin.py
  apps/codecov-api/core/tests/test_admin.py
Due: codecov-api

Improve Owner admin orgs/admins tables and detail impersonation (#1944)
  apps/codecov-api/codecov/admin.py
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/middleware.py
  apps/codecov-api/codecov_auth/templates/admin/codecov_auth/owner/change_form.html
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/codecov_auth/tests/test_admin_rbac.py
  apps/codecov-api/codecov_auth/tests/unit/test_authentication.py
Due: codecov-api

fix(security): patch sqlparse and grpc image CVEs
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: none

fix(security): patch sqlparse and grpc image CVEs (#2039)
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: none

fix(security): drop Debian zlib from the requirements image
  docker/Dockerfile.requirements
Due: none

fix(security): bump requests, idna, and pip in api/worker images
  docker/Dockerfile.requirements
  libs/shared/pyproject.toml
  pyproject.toml
  uv.lock
Due: shared

fix(security): bump requests, idna, and pip in api/worker images (#2067)
  docker/Dockerfile.requirements
  libs/shared/pyproject.toml
  pyproject.toml
  uv.lock
Due: shared

fix(okta): log token-exchange errors instead of swallowing them
  apps/codecov-api/codecov_auth/views/okta_mixin.py
Due: codecov-api

fix(okta): log token-exchange errors instead of swallowing them (#2077)
  apps/codecov-api/codecov_auth/views/okta_mixin.py
Due: codecov-api

feat(admin): add OktaUser admin screen hidden from staff viewers
  apps/codecov-api/codecov/admin.py
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/codecov_auth/tests/test_admin_rbac.py
Due: codecov-api

feat(okta): link new Okta logins to an existing user by email
  apps/codecov-api/codecov_auth/tests/unit/views/test_okta.py
  apps/codecov-api/codecov_auth/tests/unit/views/test_okta_admin.py
  apps/codecov-api/codecov_auth/views/okta.py
  apps/codecov-api/codecov_auth/views/okta_admin.py
  apps/codecov-api/codecov_auth/views/okta_mixin.py
Due: codecov-api

perf(codecov_auth): add concurrent index on users.email
  libs/shared/shared/django_apps/codecov_auth/migrations/0080_user_email_idx.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: shared

feat(admin): add OktaUser admin screen hidden from staff viewers (#2143)
  apps/codecov-api/codecov/admin.py
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/codecov_auth/tests/test_admin_rbac.py
Due: codecov-api

fix(admin): keep retired plans when saving Owner in Django admin
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
Due: codecov-api

fix(admin): require Owner.plan in Django forms
  apps/codecov-api/codecov_auth/tests/test_admin.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0080_alter_owner_plan.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

fix(admin): keep retired plans when saving Owner (#2147)
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0080_alter_owner_plan.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: codecov-api, shared

Prepare release 26.9.10
  VERSION
Due: none

Prepare release 26.9.10 (#2233)
  VERSION
Due: none

fix(security): clear fixable api image CVEs from AR scan
  docker/Dockerfile
  docker/Dockerfile.requirements
  libs/shared/pyproject.toml
  pyproject.toml
  uv.lock
Due: shared

fix(docker): bump x/net for grpc 1.83.2 berglas build
  docker/Dockerfile
Due: none

fix(security): keep Django 4.2 LTS; fix berglas module pins
  docker/Dockerfile
  libs/shared/pyproject.toml
  pyproject.toml
  uv.lock
Due: shared

feat(django): upgrade monorepo from Django 4.2 LTS to 5.2.17
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_save_terms_agreement.py
  apps/codecov-api/graphql_api/tests/test_coverage_analytics_measurements.py
  apps/codecov-api/redis_admin/tests/test_celery_broker_queue.py
  apps/codecov-api/timeseries/helpers.py
  apps/codecov-api/timeseries/tests/test_admin.py
  libs/shared/pyproject.toml
  libs/shared/shared/django_apps/codecov_auth/migrations/0081_case_insensitive_text_fields.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/django_apps/core/migrations/0088_repository_name_case_insensitive.py
  libs/shared/shared/django_apps/core/models.py
  libs/shared/shared/django_apps/db_fields.py
  pyproject.toml
  uv.lock
Due: codecov-api, shared

fix(ci): pin MinIO image to pullable quay.io release
  ci-tests.docker-compose.yml
  docker-compose.yml
  libs/shared/docker-compose.yml
Due: shared

fix(ci): pull MinIO from quay.io for integration tests
  ci-tests.docker-compose.yml
Due: none

fix(django): keep citext columns for case-insensitive text fields
  libs/shared/shared/django_apps/codecov_auth/migrations/0081_case_insensitive_text_fields.py
  libs/shared/shared/django_apps/core/migrations/0088_repository_name_case_insensitive.py
  libs/shared/shared/django_apps/db_fields.py
Due: shared

fix(worker): treat Django 5 _raw_delete None as zero in cleanup
  apps/worker/services/cleanup/utils.py
Due: worker

fix(docker): refresh berglas grpc pin to 1.84.0
  docker/Dockerfile
Due: none
