Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

check
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

lint
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: shared

remove unused test
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: shared

cleanup excess try catch
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

cleanup
  apps/worker/tasks/upload.py
Due: worker

all upload_ids
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

test: Add sub_details to more test payloads
  apps/codecov-api/billing/tests/test_views.py
Due: codecov-api

fix processing result get error
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

repoid
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

task service
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

upload n+1 issue
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

fix: Prevent attribute error
  apps/codecov-api/billing/views.py
Due: codecov-api

repository id back
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

return false when no uploads
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

refactor use helpers
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: shared

fix: Change wording
  apps/worker/templates/failed-payment.html
  apps/worker/templates/failed-payment.txt
Due: worker

Update gitlab.py
  libs/shared/shared/torngit/gitlab.py
Due: shared

chore: Add plan tier to failure message
  apps/codecov-api/billing/tests/test_views.py
  apps/codecov-api/billing/views.py
  apps/worker/templates/failed-payment.html
  apps/worker/templates/failed-payment.txt
Due: worker, codecov-api

fix for account billing when sentry merge plan exists
  apps/codecov-api/api/internal/owner/serializers.py
  apps/codecov-api/api/internal/tests/views/test_account_viewset.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/plan/service.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
  libs/shared/tests/unit/plan/test_plan.py
Due: codecov-api, shared

changes
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

fix processing result get error (#524)
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

fix tests
  apps/codecov-api/api/internal/tests/views/cassetes/test_account_viewset/AccountViewSetTests/test_validate_plan_allows_update_for_sentry_merge_account.yaml
  apps/codecov-api/api/internal/tests/views/test_account_viewset.py
  apps/worker/database/models/core.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
  libs/shared/tests/unit/plan/test_plan.py
Due: worker, codecov-api, shared

nuke has account
  libs/shared/shared/plan/service.py
Due: shared

couple more references
  apps/codecov-api/api/internal/owner/views.py
  apps/codecov-api/codecov_auth/views/okta_cloud.py
  apps/worker/tasks/activate_account_user.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: worker, codecov-api, shared

fix okta account stuff
  apps/codecov-api/graphql_api/helpers/mutation.py
  apps/codecov-api/graphql_api/types/owner/owner.py
Due: codecov-api

remove required from action (#521)
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

fix: Allow owner-based billing when sentry merge account exists (#526)
  apps/codecov-api/api/internal/owner/serializers.py
  apps/codecov-api/api/internal/owner/views.py
  apps/codecov-api/api/internal/tests/views/cassetes/test_account_viewset/AccountViewSetTests/test_validate_plan_allows_update_for_sentry_merge_account.yaml
  apps/codecov-api/api/internal/tests/views/test_account_viewset.py
  apps/codecov-api/codecov_auth/views/okta_cloud.py
  apps/codecov-api/graphql_api/helpers/mutation.py
  apps/codecov-api/graphql_api/types/owner/owner.py
  apps/worker/database/models/core.py
  apps/worker/tasks/activate_account_user.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/plan/service.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
  libs/shared/tests/unit/plan/test_plan.py
Due: worker, codecov-api, shared

Add show_patch_table configuration option for PR comments
  apps/worker/services/notification/notifiers/mixins/message/sections.py
  libs/shared/shared/validation/user_schema.py
Due: worker, shared

fix: Add plan does not exist exception handling
  apps/codecov-api/billing/views.py
Due: codecov-api

Add status_emoji_on_coverage_change configuration option
  apps/worker/services/notification/notifiers/mixins/message/sections.py
  apps/worker/services/notification/notifiers/mixins/message/writers.py
  libs/shared/shared/validation/user_schema.py
Due: worker, shared

Fix bug: pass changes argument to TeamPlanWriter.header_lines
  apps/worker/services/notification/notifiers/mixins/message/__init__.py
Due: worker

Add guards to prevent None errors when reports are missing
  apps/worker/services/notification/notifiers/mixins/message/sections.py
  apps/worker/services/notification/notifiers/mixins/message/writers.py
Due: worker

fix/CCMRG-1604_restore-legacy-pr-search-behavior
  libs/shared/shared/torngit/github.py
Due: shared

formatting
  libs/shared/shared/torngit/github.py
Due: shared

add _find_pr_by_search_issues
  libs/shared/shared/torngit/github.py
Due: shared

refactor: Update pull request retrieval logic to use new endpoint and improve test coverage
  libs/shared/shared/torngit/github.py
  libs/shared/tests/unit/torngit/test_github.py
Due: shared

style: Format line continuation for better readability in test case
  libs/shared/tests/unit/torngit/test_github.py
Due: shared

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
