Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

fix: merge commit SHA experiment
  apps/worker/rollouts/__init__.py
  apps/worker/tasks/sync_pull.py
  apps/worker/tasks/tests/integration/test_sync_pull.py
  apps/worker/tasks/tests/unit/test_sync_pull.py
Due: worker

fix: merge commit SHA experiment (#385)
  apps/worker/rollouts/__init__.py
  apps/worker/tasks/sync_pull.py
  apps/worker/tasks/tests/integration/test_sync_pull.py
  apps/worker/tasks/tests/unit/test_sync_pull.py
Due: worker

fix: merge commit sha sync pulls
  apps/worker/tasks/sync_pull.py
  apps/worker/tasks/tests/unit/test_sync_pull.py
Due: worker

fix: merge commit sha sync pulls (#387)
  apps/worker/tasks/sync_pull.py
  apps/worker/tasks/tests/unit/test_sync_pull.py
Due: worker

fix(codecov): Change solution to flatten any single dir child directories
  apps/codecov-api/services/path.py
  apps/codecov-api/services/tests/test_path.py
Due: codecov-api

chore(devenv): Add an explicit URL to the main application
  tools/devenv/Makefile.devenv
Due: none

fix: add devin to hardcoded list of bot users
  apps/worker/services/decoration.py
Due: worker

fix: add devin to hardcoded list of bot users (#391)
  apps/worker/services/decoration.py
Due: worker

ref: github webhooks
  apps/codecov-api/services/task/task.py
  apps/codecov-api/services/task/task_router.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/worker/celery_task_router.py
  apps/worker/tasks/__init__.py
  apps/worker/tasks/status_set_pending.py
  apps/worker/tasks/tests/integration/test_status_set_pending_task.py
  apps/worker/tasks/tests/unit/test_status_set_pending.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/celery_config.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, codecov-api, shared

feat: add endpoint for ingesting webhooks forwarded from Sentry
  apps/codecov-api/rollouts/__init__.py
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/urls.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

chore(devenv): Add an explicit URL to the main application (#389)
  tools/devenv/Makefile.devenv
Due: none

fix: was_squash_via_merge_commit logic
  apps/worker/tasks/sync_pull.py
  apps/worker/tasks/tests/unit/test_sync_pull.py
Due: worker

fix: redefine new CAs to group by test_id
  ci-tests.docker-compose.yml
  docker-compose.yml
  libs/shared/shared/django_apps/migration_utils.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0030_redefine_test_aggregate_dailies_by_test_id.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

feat(admin): Admin view for upload breadcrumbs
  apps/codecov-api/codecov/settings_base.py
  libs/shared/shared/django_apps/settings_test.py
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/templates/admin/upload_breadcrumbs/uploadbreadcrumb/change_list.html
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: codecov-api, shared

fix(api): Make all config values use standard config function
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov/settings_prod.py
  apps/codecov-api/codecov/settings_staging.py
Due: codecov-api

feat: add logs to report merging
  apps/worker/services/processing/merging.py
Due: worker

fix: add boolean type casting for LCOV partials_as_hits config
  apps/worker/services/report/languages/lcov.py
  apps/worker/services/report/languages/tests/unit/test_lcov.py
Due: worker

feat: add logs to report merging (#397)
  apps/worker/services/processing/merging.py
Due: worker

fix: was_squash_via_merge_commit logic (#388)
  apps/worker/tasks/sync_pull.py
  apps/worker/tasks/tests/unit/test_sync_pull.py
Due: worker

chore: add logs to process flakes new impl
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

fix: update webhook github app installation handling
  apps/codecov-api/webhook_handlers/views/github.py
  libs/shared/shared/github/__init__.py
Due: codecov-api, shared

feat(api): Flatten single directories with single children for tree viewer
  apps/codecov-api/services/path.py
  apps/codecov-api/services/tests/test_path.py
Due: codecov-api

fix(api): Allow using more path segments for flattened dirs
  apps/codecov-api/services/path.py
  apps/codecov-api/services/tests/test_path.py
Due: codecov-api

chore: Address PR feedback
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: shared

feat(admin): Admin view for upload breadcrumbs (#394)
  apps/codecov-api/codecov/settings_base.py
  libs/shared/shared/django_apps/settings_test.py
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/templates/admin/upload_breadcrumbs/uploadbreadcrumb/change_list.html
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: codecov-api, shared

feat(shared): Config options for upload breadcrumbs retention period
  libs/shared/shared/django_apps/utils/partitioning.py
Due: shared

fix(api): Make all config values use standard config function (#396)
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov/settings_prod.py
  apps/codecov-api/codecov/settings_staging.py
Due: codecov-api

feat(shared): Config options for upload breadcrumbs retention period (#395)
  libs/shared/shared/django_apps/utils/partitioning.py
Due: shared

chore(codecov): Add comments
  apps/codecov-api/services/path.py
Due: codecov-api

chore: add logs to process flakes new impl (#399)
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

feat(api): Flatten directories with single child directory for tree v… (#386)
  apps/codecov-api/services/path.py
  apps/codecov-api/services/tests/test_path.py
Due: codecov-api

feat: Performance improvements for Django admin
  apps/codecov-api/compare/admin.py
  apps/codecov-api/core/admin.py
  apps/codecov-api/reports/admin.py
  apps/codecov-api/timeseries/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/utils/paginator.py
  libs/shared/tests/unit/django_apps/utils/test_paginator.py
Due: codecov-api, shared

chore: Remove overwatch-cli
  .github/workflows/upload-overwatch.yml
Due: none
