Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

feat: Add repo name and service id to django admin repo search (#591)
  apps/codecov-api/core/admin.py
  libs/shared/shared/django_apps/core/migrations/0080_repository_repos_name_trgm_idx.py
  libs/shared/shared/django_apps/core/models.py
Due: codecov-api, shared

fix: serialize array field
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

address gpt feedback on specific field serialization
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

more serialization fn fixing
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

fix: serialize array field (#675)
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

add certain fields to nullify
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/models_registry.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

add error handling during bucket creation
  libs/shared/shared/owner_data_import/owner_data_import.py
Due: shared

try is_compressed=true
  libs/shared/shared/owner_data_import/owner_data_import.py
Due: shared

adjust relative path for windows edge case
  libs/shared/shared/owner_data_import/owner_data_import.py
Due: shared

Adrian/create data importer (#664)
  libs/shared/shared/owner_data_import/__init__.py
  libs/shared/shared/owner_data_import/owner_data_import.py
  libs/shared/shared/storage/minio.py
Due: shared

refactor: reduce comments in per-task session code
  apps/worker/tasks/base.py
Due: worker

Adrian/nullify certain fields (#676)
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/models_registry.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

fix(worker): Refresh commit after acquiring lock to prevent report overwrites (#672)
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/upload_finisher.py
Due: worker

fix: add pull composite index
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

fix: add pull composite index (#677)
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

feat: Pre-download bundle uploads before lock to reduce contention
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
  apps/worker/services/lock_manager.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

Fix default value for task_reject_on_worker_lost
  libs/shared/shared/celery_config.py
Due: shared

Fix default value for task_reject_on_worker_lost (#679)
  libs/shared/shared/celery_config.py
Due: shared

fix(worker): Remove Sentry re-initialization in forked workers
  apps/worker/celery_config.py
Due: worker

Prepare release 26.2.2
  VERSION
Due: none

fix(worker): Update Docker command in Makefile to use 'docker compose' syntax
  apps/worker/Makefile
Due: worker

add version 26.2.2 migration
  apps/codecov-api/billing/management/commands/apply_subscription_schedules.py
  libs/shared/shared/django_apps/core/migrations/0081_increment_version.py
Due: codecov-api, shared

perf: add performance improvements to data export
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/models_registry.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

address bugbot values
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

Adrian/export performance tweaks (#682)
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/models_registry.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

Release 26.2.2 (#681)
  VERSION
  apps/codecov-api/billing/management/commands/apply_subscription_schedules.py
  libs/shared/shared/django_apps/core/migrations/0081_increment_version.py
Due: codecov-api, shared

adjust timescale query
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

fix for max even
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
Due: worker

fix: add logs + query exception for deep models
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

have the archive_collector use the commit context subquery
  libs/shared/shared/owner_data_export/archive_collector.py
Due: shared

adjust timescale query (#683)
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

ref(worker): Remove licensing check from self-hosted
  apps/codecov-api/api/internal/license/serializers.py
  apps/codecov-api/api/internal/tests/test_permissions.py
  apps/codecov-api/api/internal/tests/views/test_self_hosted_user_viewset.py
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/tests/unit/views/test_base.py
  apps/codecov-api/codecov_auth/views/base.py
  apps/codecov-api/graphql_api/tests/test_config.py
  apps/codecov-api/graphql_api/tests/test_plan.py
  apps/codecov-api/graphql_api/types/config/config.py
  apps/codecov-api/services/self_hosted.py
  apps/codecov-api/services/tests/test_self_hosted.py
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/webhook_handlers/tests/test_gitlab_enterprise.py
  apps/codecov-api/webhook_handlers/views/gitlab.py
  apps/worker/main.py
  apps/worker/services/activation.py
  apps/worker/services/bundle_analysis/notify/messages/comment.py
  apps/worker/services/bundle_analysis/notify/messages/tests/test_comment.py
  apps/worker/services/decoration.py
  apps/worker/services/license.py
  apps/worker/services/notification/__init__.py
  apps/worker/services/notification/notifiers/comment/__init__.py
  apps/worker/services/notification/notifiers/tests/unit/test_comment.py
  apps/worker/services/notification/tests/unit/test_notification_service.py
  apps/worker/services/test_results.py
  apps/worker/services/tests/test_activation.py
  apps/worker/services/tests/test_billing.py
  apps/worker/services/tests/test_decoration.py
  apps/worker/services/tests/test_license.py
  apps/worker/services/urls.py
  apps/worker/tasks/status_set_error.py
  apps/worker/tests/unit/test_main.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/license/__init__.py
  libs/shared/shared/plan/service.py
  libs/shared/shared/self_hosted/service.py
  libs/shared/shared/validation/install.py
  libs/shared/tests/unit/plan/test_plan.py
  libs/shared/tests/unit/self_hosted/test_self_hosted.py
  libs/shared/tests/unit/test_license.py
Due: worker, codecov-api, shared

refactor: Use context manager for bundle upload file lifecycle
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

fix: Fix context manager exception handling and update tests
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

fix: Remove duplicate imports from test function
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
Due: worker

fix: Close leaked file descriptor from tempfile.mkstemp()
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

add indeces to many tables for faster export
  libs/shared/shared/django_apps/core/migrations/0081_commiterror_commit_id_idx.py
  libs/shared/shared/django_apps/core/models.py
  libs/shared/shared/django_apps/reports/migrations/0044_add_fk_indexes.py
  libs/shared/shared/django_apps/reports/models.py
  libs/shared/shared/django_apps/timeseries/migrations/0021_dataset_repo_id_idx.py
  libs/shared/shared/django_apps/timeseries/models.py
Due: shared

adjust conflicting migration names
  libs/shared/shared/django_apps/core/migrations/0082_commiterror_commit_id_idx.py
Due: shared

blah
  libs/shared/shared/django_apps/core/migrations/0082_commiterror_commit_id_idx.py
Due: shared

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
