Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

chore: Remove overwatch-cli (#404)
  .github/workflows/upload-overwatch.yml
Due: none

fix(billing): check admin is in org before sending email
  apps/codecov-api/billing/helpers.py
  apps/codecov-api/billing/tests/test_views.py
  apps/codecov-api/billing/views.py
Due: codecov-api

feat: Performance improvements for Django admin (#401)
  apps/codecov-api/compare/admin.py
  apps/codecov-api/core/admin.py
  apps/codecov-api/reports/admin.py
  apps/codecov-api/timeseries/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/utils/paginator.py
  libs/shared/tests/unit/django_apps/utils/test_paginator.py
Due: codecov-api, shared

fix(billing): check admin is in org before sending email (#400)
  apps/codecov-api/billing/helpers.py
  apps/codecov-api/billing/tests/test_views.py
  apps/codecov-api/billing/views.py
Due: codecov-api

feat(shared): Index for upload breadcrumbs loaded in admin UI
  libs/shared/shared/django_apps/upload_breadcrumbs/migrations/0002_uploadbreadcrumb_upload_breadcrumbs_created_id.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
Due: shared

Add .cursor to .gitignore
  .gitignore
Due: none

fix: Sync repos rename repo name
  apps/worker/tasks/sync_repos.py
  apps/worker/tasks/tests/unit/test_sync_repos_task.py
Due: worker

fix: update sync_teams and ref stripe webhooks
  apps/codecov-api/billing/helpers.py
  apps/codecov-api/billing/tests/test_views.py
  apps/codecov-api/billing/views.py
  apps/worker/helpers/admins.py
  apps/worker/helpers/tests/unit/test_admins.py
  apps/worker/tasks/sync_teams.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/tests/unit/helpers/test_admins.py
Due: worker, codecov-api, shared

update the trigger function instead
  apps/worker/tasks/sync_repos.py
  apps/worker/tasks/tests/unit/test_sync_repos_task.py
  libs/shared/shared/django_apps/core/migrations/0075_fix_repos_trigger_conflict.py
Due: worker, shared

fix test
  apps/worker/tasks/tests/unit/test_sync_repos_task.py
Due: worker

feat(shared): Pull request comment table
  libs/shared/shared/django_apps/test_analytics/migrations/0003_pullcomment_pullcomment_ta_pr_comment_repo_pull.py
  libs/shared/shared/django_apps/test_analytics/models.py
Due: shared

feat(shared): Pull request comment table (#409)
  libs/shared/shared/django_apps/test_analytics/migrations/0003_pullcomment_pullcomment_ta_pr_comment_repo_pull.py
  libs/shared/shared/django_apps/test_analytics/models.py
Due: shared

feat: create new upload model and UploadContext
  libs/shared/shared/django_apps/test_analytics/migrations/0004_taupload.py
  libs/shared/shared/django_apps/test_analytics/models.py
  libs/shared/shared/upload/types.py
Due: shared

feat(api): Expose plan free seat count
  apps/codecov-api/core/management/commands/codecovPlans-Jan25.csv
  apps/codecov-api/graphql_api/types/plan/plan.graphql
  apps/codecov-api/graphql_api/types/plan/plan.py
  libs/shared/tests/unit/plan/test_plan.py
Due: codecov-api, shared

feat: create new upload model and UploadContext (#402)
  libs/shared/shared/django_apps/test_analytics/migrations/0004_taupload.py
  libs/shared/shared/django_apps/test_analytics/models.py
  libs/shared/shared/upload/types.py
Due: shared

ref: github webhooks
  apps/codecov-api/services/task/task.py
  apps/codecov-api/services/task/task_router.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/worker/celery_task_router.py
  apps/worker/tasks/__init__.py
  apps/worker/tasks/status_set_pending.py
  apps/worker/tasks/tests/integration/test_status_set_pending_task.py
  apps/worker/tasks/tests/unit/test_status_set_pending.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/celery_config.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, codecov-api, shared

chore(shared): Rename TA pull requests comment model
  libs/shared/shared/django_apps/test_analytics/migrations/0005_rename_pullcomment_tapullcomment.py
  libs/shared/shared/django_apps/test_analytics/models.py
Due: shared

chore: Add TA relations for deletion
  apps/worker/services/cleanup/relations.py
  apps/worker/services/cleanup/tests/snapshots/relations__builds_delete_queries__owner.txt
  apps/worker/services/cleanup/tests/snapshots/relations__builds_delete_queries__repository.txt
Due: worker

ref: github webhooks (#392)
  apps/codecov-api/services/task/task.py
  apps/codecov-api/services/task/task_router.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/worker/celery_task_router.py
  apps/worker/tasks/__init__.py
  apps/worker/tasks/status_set_pending.py
  apps/worker/tasks/tests/integration/test_status_set_pending_task.py
  apps/worker/tasks/tests/unit/test_status_set_pending.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/celery_config.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, codecov-api, shared

chore: Rename TA pull comments and add relations for deletion (#410)
  apps/worker/services/cleanup/relations.py
  apps/worker/services/cleanup/tests/snapshots/relations__builds_delete_queries__owner.txt
  apps/worker/services/cleanup/tests/snapshots/relations__builds_delete_queries__repository.txt
  libs/shared/shared/django_apps/test_analytics/migrations/0005_rename_pullcomment_tapullcomment.py
  libs/shared/shared/django_apps/test_analytics/models.py
Due: worker, shared

fix: update TAUploadContext to include storage path
  libs/shared/shared/upload/types.py
Due: shared

feat(shared): Index for upload breadcrumbs loaded in admin UI (#405)
  libs/shared/shared/django_apps/upload_breadcrumbs/migrations/0002_uploadbreadcrumb_upload_breadcrumbs_created_id.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
Due: shared

fix: update TAUploadContext to include storage path (#411)
  libs/shared/shared/upload/types.py
Due: shared

feat: detect flakes task implementation
  apps/codecov-api/services/task/task.py
  apps/worker/tasks/__init__.py
  apps/worker/tasks/detect_flakes.py
  apps/worker/tasks/tests/unit/test_detect_flakes.py
  libs/shared/shared/celery_config.py
Due: worker, codecov-api, shared

feat: define new ingest_testruns task for prevent TA pipeline
  apps/worker/tasks/__init__.py
  apps/worker/tasks/ingest_testruns.py
  apps/worker/tasks/tests/unit/test_ingest_testruns.py
  libs/shared/shared/celery_config.py
Due: worker, shared

chore: Update `UploaderType` imports
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_get_uploads_number_per_user.py
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/tests/test_throttles.py
  apps/codecov-api/upload/views/uploads.py
  apps/worker/services/tests/test_decoration.py
  apps/worker/tasks/upload.py
Due: worker, codecov-api

feat(shared): Pipeline for TA uploads and move `UploaderType`
  libs/shared/shared/upload/types.py
  libs/shared/shared/upload/utils.py
Due: shared

feat(shared): Pipeline for TA uploads and move `UploaderType` (#414)
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_get_uploads_number_per_user.py
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/tests/test_throttles.py
  apps/codecov-api/upload/views/uploads.py
  apps/worker/services/tests/test_decoration.py
  apps/worker/tasks/upload.py
  libs/shared/shared/upload/types.py
  libs/shared/shared/upload/utils.py
Due: worker, codecov-api, shared

debug: trying to figure out where these interface errors are coming from
  apps/worker/tasks/base.py
  apps/worker/tasks/test_results_processor.py
Due: worker

debug: trying to figure out where these interface errors are coming from (#415)
  apps/worker/tasks/base.py
  apps/worker/tasks/test_results_processor.py
Due: worker

fix: enable conn_health_checks to avoid interface errors
  apps/worker/tasks/base.py
  libs/shared/shared/django_apps/db_settings.py
Due: worker, shared

fix: enable conn_health_checks to avoid interface errors (#416)
  apps/worker/tasks/base.py
  libs/shared/shared/django_apps/db_settings.py
Due: worker, shared

refactor: Notifier class supports `TAUploadContext`
  apps/worker/helpers/notifier.py
  apps/worker/services/repository.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_results.py
  apps/worker/services/tests/test_repository_service.py
  apps/worker/services/tests/test_test_results.py
  apps/worker/services/urls.py
  apps/worker/tasks/notify_error.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/tests/unit/test_notify_error_task.py
Due: worker

refactor: Notifier class supports `TAUploadContext` (#417)
  apps/worker/helpers/notifier.py
  apps/worker/services/repository.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_results.py
  apps/worker/services/tests/test_repository_service.py
  apps/worker/services/tests/test_test_results.py
  apps/worker/services/urls.py
  apps/worker/tasks/notify_error.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/tests/unit/test_notify_error_task.py
Due: worker

feat(worker): Fetch flags with failures
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
Due: worker

feat: add endpoint for ingesting webhooks forwarded from Sentry
  apps/codecov-api/rollouts/__init__.py
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/urls.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api
