Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

fix: bot user bypass seat activation
  apps/worker/services/decoration.py
Due: worker

fix: bot user bypass seat activation (#431)
  apps/worker/services/decoration.py
Due: worker

feat(prevent): add ttl field to testrun hypertable
  apps/worker/services/test_analytics/prevent_timeseries.py
  libs/shared/shared/django_apps/prevent_timeseries/migrations/0004_add_ttl_to_testrun.py
  libs/shared/shared/django_apps/prevent_timeseries/models.py
Due: worker, shared

feat: backfill TTL rows in testrun hypertable
  libs/shared/shared/django_apps/prevent_timeseries/migrations/0005_backfill_ttl_60_days.py
Due: shared

feat: add TTL retention jobs to the prevent timeseries table
  libs/shared/shared/django_apps/migration_utils.py
  libs/shared/shared/django_apps/prevent_timeseries/migrations/0006_register_testrun_ttl_retention_with_helper.py
Due: shared

feat: new TA upload endpoint
  apps/codecov-api/services/task/task.py
  apps/codecov-api/services/tests/test_task.py
  apps/codecov-api/upload/tests/views/test_upload_test_analytics.py
  apps/codecov-api/upload/urls.py
  apps/codecov-api/upload/views/upload_test_analytics.py
  apps/worker/tasks/ingest_testruns.py
  libs/shared/shared/upload/types.py
Due: worker, codecov-api, shared

fix: update IP extraction logic in LoginMixin and AsyncGraphqlView
  apps/codecov-api/codecov_auth/views/base.py
  apps/codecov-api/graphql_api/views.py
Due: codecov-api

silly, reverting
  apps/codecov-api/codecov_auth/views/base.py
  apps/codecov-api/graphql_api/views.py
Due: codecov-api

fix: correct IP extraction logic in LoginMixin and AsyncGraphqlView
  apps/codecov-api/codecov_auth/views/base.py
  apps/codecov-api/graphql_api/views.py
Due: codecov-api

silly, reverting (#435)
  apps/codecov-api/codecov_auth/views/base.py
  apps/codecov-api/graphql_api/views.py
Due: codecov-api

fix: refine IP extraction logic in LoginMixin and AsyncGraphqlView
  apps/codecov-api/codecov_auth/views/base.py
  apps/codecov-api/graphql_api/views.py
Due: codecov-api

test: Add gql test
  apps/codecov-api/graphql_api/tests/test_plan.py
Due: codecov-api

feat(api): Expose plan free seat count
  apps/codecov-api/core/management/commands/codecovPlans-Jan25.csv
  apps/codecov-api/graphql_api/types/plan/plan.graphql
  apps/codecov-api/graphql_api/types/plan/plan.py
  libs/shared/tests/unit/plan/test_plan.py
Due: codecov-api, shared

feat(devenv): Django debug toolbar in development
  apps/codecov-api/codecov/settings_dev.py
  apps/codecov-api/codecov/urls.py
  docker-compose.yml
  pyproject.toml
  uv.lock
Due: codecov-api

ci: Bump enforce license action version
  .github/workflows/enforce-license-compliance.yml
Due: none

feat(shared): Custom searching for upload breadcrumbs
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: shared

chore(shared): Additional indexes for upload breadcrumbs
  libs/shared/shared/django_apps/upload_breadcrumbs/migrations/0003_remove_uploadbreadcrumb_upload_breadcrumbs_sha_repo_and_more.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
Due: shared

feat(api): Expose plan free seat count (#413)
  apps/codecov-api/core/management/commands/codecovPlans-Jan25.csv
  apps/codecov-api/graphql_api/tests/test_plan.py
  apps/codecov-api/graphql_api/types/plan/plan.graphql
  apps/codecov-api/graphql_api/types/plan/plan.py
  libs/shared/tests/unit/plan/test_plan.py
Due: codecov-api, shared

feat(devenv): Django debug toolbar in development (#439)
  .github/workflows/enforce-license-compliance.yml
  apps/codecov-api/codecov/settings_dev.py
  apps/codecov-api/codecov/urls.py
  docker-compose.yml
  pyproject.toml
  uv.lock
Due: codecov-api

feat: improved upload breadcrumbs search performance (#440)
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/migrations/0003_remove_uploadbreadcrumb_upload_breadcrumbs_sha_repo_and_more.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: shared

fix(api): Configurable proxy depth
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/helpers.py
  apps/codecov-api/codecov_auth/tests/unit/test_helpers.py
  apps/codecov-api/codecov_auth/views/base.py
  apps/codecov-api/graphql_api/views.py
Due: codecov-api

fix: update ts create index functions to support desc indexes
  libs/shared/shared/django_apps/migration_utils.py
Due: shared

feat: create migration utils for timescale
  libs/shared/shared/django_apps/migration_utils.py
Due: shared

fix(api): Configurable proxy depth (#437)
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/helpers.py
  apps/codecov-api/codecov_auth/tests/unit/test_helpers.py
  apps/codecov-api/codecov_auth/views/base.py
  apps/codecov-api/graphql_api/views.py
Due: codecov-api

Add models for owners to be deleted
  libs/shared/shared/django_apps/codecov_auth/migrations/0072_ownertobedeleted.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: shared

fix: django state
  libs/shared/shared/django_apps/ta_timeseries/migrations/0032_testrun_ta_ts__repo_test_time_idx.py
Due: shared

feat: Uploader context for upload breadcrumbs
  apps/worker/tasks/tests/unit/test_upload_breadcrumb.py
  apps/worker/tasks/upload_breadcrumb.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_models.py
Due: worker, shared

feat: Uploader context for upload breadcrumbs (#445)
  apps/worker/tasks/tests/unit/test_upload_breadcrumb.py
  apps/worker/tasks/upload_breadcrumb.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_models.py
Due: worker, shared

Add a new service type for deletion
  libs/shared/shared/django_apps/codecov_auth/migrations/0073_alter_owner_service.py
  libs/shared/shared/django_apps/codecov_auth/models.py
Due: shared

Add a soft delete job that obfuscate owner
  apps/worker/tasks/__init__.py
  apps/worker/tasks/mark_owner_for_deletion.py
  apps/worker/tasks/tests/unit/test_mark_owner_for_deletion.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/utils/enums.py
Due: worker, shared

feat(api): Uploader context for upload breadcrumbs
  apps/codecov-api/upload/constants.py
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/tests/test_upload.py
  apps/codecov-api/upload/tests/views/test_upload_coverage.py
  apps/codecov-api/upload/views/commits.py
  apps/codecov-api/upload/views/empty_upload.py
  apps/codecov-api/upload/views/legacy.py
  apps/codecov-api/upload/views/reports.py
  apps/codecov-api/upload/views/upload_completion.py
  apps/codecov-api/upload/views/upload_coverage.py
  apps/codecov-api/upload/views/uploads.py
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: codecov-api, shared

feat(api): Uploader context for upload breadcrumbs (#446)
  apps/codecov-api/upload/constants.py
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/tests/test_upload.py
  apps/codecov-api/upload/tests/views/test_upload_coverage.py
  apps/codecov-api/upload/views/commits.py
  apps/codecov-api/upload/views/empty_upload.py
  apps/codecov-api/upload/views/legacy.py
  apps/codecov-api/upload/views/reports.py
  apps/codecov-api/upload/views/upload_completion.py
  apps/codecov-api/upload/views/upload_coverage.py
  apps/codecov-api/upload/views/uploads.py
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: codecov-api, shared

WIP: start of work to get off of CIText for Django 5.1
  apps/worker/database/models/core.py
  apps/worker/tasks/tests/unit/test_sync_repo_languages_gql.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0072_case_insensitive_collation.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0073_alter_owner_username_alter_user_email.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/django_apps/core/migrations/0072_alter_repository_name.py
  libs/shared/shared/django_apps/core/models.py
  libs/shared/shared/django_apps/legacy_migrations/migrations/0010_drop_owners_repos_triggers.py
  libs/shared/shared/django_apps/legacy_migrations/migrations/0011_recreate_owners_before_update_trigger.py
Due: worker, shared

fix: django state (#441)
  libs/shared/shared/django_apps/ta_timeseries/migrations/0032_testrun_ta_ts__repo_test_time_idx.py
Due: shared

feat: swap out old CAs with new ones
  libs/shared/shared/django_apps/ta_timeseries/migrations/0040_rename_ttl_continuous_aggregates.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0041_drop_old_continuous_aggregates.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0042_create_ttl_retention_policies.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0043_add_hourly_retention_policies.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

feat: use new CAs with commits failed fixed
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_non_precomputed_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_slowest_parameter__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale/__init__.py
  apps/codecov-api/utils/timescale/flake_aggregates.py
  apps/codecov-api/utils/timescale/metadata.py
  apps/codecov-api/utils/timescale/test_aggregates.py
  apps/codecov-api/utils/timescale/test_results.py
  apps/codecov-api/utils/timescale/timescale_utils.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

feat: no longer do cache rollups in new pipeline
  apps/codecov-api/utils/test_results.py
  apps/worker/services/test_analytics/ta_cache_rollups.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
Due: worker, codecov-api

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
