Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

fix(bitbucket): replace retired CHANGE-3022 endpoints
  libs/shared/shared/torngit/bitbucket.py
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_authenticated.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_authenticated_no_edit_permission.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_is_admin.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_is_admin_not_admin.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_list_permissions.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_list_repos_no_username.yaml
  libs/shared/tests/integration/test_bitbucket.py
  libs/shared/tests/unit/torngit/test_bitbucket.py
Due: shared

remove list_permissions from sync path
  libs/shared/shared/torngit/bitbucket.py
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_list_permissions.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_list_repos_no_username.yaml
  libs/shared/tests/integration/test_bitbucket.py
Due: shared

fix(bitbucket): use workspace-scoped endpoint in get_authenticated
  libs/shared/shared/torngit/bitbucket.py
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_authenticated.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_authenticated_no_edit_permission.yaml
  libs/shared/tests/unit/torngit/test_bitbucket.py
Due: shared

cleanup: remove repos_to_log dead code
  libs/shared/shared/torngit/bitbucket.py
Due: shared

test: remove orphaned mock in test_list_repos_exception_mid_call
  libs/shared/tests/unit/torngit/test_bitbucket.py
Due: shared

style: apply pre-commit formatting fixes
  apps/worker/tasks/process_owners_to_be_deleted_cron.py
Due: worker

Fix/owners delete (#882)
  apps/worker/celery_config.py
  apps/worker/tasks/process_owners_to_be_deleted_cron.py
  apps/worker/tasks/tests/unit/test_process_owners_to_be_deleted_cron.py
Due: worker

docs(bitbucket): update list_repos docstring to reflect workspace-scoped approach
  libs/shared/shared/torngit/bitbucket.py
Due: shared

fix(bitbucket): replace retired CHANGE-3022 API endpoints (#883)
  libs/shared/shared/torngit/bitbucket.py
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_authenticated.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_authenticated_no_edit_permission.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_is_admin.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_is_admin_not_admin.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_list_permissions.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_list_repos_no_username.yaml
  libs/shared/tests/integration/test_bitbucket.py
  libs/shared/tests/unit/torngit/test_bitbucket.py
Due: shared

feat: handle repo rename webhooks for Bitbucket and Bitbucket Server
  apps/codecov-api/webhook_handlers/constants.py
  apps/codecov-api/webhook_handlers/tests/test_bitbucket.py
  apps/codecov-api/webhook_handlers/tests/test_bitbucket_server.py
  apps/codecov-api/webhook_handlers/views/bitbucket.py
  apps/codecov-api/webhook_handlers/views/bitbucket_server.py
Due: codecov-api

feat(api): redis_admin app — view Redis queue keys in Django admin (M1)
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/redis_admin/__init__.py
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/apps.py
  apps/codecov-api/redis_admin/conn.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/models.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/settings.py
  apps/codecov-api/redis_admin/tests/__init__.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_queryset.py
Due: codecov-api

feat(api): redis_admin per-queue items view (M2)
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/models.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_item_queryset.py
Due: codecov-api

feat(api): redis_admin app — view Redis queue keys in Django admin (M1) (#885)
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/redis_admin/__init__.py
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/apps.py
  apps/codecov-api/redis_admin/conn.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/models.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/settings.py
  apps/codecov-api/redis_admin/tests/__init__.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_queryset.py
Due: codecov-api

feat(api): redis_admin filters, search, repo/commit links (M3)
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/models.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_families.py
  apps/codecov-api/redis_admin/tests/test_queryset.py
Due: codecov-api

feat(api): redis_admin per-queue items + filters/search/links (M2 + M3) (#887)
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/models.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_families.py
  apps/codecov-api/redis_admin/tests/test_item_queryset.py
  apps/codecov-api/redis_admin/tests/test_queryset.py
Due: codecov-api

feat(api): redis_admin queue/lock changelist shows owner/repo display
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
Due: codecov-api

fix(api): redis_admin item change page renders read-only inspector
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
Due: codecov-api

feat(api): redis_admin M4 + M5 — new families, locks view, deletion service
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/models.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/settings.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_families.py
  apps/codecov-api/redis_admin/tests/test_item_queryset.py
  apps/codecov-api/redis_admin/tests/test_services.py
Due: codecov-api

feat(api): redis_admin queue change page renders items as tabular inline
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/templates/admin/redis_admin/items_inline_change_form.html
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
Due: codecov-api

fix(api): redis_admin queue change page renders read-only inspector
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
Due: codecov-api

fix(api): redis_admin lock SCAN pushdown + celery item-delete refusal
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/tests/test_families.py
  apps/codecov-api/redis_admin/tests/test_services.py
Due: codecov-api

feat(api): redis_admin M4 + M5 — new families, locks view, deletion service (#888)
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/models.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/settings.py
  apps/codecov-api/redis_admin/templates/admin/redis_admin/items_inline_change_form.html
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_families.py
  apps/codecov-api/redis_admin/tests/test_item_queryset.py
  apps/codecov-api/redis_admin/tests/test_services.py
Due: codecov-api

feat(api): redis_admin M6 + M7 — clear-by-scope, sentry spans, README
  apps/codecov-api/redis_admin/README.md
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/templates/admin/redis_admin/clear_by_scope.html
  apps/codecov-api/redis_admin/templates/admin/redis_admin/redisqueue/change_list.html
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
Due: codecov-api

chore(api): redis_admin pin "delete only by superusers" invariant
  apps/codecov-api/redis_admin/README.md
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
Due: codecov-api

feat(api): redis_admin bulk clear forces a dry-run interstitial
  apps/codecov-api/redis_admin/README.md
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/templates/admin/redis_admin/clear_selected_confirmation.html
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
Due: codecov-api

feat(api): redis_admin clear-by-scope adds family as a scope dimension
  apps/codecov-api/redis_admin/README.md
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/templates/admin/redis_admin/clear_by_scope.html
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
Due: codecov-api

feat(api): redis_admin M6 + M7 — clear-by-scope, sentry spans, README (#889)
  apps/codecov-api/redis_admin/README.md
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/templates/admin/redis_admin/clear_by_scope.html
  apps/codecov-api/redis_admin/templates/admin/redis_admin/clear_selected_confirmation.html
  apps/codecov-api/redis_admin/templates/admin/redis_admin/redisqueue/change_list.html
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
Due: codecov-api

feat(api): redis_admin routes celery_broker family to broker Redis
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/conn.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_conn.py
  apps/codecov-api/redis_admin/tests/test_families.py
  apps/codecov-api/redis_admin/tests/test_item_queryset.py
  apps/codecov-api/redis_admin/tests/test_queryset.py
  apps/codecov-api/redis_admin/tests/test_services.py
Due: codecov-api

style(api): apply ruff format to redis_admin broker routing
  apps/codecov-api/redis_admin/conn.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/tests/test_conn.py
  apps/codecov-api/redis_admin/tests/test_services.py
Due: codecov-api

feat(api): redis_admin routes celery_broker family to broker Redis (#890)
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/conn.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_conn.py
  apps/codecov-api/redis_admin/tests/test_families.py
  apps/codecov-api/redis_admin/tests/test_item_queryset.py
  apps/codecov-api/redis_admin/tests/test_queryset.py
  apps/codecov-api/redis_admin/tests/test_services.py
Due: codecov-api

feat(worker): pre-download bundle upload before lock to reduce contention
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/lock_manager.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

fix(api): redis_admin follow-up review fixes from PRs #885-#890
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_queryset.py
Due: codecov-api

redis_admin: enumerate operator-configured Celery queues
  apps/codecov-api/redis_admin/README.md
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/tests/test_families.py
Due: codecov-api

fix(api): redis_admin follow-up review fixes from PRs #885-#890 (#891)
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_queryset.py
Due: codecov-api

redis_admin: fix UP038 isinstance tuple in _operator_configured_celery_queues
  apps/codecov-api/redis_admin/families.py
Due: codecov-api

feat(api): redis_admin filter by celery queue name
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
Due: codecov-api

redis_admin: enforce family filter in _post_scan_predicate
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_queryset.py
Due: codecov-api

feat(api): redis_admin filter by celery queue name (#892)
  apps/codecov-api/redis_admin/README.md
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_families.py
  apps/codecov-api/redis_admin/tests/test_queryset.py
Due: codecov-api

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
