Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

add redis mock to test that fails locally
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
Due: worker

make app_id non-nullable
  libs/shared/shared/django_apps/codecov_auth/migrations/0067_alter_githubappinstallation_app_id.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0067.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
Due: shared

formatting
  libs/shared/shared/django_apps/codecov_auth/migrations/0068_alter_githubappinstallation_unique_together.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0068.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
Due: shared

add unique together constraint with dedupe logic
  libs/shared/shared/django_apps/codecov_auth/migrations/0068_alter_githubappinstallation_unique_together.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/__init__.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0068.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
Due: shared

add to worker table
  apps/worker/database/models/core.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
Due: worker, shared

remove deduping logic
  libs/shared/shared/django_apps/codecov_auth/migrations/0067_alter_githubappinstallation_app_id.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0067.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
Due: shared

Revert "add unique together constraint with dedupe logic (#192)"
  apps/worker/database/models/core.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0068_alter_githubappinstallation_unique_together.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/__init__.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0068.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
Due: worker, shared

fix(api): Add missing `return`s
  apps/codecov-api/graphql_api/actions/comparison.py
  apps/codecov-api/graphql_api/types/branch/branch.py
Due: codecov-api

chore(shared): Update GitHub doc URLs
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/github/__init__.py
Due: shared

chore(settings): Sentry app id configuration
  apps/codecov-api/codecov/settings_base.py
Due: codecov-api

chore(api): Pass Sentry integration flags down from request
  apps/codecov-api/codecov/commands/base.py
  apps/codecov-api/codecov/commands/executor.py
  apps/codecov-api/compare/commands/compare/interactors/fetch_impacted_files.py
  apps/codecov-api/core/commands/commit/interactors/get_file_content.py
  apps/codecov-api/core/commands/commit/interactors/get_final_yaml.py
  apps/codecov-api/graphql_api/types/commit/commit.py
  apps/codecov-api/graphql_api/types/comparison/comparison.py
  apps/codecov-api/graphql_api/types/pull/pull.py
  apps/codecov-api/services/comparison.py
  apps/codecov-api/services/components.py
  apps/codecov-api/services/path.py
  apps/codecov-api/services/yaml.py
Due: codecov-api

chore: Run pre-commit
  apps/worker/helpers/sentry.py
  libs/shared/shared/reports/reportfile.py
Due: worker, shared

feat(api): Sentry authentication middleware using organization
  apps/codecov-api/codecov_auth/constants.py
  apps/codecov-api/codecov_auth/middleware.py
Due: codecov-api

feat(api): Use Sentry GitHub app when flag passed
  apps/codecov-api/services/repo_providers.py
Due: codecov-api

test(api): Sentry authentication cases
  apps/codecov-api/codecov_auth/tests/test_middleware.py
  apps/codecov-api/graphql_api/tests/test_sentry_view.py
  apps/codecov-api/services/tests/test_components.py
  apps/codecov-api/services/tests/test_repo_providers.py
  apps/codecov-api/upload/tests/views/test_empty_upload.py
Due: codecov-api

Add a new GraphQL mutation to sync with app token
  apps/codecov-api/codecov_auth/commands/owner/interactors/trigger_sync.py
  apps/codecov-api/codecov_auth/commands/owner/owner.py
  apps/codecov-api/graphql_api/types/mutation/__init__.py
  apps/codecov-api/graphql_api/types/mutation/mutation.graphql
  apps/codecov-api/graphql_api/types/mutation/mutation.py
  apps/codecov-api/graphql_api/types/mutation/sync_repos/__init__.py
  apps/codecov-api/graphql_api/types/mutation/sync_repos/sync_repos.graphql
  apps/codecov-api/graphql_api/types/mutation/sync_repos/sync_repos.py
  apps/codecov-api/services/repo_providers.py
Due: codecov-api

Prepare release 25.6.2
  VERSION
Due: none

increment version
  libs/shared/shared/django_apps/core/migrations/0070_increment_version.py
Due: shared

making a comment change to redeploy
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

Add additional condition to simplecov report matcher
  apps/worker/services/report/languages/simplecov.py
  apps/worker/services/report/languages/tests/unit/test_simplecov.py
Due: worker

Add type check on content.meta
  apps/worker/services/report/languages/simplecov.py
Due: worker

chore: Remove depracated version field from CI tests compose file
  ci-tests.docker-compose.yml
Due: none

build(compose): Protect and cache config directory
  docker-compose.yml
Due: none

docs(README): Correct devenv instructions and add links
  README.md
Due: none

build(compose): Fix Minio port config
  ci-tests.docker-compose.yml
  docker-compose.yml
Due: none

chore: Update Minio port in test and old config files
  apps/codecov-api/api/internal/tests/unit/views/cassetes/test_compare_file_view/TestCompareSingleFileChangesView/test_fetch_file_cov_decrease___success.yaml
  apps/codecov-api/api/internal/tests/unit/views/cassetes/test_compare_file_view/TestCompareSingleFileChangesView/test_fetch_file_with_diff_change.yaml
  apps/codecov-api/api/internal/tests/unit/views/cassetes/test_compare_file_view/TestCompareSingleFileChangesView/test_fetch_file_with_filename_change.yaml
  apps/codecov-api/codecov/settings_dev.py
  apps/codecov-api/codecov/settings_test.py
  apps/codecov-api/development.yml
  apps/codecov-api/docker/codecov.yml
  apps/codecov-api/services/tests/cassetes/test_archive/TestReport/test_create_raw_upload_presigned_get.yaml
  apps/codecov-api/services/tests/cassetes/test_archive/TestReport/test_create_raw_upload_presigned_put.yaml
  apps/worker/conftest.py
  docker/codecov.yml
  libs/shared/docker/test.yml
  libs/shared/tests/conftest.py
  libs/shared/tests/unit/storage/test_init.py
  libs/shared/tests/unit/storage/test_minio.py
  libs/shared/tests/unit/test_api_archive.py
  libs/shared/tests/unit/test_config.py
  tools/devenv/config/test.yml
Due: worker, codecov-api, shared

chore: Consolidate GitHub configs to root
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  apps/codecov-api/.github/CODEOWNERS
  apps/worker/.github/ISSUE_TEMPLATE/bug_report.md
  apps/worker/.github/ISSUE_TEMPLATE/feature_request.md
  apps/worker/.github/pull_request_template.md
  libs/shared/.github/CODEOWNERS
  libs/shared/.github/ISSUE_TEMPLATE/bug_report.md
  libs/shared/.github/ISSUE_TEMPLATE/feature_request.md
  libs/shared/.github/pull_request_template.md
Due: worker, codecov-api, shared

chore: Remove old changelogs and redundant licenses
  apps/codecov-api/LICENSE.md
  apps/worker/CHANGELOG.md
  libs/shared/CHANGELOG.md
  libs/shared/LICENSE.md
Due: worker, codecov-api, shared

docs: Remove outdated badges and root `README` text
  apps/codecov-api/README.md
  apps/worker/README.md
  libs/shared/README.md
Due: worker, codecov-api, shared

chore: Remove old Codecov config files
  apps/codecov-api/ci.yml
  apps/codecov-api/development.yml
  apps/codecov-api/docker/codecov.yml
  apps/codecov-api/production.yml
  docker/codecov.yml
Due: codecov-api

chore: Remove unnecessary Docker `rm`s
  apps/codecov-api/docker/Dockerfile
  docker/Dockerfile
Due: codecov-api

add permissions
  .github/workflows/push-stage.yml
Due: none

add build step
  .github/workflows/push-stage.yml
Due: none

fix(api): Return type of `.get` is just an `Owner`
  apps/codecov-api/codecov_auth/middleware.py
  apps/codecov-api/codecov_auth/tests/test_middleware.py
  apps/codecov-api/graphql_api/tests/test_sentry_view.py
Due: codecov-api

Convert Upload Received to Repository Activated event
  apps/codecov-api/upload/tests/views/test_bundle_analysis.py
  apps/codecov-api/upload/tests/views/test_test_results.py
  apps/codecov-api/upload/tests/views/test_upload_coverage.py
  apps/codecov-api/upload/tests/views/test_uploads.py
  apps/codecov-api/upload/views/bundle_analysis.py
  apps/codecov-api/upload/views/test_results.py
  apps/codecov-api/upload/views/uploads.py
  libs/shared/shared/events/amplitude/types.py
  libs/shared/tests/unit/events/test_amplitude.py
Due: codecov-api, shared

Fix test
  apps/codecov-api/upload/tests/views/test_uploads.py
Due: codecov-api

fix: make docker-compose.yml "expose" api port internally instead of binding to host port
  docker-compose.yml
Due: none

ci: change how push-stage.yml job is run
  .github/workflows/ci-router.yml
  .github/workflows/push-stage.yml
Due: none

build: trigger all tests when reqs and build glue are changed
  .github/workflows/ci-router.yml
Due: none

build: unified Dockerfile
  .github/workflows/_run-tests.yml
  .github/workflows/shared-ci.yml
  Makefile
  apps/codecov-api/Makefile
  apps/codecov-api/docker/Dockerfile
  apps/codecov-api/docker/Dockerfile.requirements
  apps/codecov-api/pytest.ini
  apps/worker/Makefile
  apps/worker/django_scaffold/settings_dev.py
  apps/worker/django_scaffold/settings_enterprise.py
  apps/worker/django_scaffold/settings_prod.py
  apps/worker/django_scaffold/settings_test.py
  apps/worker/docker/Dockerfile
  apps/worker/docker/Dockerfile.requirements
  apps/worker/main.py
  apps/worker/manage.py
  apps/worker/migrate_timeseries.py
  apps/worker/pytest.ini
  apps/worker/services/test_analytics/ta_cache_rollups.py
  apps/worker/tasks/cache_test_rollups.py
  apps/worker/tasks/cache_test_rollups_redis.py
  ci-tests.docker-compose.yml
  docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
  docker/README.md
  libs/shared/pytest.ini
  libs/shared/shared/django_apps/manage.py
  libs/shared/shared/django_apps/settings_test.py
  tools/devenv/Makefile.test
  tools/devenv/scripts/start-api.sh
  tools/devenv/scripts/start-worker.sh
Due: worker, codecov-api, shared

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
