Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1
      - type: patch
        target: 90

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  wait_for_ci: false
  require_ci_to_pass: false

Prepare release 25.4.1
  VERSION
Due: none

fix self-hosted release workflow
  .github/workflows/self-hosted-release.yml
Due: none

revert VERSION file to test self-hosted release workflow
  VERSION
Due: none

add workflows that hooky will watch to trigger deployments
  .github/workflows/ci-router.yml
  .github/workflows/trigger-api-deploy.yml
  .github/workflows/trigger-worker-deploy.yml
Due: none

Removing existing libs/shared to make room to absorb shared
  .gitmodules
Due: none

Removing existing apps/worker to make room to absorb worker
  .gitmodules
Due: none

use local shared for worker
  apps/worker/pyproject.toml
  apps/worker/uv.lock
Due: worker

Removing existing apps/codecov-api to make room to absorb codecov-api
  .gitmodules
Due: none

use local shared for api
  apps/codecov-api/pyproject.toml
  apps/codecov-api/uv.lock
Due: codecov-api

dummy commit to test a pr migration script
  apps/worker/tasks/base.py
  apps/worker/tasks/upload.py
Due: worker

test second dummy commit;
  apps/worker/tasks/sync_pull.py
Due: worker

add migrate-pr.sh script to help migration
  tools/absorb-repo/README.md
  tools/absorb-repo/migrate-pr.sh
Due: none

update push-env workflow version
  .github/workflows/api-ci.yml
  .github/workflows/worker-ci.yml
Due: none

change SHARED_SHA command in Makefile
  Makefile
Due: none

disable noisy mypy ci workflows
  .github/workflows/api-ci.yml
  .github/workflows/shared-ci.yml
  .github/workflows/worker-ci.yml
Due: none

move deploy trigger jobs into their respective .yml workflows
  .github/workflows/api-ci.yml
  .github/workflows/ci-router.yml
  .github/workflows/shared-ci.yml
  .github/workflows/worker-ci.yml
Due: none

chore: change which host ports are used by devenv
  README.md
  docker-compose.yml
Due: none

add devenv.migrate make target to perform db migrations safely
  README.md
  tools/devenv/Makefile.devenv
Due: none

fix: add missing "s" to output name in self-hosted-release.yml
  .github/workflows/self-hosted-release.yml
Due: none

TESTING - do not merge
  libs/shared/README.md
Due: shared

add sentry repos and separate index to livegrep configuration
  tools/livegrep/README.md
  tools/livegrep/conf/livegrep.json
  tools/livegrep/docker-compose.indexer.yml
  tools/livegrep/docker-compose.yml
Due: none

fix incorrect key in codecov.yml
  codecov.yml
Due: none

fix(migrate-pr.sh): missing space in reviewer args list
  tools/absorb-repo/migrate-pr.sh
Due: none

chore: update reqs using uv
  requirements.in
  requirements.txt
Due: none

feat: create barebones sentry webhook endpoint
  apps/codecov-api/webhook_handlers/urls.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

Remove some pre-monorepo scripts/files
  .gitmodules
  apps/codecov-api/docker-compose.yml
  apps/worker/docker-compose.yml
  ci.yml
  docker-compose.yml
  libs/shared/docker-compose.yml
  manage.py
  requirements.in
  requirements.txt
  startup_scripts/dev.sh
  startup_scripts/enterprise.sh
  startup_scripts/migrate.sh
  startup_scripts/prod.sh
  startup_scripts/staging.sh
  startup_scripts/worker.sh
Due: worker, codecov-api, shared

Clean up some `report_code` usage
  apps/codecov-api/services/bundle_analysis.py
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/upload/tests/test_upload.py
  apps/codecov-api/upload/views/bundle_analysis.py
  apps/codecov-api/upload/views/legacy.py
  apps/codecov-api/upload/views/test_results.py
  apps/codecov-api/upload/views/uploads.py
  apps/worker/tasks/tests/integration/test_upload_e2e.py
  apps/worker/tasks/tests/unit/test_preprocess_upload.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker, codecov-api

add note to README about migrating to umbrella (#1301)
  apps/codecov-api/README.md
Due: codecov-api

first pass, intialize the method for failure rate:
  apps/codecov-api/api/public/v2/test_results/serializers.py
Due: codecov-api

linting
  apps/codecov-api/api/public/v2/test_results/serializers.py
Due: codecov-api

format doc
  apps/codecov-api/api/public/v2/test_results/serializers.py
Due: codecov-api

try this
  apps/codecov-api/api/public/v2/tests/test_test_results_view.py
Due: codecov-api

fix failure rate percentage
  apps/codecov-api/api/public/v2/tests/test_test_results_view.py
Due: codecov-api

Remove unused requirements
  requirements.in
  requirements.txt
Due: none

Replace `time-machine` by `freezegun`
  apps/codecov-api/codecov_auth/tests/unit/views/test_base.py
  apps/worker/pyproject.toml
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
  apps/worker/tasks/tests/unit/test_cache_test_rollups.py
  apps/worker/tasks/tests/unit/test_process_flakes.py
  apps/worker/tasks/tests/unit/test_test_results_processor_task.py
  apps/worker/uv.lock
Due: worker, codecov-api
