Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1
      - type: patch
        target: 90

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  wait_for_ci: false
  require_ci_to_pass: false

Implement consuming `vitest` json with `evals` metadata
  apps/worker/rollouts/__init__.py
  apps/worker/services/test_analytics/ta_processor.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_vitest_evals.py
  apps/worker/tasks/tests/integration/test_upload_e2e.py
Due: worker

Make `Pull.flare` cleanup less spammy
  apps/worker/services/cleanup/pulls.py
  apps/worker/services/cleanup/tests/test_pulls.py
Due: worker

Import `declarative_base` from different module
  libs/shared/shared/bundle_analysis/models.py
Due: shared

Remove some unused dependencies, along with protobuf stuff
  apps/codecov-api/pyproject.toml
  apps/codecov-api/uv.lock
  apps/worker/generated_proto/testrun/__init__.py
  apps/worker/generated_proto/testrun/ta_testrun_pb2.py
  apps/worker/protobuf/ta_testrun.proto
  apps/worker/pyproject.toml
  apps/worker/uv.lock
  libs/shared/pyproject.toml
  libs/shared/uv.lock
Due: worker, codecov-api, shared

Remove trivial `LineSession` constructions from tests
  apps/codecov-api/api/internal/tests/views/test_coverage_viewset.py
  apps/codecov-api/api/public/v2/tests/test_api_compare_viewset.py
  apps/codecov-api/api/public/v2/tests/test_api_component_viewset.py
  apps/codecov-api/api/public/v2/tests/test_file_report_viewset.py
  apps/codecov-api/api/public/v2/tests/test_flag_viewset.py
  apps/codecov-api/api/public/v2/tests/test_report_tree.py
  apps/codecov-api/api/public/v2/tests/test_report_viewset.py
  apps/codecov-api/api/public/v2/tests/test_totals_viewset.py
  apps/codecov-api/compare/commands/compare/interactors/tests/test_fetch_impacted_files.py
  apps/codecov-api/conftest.py
  apps/codecov-api/graphql_api/tests/test_commit.py
  apps/codecov-api/graphql_api/tests/test_components.py
  apps/codecov-api/graphql_api/tests/test_impacted_file.py
  apps/codecov-api/graphql_api/tests/test_path_content.py
  apps/codecov-api/graphs/tests/test_badge_handler.py
  apps/codecov-api/services/tests/test_components.py
  apps/codecov-api/services/tests/test_path.py
  apps/codecov-api/services/tests/test_report.py
  apps/worker/services/comparison/tests/unit/test_changes.py
  apps/worker/services/notification/notifiers/tests/conftest.py
  apps/worker/services/notification/notifiers/tests/unit/test_checks.py
  apps/worker/services/notification/notifiers/tests/unit/test_comment.py
  apps/worker/services/notification/notifiers/tests/unit/test_status.py
  apps/worker/services/notification/tests/unit/test_notification_service.py
  apps/worker/services/report/tests/unit/test_process.py
  apps/worker/services/report/tests/unit/test_report_builder.py
  apps/worker/services/report/tests/unit/test_sessions.py
  apps/worker/services/tests/test_report.py
  apps/worker/services/tests/test_timeseries.py
  apps/worker/tasks/tests/integration/test_upload_e2e.py
  apps/worker/tasks/tests/unit/conftest.py
  apps/worker/tasks/tests/unit/test_upload_processing_task.py
  libs/shared/tests/conftest.py
  libs/shared/tests/integration/test_report.py
  libs/shared/tests/unit/reports/samples/test_filtered.py
  libs/shared/tests/unit/reports/test_carryforward.py
  libs/shared/tests/unit/reports/test_editable.py
  libs/shared/tests/unit/test_report.py
  libs/shared/tests/unit/test_report_file.py
Due: worker, codecov-api, shared

add flare_cleanup to regular_cleanup
  apps/worker/services/cleanup/regular.py
  apps/worker/services/cleanup/tests/test_regular_cleanup.py
  apps/worker/tasks/flare_cleanup.py
  apps/worker/tasks/tests/unit/test_flare_cleanup.py
Due: worker

reduce queries, put flare before upload cleanup for testing
  apps/worker/services/cleanup/regular.py
  apps/worker/services/cleanup/tests/test_regular_cleanup.py
Due: worker

Update all `dev-dependencies` as high as possible
  apps/codecov-api/pyproject.toml
  apps/codecov-api/uv.lock
  apps/worker/pyproject.toml
  apps/worker/uv.lock
  libs/shared/pyproject.toml
  libs/shared/uv.lock
Due: worker, codecov-api, shared

Turn off CSRF for GQL APIs
  apps/codecov-api/graphql_api/views.py
Due: codecov-api

Remove unused logging
  libs/shared/shared/reports/reportfile.py
Due: shared

Add a verification for required JWT claims
  apps/codecov-api/codecov_auth/middleware.py
  apps/codecov-api/codecov_auth/tests/test_middleware.py
  apps/codecov-api/graphql_api/tests/test_sentry_view.py
Due: codecov-api

increase limits on flare_cleanup
  apps/worker/services/cleanup/pulls.py
  apps/worker/services/cleanup/tests/test_pulls.py
Due: worker

Remove logging expired token
  apps/codecov-api/codecov_auth/middleware.py
Due: codecov-api

remove logs from loop - too spammy
  apps/worker/services/cleanup/pulls.py
  apps/worker/services/cleanup/tests/test_pulls.py
Due: worker

integrate Arpad's suggestions
  apps/worker/services/cleanup/pulls.py
  apps/worker/services/cleanup/tests/test_pulls.py
  libs/shared/shared/reports/reportfile.py
Due: worker, shared

Clean and update all the runtime dependencies
  apps/codecov-api/api/internal/tests/test_charts.py
  apps/codecov-api/pyproject.toml
  apps/codecov-api/services/comparison.py
  apps/codecov-api/services/tests/test_comparison.py
  apps/codecov-api/uv.lock
  apps/worker/helpers/metrics.py
  apps/worker/pyproject.toml
  apps/worker/services/ai_pr_review.py
  apps/worker/services/notification/notifiers/generics.py
  apps/worker/tasks/hourly_check.py
  apps/worker/tasks/new_user_activated.py
  apps/worker/tasks/send_email.py
  apps/worker/tasks/sync_pull.py
  apps/worker/uv.lock
  libs/shared/mypy.ini
  libs/shared/pyproject.toml
  libs/shared/shared/rollouts/__init__.py
  libs/shared/uv.lock
Due: worker, codecov-api, shared

feat: Update Sentry SDK and enable logs
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/pyproject.toml
  apps/codecov-api/uv.lock
  apps/worker/helpers/sentry.py
  apps/worker/pyproject.toml
  apps/worker/uv.lock
Due: worker, codecov-api

fix: Sentry init test
  apps/worker/helpers/tests/unit/test_sentry.py
Due: worker

rollback uv.lock
  apps/codecov-api/uv.lock
  apps/worker/uv.lock
Due: worker, codecov-api

fix: update uv and run again
  apps/codecov-api/uv.lock
  apps/worker/uv.lock
Due: worker, codecov-api

fix: pro spelling
  apps/worker/helpers/tests/unit/test_sentry.py
Due: worker

Add JWT permissions to Django REST Framework
  apps/codecov-api/codecov_auth/middleware.py
  apps/codecov-api/codecov_auth/tests/test_middleware.py
  apps/codecov-api/codecov_auth/utils.py
  apps/codecov-api/graphql_api/tests/test_sentry_view.py
  apps/codecov-api/webhook_handlers/permissions.py
  apps/codecov-api/webhook_handlers/tests/test_jwt_permissions.py
Due: codecov-api

Update overwatch workflow
  .github/workflows/upload-overwatch.yml
Due: none

chore(overwatch): Fix overwatch cli dl from prod
  .github/workflows/upload-overwatch.yml
Due: none

use staging
  .github/workflows/upload-overwatch.yml
Due: none

make app_id non-nullable
  libs/shared/shared/django_apps/codecov_auth/migrations/0067_alter_githubappinstallation_app_id.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/__init__.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0067.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/django_apps/codecov_auth/tests/factories.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/__init__.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
  libs/shared/shared/utils/test_utils/test_migrations_helper.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
Due: shared

Make Accounts more apparent on Owner admin
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

build: dedicated ci workflow for building requirements images
  .github/workflows/_build-app.yml
  .github/workflows/_build-requirements.yml
  .github/workflows/_self-hosted.yml
  .github/workflows/api-ci.yml
  .github/workflows/worker-ci.yml
Due: none

build: consolidate docker image make targets across subprojects
  Makefile
  apps/codecov-api/Makefile
  apps/worker/Makefile
  docker/Makefile.docker
Due: worker, codecov-api

build: consolidate how tests are run between subprojects
  Makefile
  apps/codecov-api/Makefile
  apps/codecov-api/docker-compose.yml
  apps/codecov-api/docker/test.yml
  apps/worker/Makefile
  apps/worker/docker/init_db.sql
  apps/worker/docker/test.yml
  ci-tests.docker-compose.yml
  docker/Makefile.ci-tests
Due: worker, codecov-api

build: make shared use the same makefile and ci setup as worker/api
  .github/workflows/_build-requirements.yml
  .github/workflows/shared-ci.yml
  Makefile
  codecov.yml
  docker-compose.yml
  docker/Dockerfile.requirements
  libs/shared/docker/Dockerfile
  tools/devenv/Makefile.devenv
Due: shared

fix: disable warnings
  apps/worker/tasks/test_results_processor.py
  apps/worker/tasks/tests/unit/test_test_results_processor_task.py
Due: worker

Update overwatch workflow 2
  .github/workflows/upload-overwatch.yml
Due: none

build: Remove deprecated version setting
  docker-compose.yml
Due: none

chore(deps): bump setuptools to 80.8.0
  apps/worker/uv.lock
Due: worker

chore: remove log that seems to be unused
  libs/shared/shared/validation/helpers.py
Due: shared

feat: enable new TA tasks on new repos
  apps/worker/services/test_analytics/ta_metrics.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker
