Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

Readd api method
  apps/codecov-api/webhook_handlers/views/github.py
  libs/shared/shared/rollouts/features.py
  libs/shared/shared/torngit/github.py
  tools/git-filter-repo/git-filter-repo
Due: codecov-api, shared

Fix local stripe proxy
  apps/codecov-api/Makefile
  apps/codecov-api/billing/views.py
Due: codecov-api

Lint
  tools/git-filter-repo/git-filter-repo
Due: none

newline
  apps/codecov-api/webhook_handlers/views/github.py
  tools/git-filter-repo/git-filter-repo
Due: codecov-api

refactor: move get_settings_module django helper to shared
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov/wsgi.py
  apps/codecov-api/core/apps.py
  apps/codecov-api/manage.py
  apps/codecov-api/utils/config.py
  apps/codecov-api/webhook_handlers/views/github.py
  libs/shared/shared/django_apps/utils/config.py
  libs/shared/tests/unit/django_apps/test_utils.py
Due: codecov-api, shared

refactor: make worker/shared use same django settings layout as api
  apps/worker/django_scaffold/settings_dev.py
  apps/worker/django_scaffold/settings_enterprise.py
  apps/worker/django_scaffold/settings_prod.py
  apps/worker/django_scaffold/settings_staging.py
  apps/worker/django_scaffold/settings_test.py
  apps/worker/main.py
  apps/worker/manage.py
  apps/worker/migrate_timeseries.py
  apps/worker/pytest.ini
  apps/worker/services/test_analytics/ta_cache_rollups.py
  apps/worker/tasks/cache_test_rollups.py
  apps/worker/tasks/cache_test_rollups_redis.py
  docker/Makefile.ci-tests
  libs/shared/pytest.ini
  libs/shared/shared/django_apps/manage.py
  libs/shared/shared/django_apps/settings_test.py
  tools/devenv/Makefile.test
Due: worker, shared

force an error
  apps/codecov-api/upload/views/bundle_analysis.py
Due: codecov-api

try again to force an error
  apps/codecov-api/upload/views/bundle_analysis.py
Due: codecov-api

build: unified Dockerfile
  .github/workflows/_run-tests.yml
  .github/workflows/shared-ci.yml
  Makefile
  apps/codecov-api/Makefile
  apps/codecov-api/docker/Dockerfile
  apps/codecov-api/docker/Dockerfile.requirements
  apps/codecov-api/pytest.ini
  apps/worker/Makefile
  apps/worker/docker/Dockerfile
  apps/worker/docker/Dockerfile.requirements
  apps/worker/pytest.ini
  apps/worker/services/test_analytics/ta_cache_rollups.py
  apps/worker/tasks/cache_test_rollups.py
  apps/worker/tasks/cache_test_rollups_redis.py
  ci-tests.docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
  docker/README.md
  libs/shared/pytest.ini
  libs/shared/shared/django_apps/settings_test.py
  tools/devenv/Makefile.test
  tools/devenv/scripts/start-api.sh
  tools/devenv/scripts/start-worker.sh
Due: worker, codecov-api, shared

chore(api): remove test-only function from production helper file
  apps/codecov-api/api/internal/tests/views/test_account_viewset.py
  apps/codecov-api/billing/helpers.py
  apps/codecov-api/billing/tests/mocks.py
  apps/codecov-api/billing/tests/test_helpers.py
  apps/codecov-api/billing/tests/test_views.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/graphql_api/tests/test_coverage_analytics.py
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/tests/test_plan.py
  apps/codecov-api/graphql_api/tests/test_plan_representation.py
  apps/codecov-api/services/tests/test_billing.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/tests/test_serializers.py
  apps/codecov-api/upload/tests/test_throttles.py
  apps/codecov-api/upload/tests/views/test_upload_coverage.py
  apps/codecov-api/upload/tests/views/test_uploads.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
Due: codecov-api

build: trigger all tests when reqs and build glue are changed
  .github/workflows/ci-router.yml
Due: none

build: remove dev deps from prod image, add separate test-reqs and test-app images
  .dockerignore
  .github/workflows/_build-app.yml
  .github/workflows/_build-requirements.yml
  .github/workflows/_run-tests.yml
  ci-tests.docker-compose.yml
  docker/Dockerfile.test-requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
  docker/README.md
  pyproject.toml
  tools/devenv/Makefile.devenv
  tools/devenv/Makefile.test
Due: none

build: unified Dockerfile
  .github/workflows/_run-tests.yml
  .github/workflows/shared-ci.yml
  Makefile
  apps/codecov-api/Makefile
  apps/codecov-api/docker/Dockerfile
  apps/codecov-api/docker/Dockerfile.requirements
  apps/codecov-api/pytest.ini
  apps/worker/Makefile
  apps/worker/docker/Dockerfile
  apps/worker/docker/Dockerfile.requirements
  apps/worker/pytest.ini
  ci-tests.docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
  docker/README.md
  libs/shared/pytest.ini
  libs/shared/shared/django_apps/settings_test.py
  tools/devenv/Makefile.test
  tools/devenv/scripts/start-api.sh
  tools/devenv/scripts/start-worker.sh
Due: worker, codecov-api, shared

use hooky name
  .github/workflows/push-stage.yml
Due: none

feat: enable new TA tasks on new repos
  apps/worker/services/test_analytics/ta_metrics.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

update the date
  apps/worker/services/test_analytics/ta_metrics.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

fix: remove auto-create indexes
  libs/shared/shared/django_apps/ta_timeseries/migrations/0010_auto_20250528_1540.py
Due: shared

chore: update TA timescale indexes
  libs/shared/shared/django_apps/ta_timeseries/migrations/0010_auto_20250528_1540.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0011_auto_20250610_2135.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0012_add_retention_policies.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

chore: update TA timeseries chunk intervals
  libs/shared/shared/django_apps/ta_timeseries/migrations/0010_auto_20250528_1540.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0011_auto_20250610_2135.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0012_add_retention_policies.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0013_set_chunk_interval.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0014_set_cagg_chunk_interval.py
Due: shared

fix: changes to indexes I made previously
  libs/shared/shared/django_apps/ta_timeseries/migrations/0011_auto_20250610_2135.py
Due: shared

remove hard-coded limits
  apps/worker/services/cleanup/pulls.py
  apps/worker/services/cleanup/tests/test_pulls.py
Due: worker

add typing for event kwarg
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

clean up and simplify install and install_repos github webhook handling
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

Ensure that plan_seat_count includes free seats
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/plan/service.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
  libs/shared/tests/unit/plan/test_plan.py
Due: shared

add edge case handling
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

fix(api): Use sets instead of lists to prevent reordering flakiness
  apps/codecov-api/graphql_api/tests/actions/test_commits.py
Due: codecov-api

ci: use gh cli in ci-router to dispatch worker/api/shared jobs
  .github/workflows/api-ci.yml
  .github/workflows/ci-router.yml
  .github/workflows/push-stage.yml
  .github/workflows/shared-ci.yml
  .github/workflows/worker-ci.yml
Due: none

fix: Make `ShelterMixin` a sub-class so `self.request` exists
  apps/codecov-api/upload/views/base.py
Due: codecov-api

chore: Grammar and spelling fix
  apps/worker/tasks/preprocess_upload.py
Due: worker

fix: Override default Minio port and use rolling gateway image
  docker-compose.yml
Due: none

clean up and simplify install and install_repos github webhook handling
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

add edge case handling
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

send to sentry not gcp
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

fix: Change middleware order to ensure CORS response
  apps/codecov-api/codecov/settings_base.py
Due: codecov-api

chore: Move CORS credentials config to base settings
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov/settings_dev.py
  apps/codecov-api/codecov/settings_enterprise.py
  apps/codecov-api/codecov/settings_prod.py
  apps/codecov-api/codecov/settings_staging.py
Due: codecov-api

test: fix TA GQL tests due to retention policy
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__analytics_flag_filter__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__analytics_term_filter__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__analytics_testsuite_filter__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_asc__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_asc_first_1__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_asc_first_1_after__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_asc_first_1_after_no_next__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_asc_last_1__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_asc_last_1_before__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_asc_last_1_before_no_previous__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_first_1__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_first_1_after__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_first_1_after_no_next__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_last_1__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_last_1_before__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__results_pagination_last_1_before_no_previous__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
Due: codecov-api

fix: Remove unnecessary CORS origin for development settings
  apps/codecov-api/codecov/settings_dev.py
Due: codecov-api

fix: CORS custom logic returns `*` for external origins
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/middleware.py
Due: codecov-api

chore: Tests for new CORS behaviour
  apps/codecov-api/codecov_auth/tests/unit/test_middleware.py
Due: codecov-api

feat: Use `codecov.yml` values in development settings
  apps/codecov-api/codecov/settings_dev.py
  apps/codecov-api/codecov_auth/tests/unit/views/test_base.py
  apps/codecov-api/codecov_auth/tests/unit/views/test_gitlab.py
  apps/codecov-api/codecov_auth/tests/unit/views/test_okta_cloud.py
Due: codecov-api
