Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

style: Update dictionary syntax for improved readability in GitHub integration
  libs/shared/shared/torngit/github.py
  libs/shared/tests/unit/torngit/test_github.py
Due: shared

style: Improve formatting of log assertion for better readability
  libs/shared/tests/unit/torngit/test_github.py
Due: shared

fix: Add check for slug in commit reference search to prevent errors
  libs/shared/shared/torngit/github.py
Due: shared

combine appends
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

Fix Codecov's response header to include CSP
  pyproject.toml
  uv.lock
Due: none

report type
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

Rerun upload breadcrumbs (#527)
  apps/worker/tasks/upload.py
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/templates/admin/upload_breadcrumbs/uploadbreadcrumb/change_list.html
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/__init__.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_urls.py
Due: worker, shared

self hosted change
  .github/workflows/_build-app.yml
Due: none

chore: Add log when cannot find plan tier by nickname
  apps/codecov-api/billing/views.py
Due: codecov-api

fix: Change log variable
  apps/codecov-api/billing/views.py
Due: codecov-api

larger ubuntu runner
  .github/workflows/_build-app.yml
Due: none

Fix Codecov's response header to include CSP (#531)
  pyproject.toml
  uv.lock
Due: none

changing case
  .github/workflows/_build-app.yml
Due: none

self hosted change (#532)
  .github/workflows/_build-app.yml
Due: none

Refactor GitHub Actions workflows to streamline caching and build processes
  .github/workflows/_build-app.yml
  .github/workflows/_build-requirements.yml
  .github/workflows/_self-hosted.yml
  docker/Makefile.docker
Due: none

Refactor GitHub Actions workflows to enhance image handling and build processes
  .github/workflows/_build-app.yml
  .github/workflows/_push-env.yml
  .github/workflows/_run-tests.yml
  .github/workflows/_self-hosted.yml
  docker/Makefile.docker
Due: none

refactor: Simplify URL construction for GitHub API calls in Github adapter
  libs/shared/shared/torngit/github.py
  libs/shared/tests/unit/torngit/test_github.py
Due: shared

chore: Add missing newline for improved readability in GitHub adapter and test files
  libs/shared/shared/torngit/github.py
  libs/shared/tests/unit/torngit/test_github.py
Due: shared

fix: Handle case where slug is not set in find_pull_request method
  libs/shared/shared/torngit/github.py
Due: shared

Refactor Makefile and GitHub Actions workflows for improved build processes
  .github/workflows/_build-app.yml
  docker/Makefile.docker
Due: none

Enhance GitHub Actions workflows for conditional image pushing and authentication
  .github/workflows/_build-app.yml
  .github/workflows/_push-env.yml
Due: none

Refactor GitHub Actions workflow to improve image handling and organization
  .github/workflows/_push-env.yml
Due: none

Update GitHub Actions workflow to use standard Ubuntu runner
  .github/workflows/_build-app.yml
Due: none

delete outdated cassete
  apps/worker/tasks/tests/integration/cassetes/test_notify_task/TestNotifyTask/test_simple_call_only_status_notifiers_with_pull_request.yaml
Due: worker

add guard clause to protect against null slug
  libs/shared/shared/torngit/github.py
Due: shared

Test change
  .github/workflows/_build-app.yml
Due: none

Update GitHub Actions workflow to use the latest Ubuntu runner
  .github/workflows/_build-app.yml
Due: none

check in updated cassette
  apps/worker/tasks/tests/integration/cassetes/test_notify_task/TestNotifyTask/test_simple_call_only_status_notifiers_with_pull_request.yaml
Due: worker

feat: Add org name to failed payment email (#523)
  apps/codecov-api/billing/tests/test_views.py
  apps/codecov-api/billing/views.py
  apps/worker/templates/failed-payment.html
  apps/worker/templates/failed-payment.txt
Due: worker, codecov-api

restore old cassette
  apps/worker/tasks/tests/integration/cassetes/test_notify_task/TestNotifyTask/test_simple_call_only_status_notifiers_with_pull_request.yaml
Due: worker

update cassete
  apps/worker/tasks/tests/integration/cassetes/test_notify_task/TestNotifyTask/test_simple_call_only_status_notifiers.yaml
Due: worker

perf: adjust policy to aggregate more often
  libs/shared/shared/django_apps/migration_utils.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0035_alter_branch_test_aggregate_daily_policy.py
Due: shared

adjust migration
  libs/shared/shared/django_apps/migration_utils.py
Due: shared

perf: adjust policy to aggregate more often (#534)
  libs/shared/shared/django_apps/migration_utils.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0035_alter_branch_test_aggregate_daily_policy.py
Due: shared

chore(deps): bump django from 4.2.20 to 4.2.25
  libs/shared/pyproject.toml
  pyproject.toml
  uv.lock
Due: shared

create index for faster public ui fetching
  libs/shared/shared/django_apps/ta_timeseries/migrations/0036_testrun_ta_ts__repo_id_idx.py
Due: shared

write raw sql for clarity
  libs/shared/shared/django_apps/ta_timeseries/migrations/0036_testrun_ta_ts__repo_id_idx.py
Due: shared

add atomic = false
  libs/shared/shared/django_apps/ta_timeseries/migrations/0036_testrun_ta_ts__repo_id_idx.py
Due: shared

feat: create index for faster public ui fetching (#537)
  libs/shared/shared/django_apps/ta_timeseries/migrations/0036_testrun_ta_ts__repo_id_idx.py
Due: shared

use is_disjoing
  apps/worker/services/processing/merging.py
  apps/worker/services/report/raw_upload_processor.py
Due: worker

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
