Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

Apply suggestions from code review
  apps/worker/tasks/preprocess_upload.py
Due: worker

Apply suggestion from @thomasrockhu-codecov
  apps/worker/tasks/preprocess_upload.py
Due: worker

fix: disambiguate GitLab webhook repo lookup to prevent MultipleObjectsReturned (#787)
  apps/codecov-api/webhook_handlers/tests/test_gitlab.py
  apps/codecov-api/webhook_handlers/views/gitlab.py
Due: codecov-api

fix: change serializer to show enum for upload.state_name (#784)
  apps/codecov-api/api/public/v2/commit/serializers.py
Due: codecov-api

feat: Pre-download bundle uploads before lock to reduce contention
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
  apps/worker/services/lock_manager.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

fix for max even
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
Due: worker

Prepare release 26.4.1
  VERSION
Due: none

fix: Prevent temp file leak when download fails
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

fix: Fix context manager exception handling and update tests
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

fix: Close leaked file descriptor from tempfile.mkstemp()
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

refactor: Use context manager for bundle upload file lifecycle
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

fix: Remove duplicate imports from test function
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
Due: worker

style(worker): Fix ruff in bundle analysis tests
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

test: Fix benchmark to simulate slow download; validate lock time reduction
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

refactor: Apply clean code principles to bundle analysis optimization
  .cursor/rules/git-force-push.mdc
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
  apps/worker/services/tests/test_lock_manager.py
Due: worker

test: Add benchmark test for pre-download lock time reduction
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

chore: Remove Cursor rules from repo, add .cursor to .gitignore
  .cursor/rules/git-force-push.mdc
Due: none

refactor: Simplify pre_downloaded_path handling in BundleAnalysisReportService
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/bundle_analysis/tests/test_bundle_analysis.py
Due: worker

add version 26.4.1 migration
  libs/shared/shared/django_apps/core/migrations/0084_increment_version.py
Due: shared

Release 26.4.1 (#790)
  VERSION
  libs/shared/shared/django_apps/core/migrations/0084_increment_version.py
Due: shared

adding compression migration
  libs/shared/shared/django_apps/ta_timeseries/migrations/0038_add_compression.py
Due: shared

refactor(worker): tighten batch flag comparison readability
  apps/worker/tasks/compute_comparison.py
Due: worker

style(worker): ruff-format compute_comparison flag line
  apps/worker/tasks/compute_comparison.py
Due: worker

test: cover flag report cache and flag comparison totals
  apps/worker/tasks/tests/unit/test_compute_comparison.py
  libs/shared/tests/unit/helpers/test_flag.py
Due: worker, shared

adding compression migration (#806)
  libs/shared/shared/django_apps/ta_timeseries/migrations/0038_add_compression.py
Due: shared

fix(worker): cap BA processor lock retry countdown to visibility timeout
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

Update Bitbucket API URL to use v2 endpoint
  libs/shared/shared/torngit/bitbucket.py
Due: shared

Fix Bitbucket adapter to use api_url in api()
  libs/shared/shared/torngit/bitbucket.py
  libs/shared/tests/unit/torngit/test_bitbucket.py
Due: shared

fix(bitbucket): migrate from retired cross-workspace API to workspace-scoped endpoints
  libs/shared/shared/torngit/bitbucket.py
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_is_admin.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_is_admin_not_admin.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_list_repos_no_username.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_list_teams.yaml
Due: shared

fix(bitbucket): filter get_is_admin by user+permission to avoid pagination issues
  libs/shared/shared/torngit/bitbucket.py
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_is_admin.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_get_is_admin_not_admin.yaml
  libs/shared/tests/unit/torngit/test_bitbucket.py
Due: shared

fix(bitbucket): update test cassettes and assertions for workspace_access response shape
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_list_repos_no_username.yaml
  libs/shared/tests/integration/cassetes/test_bitbucket/TestBitbucketTestCase/test_list_teams.yaml
  libs/shared/tests/integration/test_bitbucket.py
  libs/shared/tests/unit/torngit/test_bitbucket.py
Due: shared

moving deletions to after hours and with a 48 hour delay
  apps/worker/celery_config.py
  apps/worker/tasks/process_owners_to_be_deleted_cron.py
  apps/worker/tasks/tests/unit/test_process_owners_to_be_deleted_cron.py
Due: worker

moving deletions to after hours and with a 48 hour delay (#878)
  apps/worker/celery_config.py
  apps/worker/tasks/process_owners_to_be_deleted_cron.py
  apps/worker/tasks/tests/unit/test_process_owners_to_be_deleted_cron.py
Due: worker

fix(worker): cap BA processor lock retry countdown to visibility timeout (#852)
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

updating to after 2 am ct - 4 am ct and to run every 15 mins during that time
  apps/worker/celery_config.py
  apps/worker/tasks/process_owners_to_be_deleted_cron.py
Due: worker

Updating lint and tests
  apps/worker/celery_config.py
  apps/worker/tasks/tests/unit/test_process_owners_to_be_deleted_cron.py
Due: worker

update celery
  apps/worker/celery_config.py
  apps/worker/tasks/process_owners_to_be_deleted_cron.py
  apps/worker/tasks/tests/unit/test_process_owners_to_be_deleted_cron.py
Due: worker
