Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

replace bulk_update with targeted filter update in flake detection
  apps/worker/services/test_analytics/ta_process_flakes.py
  apps/worker/tasks/detect_flakes.py
Due: worker

Improve admin LogEntry user links and restore Commit search. (#1902)
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/core/admin.py
  apps/codecov-api/core/tests/test_admin.py
Due: codecov-api

feat: Add new template for History with better user field
  apps/codecov-api/templates/admin/object_history.html
Due: codecov-api

feat(admin): link history users by name
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/templates/admin/object_history.html
Due: codecov-api

feat(admin): link history users by name (#1908)
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/templates/admin/object_history.html
Due: codecov-api

fixing lint
  apps/worker/services/test_analytics/ta_process_flakes.py
  apps/worker/tasks/detect_flakes.py
Due: worker

Guard installation webhooks against a null installation object.
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

fix(auth): require owner plans in model forms
  apps/codecov-api/codecov_auth/admin.py
  libs/shared/shared/django_apps/codecov_auth/migrations/0080_alter_owner_plan.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
Due: codecov-api, shared

test: add comprehensive test coverage for flake detection updates
  apps/worker/services/test_analytics/tests/test_ta_process_flakes.py
  apps/worker/tasks/tests/unit/test_detect_flakes.py
Due: worker

adding tests
  apps/worker/tasks/tests/unit/test_detect_flakes.py
Due: worker

CI failed on a step
  README.md
Due: none

linting issues
  README.md
Due: none

replace bulk_update with targeted filter update in flake detection (#1907)
  README.md
  apps/worker/services/test_analytics/ta_process_flakes.py
  apps/worker/services/test_analytics/tests/test_ta_process_flakes.py
  apps/worker/tasks/detect_flakes.py
  apps/worker/tasks/tests/unit/test_detect_flakes.py
Due: worker

fixing log message
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

refactor: improve flake detection logging clarity
  apps/worker/tasks/detect_flakes.py
Due: worker

refactor: improve flake detection logging clarity (#1916)
  apps/worker/tasks/detect_flakes.py
Due: worker

fix(redis_admin): unacked summary drill-in uses ?view_all=1 to flip into detail mode
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/templates/admin/redis_admin/unackedqueueitem/change_list.html
  apps/codecov-api/redis_admin/tests/test_unacked_queue.py
Due: codecov-api

fix(redis_admin): de-duplicate unacked clear pass_matches on keep_one pass 1
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/tests/test_unacked_queue.py
Due: codecov-api

feat(redis_admin): unacked queue per-message drill-down + frequency chart + clear-by-filter
  apps/codecov-api/redis_admin/README.md
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/models.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/static/redis_admin/js/unacked_clear_progress.js
  apps/codecov-api/redis_admin/templates/admin/redis_admin/unackedqueueitem/_frequency_chart.html
  apps/codecov-api/redis_admin/templates/admin/redis_admin/unackedqueueitem/change_list.html
  apps/codecov-api/redis_admin/templates/admin/redis_admin/unackedqueueitem/clear_by_filter.html
  apps/codecov-api/redis_admin/templates/admin/redis_admin/unackedqueueitem/clear_by_filter_progress.html
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_families.py
  apps/codecov-api/redis_admin/tests/test_unacked_queue.py
Due: codecov-api

fix(redis_admin): unacked view_all=1 actually flips queryset to detail mode
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/tests/test_unacked_queue.py
Due: codecov-api

fix(redis_admin): use CeleryEnvelopeMeta() for unparseable unacked envelopes
  apps/codecov-api/redis_admin/services.py
Due: codecov-api

fix(redis_admin): renormalise unacked frequency chart percentages
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_unacked_queue.py
Due: codecov-api

fix(redis_admin): scope unacked HSCAN by routing_key before display cap
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/tests/test_unacked_queue.py
Due: codecov-api

fix(security): remove unused libexpat1 from reqs image (CVE-2026-45186)
  docker/Dockerfile.requirements
Due: none

fix(docker): purge unused libexpat1 from reqs runtime image
  docker/Dockerfile.requirements
Due: none

Bump cryptography to >=50.0.0 for Dependabot high.
  libs/shared/pyproject.toml
  pyproject.toml
  uv.lock
Due: shared

Update README.md
  README.md
Due: none

fix(redis_admin): scope unacked frequency chart to routing_key
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/tests/test_unacked_queue.py
Due: codecov-api

feat(redis_admin): unacked queue per-message drill-down + frequency chart + clear-by-filter (#911)
  apps/codecov-api/redis_admin/README.md
  apps/codecov-api/redis_admin/admin.py
  apps/codecov-api/redis_admin/families.py
  apps/codecov-api/redis_admin/models.py
  apps/codecov-api/redis_admin/queryset.py
  apps/codecov-api/redis_admin/services.py
  apps/codecov-api/redis_admin/static/redis_admin/js/unacked_clear_progress.js
  apps/codecov-api/redis_admin/templates/admin/redis_admin/unackedqueueitem/_frequency_chart.html
  apps/codecov-api/redis_admin/templates/admin/redis_admin/unackedqueueitem/change_list.html
  apps/codecov-api/redis_admin/templates/admin/redis_admin/unackedqueueitem/clear_by_filter.html
  apps/codecov-api/redis_admin/templates/admin/redis_admin/unackedqueueitem/clear_by_filter_progress.html
  apps/codecov-api/redis_admin/tests/test_admin_smoke.py
  apps/codecov-api/redis_admin/tests/test_families.py
  apps/codecov-api/redis_admin/tests/test_unacked_queue.py
Due: codecov-api

fix(api): block deleteOwner when active billing subscription exists
  apps/codecov-api/codecov_auth/commands/owner/interactors/delete_owner.py
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_delete_owner.py
  apps/codecov-api/graphql_api/tests/mutation/test_delete_owner.py
  apps/codecov-api/graphql_api/types/mutation/delete_owner/delete_owner.graphql
Due: codecov-api

fix(api): handle missing Plan rows in deleteOwner validation
  apps/codecov-api/codecov_auth/commands/owner/interactors/delete_owner.py
Due: codecov-api

test(api): fix deleteOwner async setup and mutation assertions
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_delete_owner.py
  apps/codecov-api/graphql_api/tests/mutation/test_delete_owner.py
Due: codecov-api

Expose hasGithubApp on Owner from GithubAppInstallation.
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/types/owner/owner.graphql
  apps/codecov-api/graphql_api/types/owner/owner.py
Due: codecov-api

fix: set service attribute on OktaAdminLoginView for StateMixin
  apps/codecov-api/codecov_auth/views/okta_admin.py
Due: codecov-api

Expose hasGithubApp on Owner from GithubAppInstallation. (#1929)
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/types/owner/owner.graphql
  apps/codecov-api/graphql_api/types/owner/owner.py
Due: codecov-api

feat(graphql): add deleteOwner mutation for self-serve account deletion (#1903)
  apps/codecov-api/codecov_auth/commands/owner/interactors/delete_owner.py
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_delete_owner.py
  apps/codecov-api/codecov_auth/commands/owner/owner.py
  apps/codecov-api/graphql_api/tests/mutation/test_delete_owner.py
  apps/codecov-api/graphql_api/types/inputs/delete_owner.graphql
  apps/codecov-api/graphql_api/types/mutation/__init__.py
  apps/codecov-api/graphql_api/types/mutation/delete_owner/__init__.py
  apps/codecov-api/graphql_api/types/mutation/delete_owner/delete_owner.graphql
  apps/codecov-api/graphql_api/types/mutation/delete_owner/delete_owner.py
  apps/codecov-api/graphql_api/types/mutation/mutation.graphql
  apps/codecov-api/graphql_api/types/mutation/mutation.py
Due: codecov-api

fix(security): remove unused libexpat1 from reqs image (CVE-2026-45186) (#1917)
  docker/Dockerfile.requirements
Due: none
