Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

db: remove default continuous aggregate indexes and create new ones
  libs/shared/shared/django_apps/ta_timeseries/migrations/0022_remove_default_cagg_indexes.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0023_create_cagg_indexes.py
Due: shared

db: don't bother dropping then recreating index on TA repo aggregate CA
  libs/shared/shared/django_apps/ta_timeseries/migrations/0022_remove_default_cagg_indexes.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0023_create_cagg_indexes.py
Due: shared

db: remove default continuous aggregate indexes and create new ones (#335)
  libs/shared/shared/django_apps/ta_timeseries/migrations/0022_remove_default_cagg_indexes.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0023_create_cagg_indexes.py
Due: shared

fix(api): Proper typing for mixins
  apps/codecov-api/upload/views/base.py
Due: codecov-api

fix(api): Put mixins before parent class
  apps/codecov-api/upload/views/bundle_analysis.py
  apps/codecov-api/upload/views/commits.py
  apps/codecov-api/upload/views/empty_upload.py
  apps/codecov-api/upload/views/legacy.py
  apps/codecov-api/upload/views/test_results.py
  apps/codecov-api/upload/views/transplant_report.py
  apps/codecov-api/upload/views/upload_completion.py
  apps/codecov-api/upload/views/upload_coverage.py
Due: codecov-api

feat: use new repo wide CAs in GQL API
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

fix: filtering by failed and skipped tests parameters
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_empty_parameter__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_non_precomputed_branch_feature_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_skipped_parameter__0.json
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__flake_aggregates_timescale_non_precomputed_branch_feature_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__results_aggregates_timescale_non_precomputed_branch_feature_branch__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

ref: TA GQL timescale slowest tests duration implementation
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

fix: aggregate test results from TA hypertable if data's not in CAs
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_non_precomputed_branch_feature_branch__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

feat: allow filtering TA aggregates by branch
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__flake_aggregates_timescale_non_precomputed_branch_feature_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates_timescale_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__gql_query_test_results_aggregates_timescale_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__results_aggregates_timescale_non_precomputed_branch_feature_branch__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.graphql
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

fix(api): Proper typing for mixins (#343)
  apps/codecov-api/upload/views/base.py
  apps/codecov-api/upload/views/bundle_analysis.py
  apps/codecov-api/upload/views/commits.py
  apps/codecov-api/upload/views/empty_upload.py
  apps/codecov-api/upload/views/legacy.py
  apps/codecov-api/upload/views/test_results.py
  apps/codecov-api/upload/views/transplant_report.py
  apps/codecov-api/upload/views/upload_completion.py
  apps/codecov-api/upload/views/upload_coverage.py
Due: codecov-api

feat(shared): More predefined upload breadcrumb errors
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
Due: shared

feat(worker): Upload breadcrumb for create report task
  apps/worker/tasks/preprocess_upload.py
Due: worker

fix(api): Simplify legacy upload response logic
  apps/codecov-api/upload/views/legacy.py
Due: codecov-api

feat(api): Upload breadcrumbs for create report step
  apps/codecov-api/upload/views/legacy.py
  apps/codecov-api/upload/views/reports.py
  apps/codecov-api/upload/views/upload_coverage.py
Due: codecov-api

fix(api): Change view type to simplify logic
  apps/codecov-api/upload/views/reports.py
Due: codecov-api

chore(api): Type fixes
  apps/codecov-api/upload/views/legacy.py
  apps/codecov-api/upload/views/upload_coverage.py
Due: codecov-api

chore: Tests for new upload breadcrumbs
  apps/codecov-api/upload/tests/test_upload.py
  apps/codecov-api/upload/tests/test_upload_download.py
  apps/codecov-api/upload/tests/views/test_reports.py
  apps/codecov-api/upload/tests/views/test_upload_coverage.py
  apps/worker/tasks/tests/unit/test_preprocess_upload.py
Due: worker, codecov-api

Update helpers.py
  apps/codecov-api/billing/helpers.py
Due: codecov-api

feat: use hypercore for TA tables
  ci-tests.docker-compose.yml
  docker-compose.yml
  libs/shared/shared/django_apps/ta_timeseries/migrations/0024_add_compression_policies.py
Due: shared

feat: use new repo wide CAs in GQL API (#320)
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

feat(docker): Ability to skip migrations via env var
  apps/codecov-api/api.sh
  apps/worker/worker.sh
Due: worker, codecov-api

feat: add slowest tests parameter filtering to new TA GQL approach (#324)
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

feat(docker): Ability to skip migrations via env var (#350)
  apps/codecov-api/api.sh
  apps/worker/worker.sh
Due: worker, codecov-api

add force notify option
  apps/worker/services/comparison/__init__.py
  apps/worker/services/notification/notifiers/checks/base.py
  apps/worker/services/notification/notifiers/comment/__init__.py
  apps/worker/services/notification/notifiers/generics.py
  apps/worker/services/notification/notifiers/status/base.py
  apps/worker/tasks/notify.py
Due: worker

fix: Properly install Django stubs with `mypy`
  apps/codecov-api/mypy.ini
  apps/worker/mypy.ini
  libs/shared/mypy.ini
  pyproject.toml
  uv.lock
Due: worker, codecov-api, shared

feat(.vscode): Use per-app `mypy` config
  .vscode/settings.json
Due: none

Once again testing Error Prediction
  apps/codecov-api/billing/helpers.py
Due: codecov-api

ref: timescale test results file
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

Add a new endpoint to link Sentry Organization to Integrations
  apps/codecov-api/api/sentry/__init__.py
  apps/codecov-api/api/sentry/tests/__init__.py
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/views.py
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov/urls.py
  tools/devenv/config/test.yml
Due: codecov-api

clean READ_EVALS feature flag (#342)
  apps/codecov-api/api/public/v2/evals/views.py
  apps/codecov-api/api/public/v2/tests/test_api_evals_viewset.py
  apps/codecov-api/rollouts/__init__.py
Due: codecov-api
