Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

chore: Remove orphaned development containers
  tools/devenv/Makefile.devenv
Due: none

chore: Add missing partition command to scripts
  apps/codecov-api/enterprise.sh
  apps/worker/worker.sh
Due: worker, codecov-api

chore: Remove old development script
  apps/codecov-api/dev.sh
Due: codecov-api

feat: enhance webhook handling and configuration
  apps/codecov-api/rollouts/__init__.py
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

feat: create sentry webhook endpoint
  apps/codecov-api/webhook_handlers/urls.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

fix: TA ordering and filtering bug
  apps/codecov-api/utils/test_results.py
Due: codecov-api

chore: Change partition management cron job name
  libs/shared/shared/celery_config.py
  libs/shared/shared/utils/enums.py
  libs/shared/tests/unit/test_celery_config.py
Due: shared

fix: add cutoff date to TA dashboard read path
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/utils/test_results.py
Due: codecov-api

fix AI's attempt to fix linter warnings
  apps/codecov-api/utils/test_results.py
Due: codecov-api

test: failing tests
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
Due: codecov-api

more fixing AI's attempt to fix linter warnings
  apps/codecov-api/utils/test_results.py
Due: codecov-api

Skip migrating risky plans change
  libs/shared/shared/django_apps/codecov_auth/migrations/0070_add_sentry_merge_plan.py
Due: shared

fix: take flaky_fail_count into account for total tests in new TA impl
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__gql_query_with_new_ta_format_FAILURE_RATE__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__gql_query_with_new_ta_format_TOTAL_DURATION__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/graphql_api/types/test_results_aggregates/test_results_aggregates.py
  apps/codecov-api/utils/test_results.py
Due: codecov-api

ref: factor use_new_impl out
  apps/codecov-api/utils/test_results.py
Due: codecov-api

docs: Move contribution instructions to main README
  README.md
  apps/codecov-api/README.md
  apps/worker/README.md
Due: worker, codecov-api

fix: Move import back into function for safety
  apps/worker/tasks/base.py
Due: worker

chore: Remove old `.envrc`
  apps/worker/.envrc
Due: worker

chore: Remove extra newline
  tools/devenv/Makefile.test
Due: none

docs: Update `shared` instructions
  libs/shared/README.md
Due: shared

Move the JWT DRF permissions into codecov_auth
  apps/codecov-api/codecov_auth/permissions.py
  apps/codecov-api/codecov_auth/tests/test_jwt_permissions.py
  apps/codecov-api/webhook_handlers/permissions.py
Due: codecov-api

chore: Generated migration
  libs/shared/shared/django_apps/legacy_migrations/migrations/0009_alter_yamlhistory_id.py
Due: shared

fix: Match database and Django state index name
  libs/shared/shared/django_apps/legacy_migrations/migrations/0010_rename_yaml_histor_ownerid_74e79b_idx_yaml_history_ownerid_timestamp.py
  libs/shared/shared/django_apps/legacy_migrations/models.py
Due: shared

chore: Resolve cerberus warning
  apps/codecov-api/api/internal/chart/helpers.py
Due: codecov-api

fix: stripe customer name update
  apps/codecov-api/services/billing.py
Due: codecov-api

chore: Remove unused `YamlHistory` model
  apps/codecov-api/legacy_migrations/tests/factories.py
  apps/codecov-api/legacy_migrations/tests/unit/test_models.py
  apps/worker/services/cleanup/tests/snapshots/relations__builds_delete_queries__owner.txt
  libs/shared/shared/django_apps/legacy_migrations/migrations/0009_delete_yamlhistory.py
  libs/shared/shared/django_apps/legacy_migrations/models.py
Due: worker, codecov-api, shared

ref: move calc_test_id to shared
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
  apps/worker/services/test_analytics/utils.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: worker, shared

test: skip broken tests i will be removing soon
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
Due: worker

feat: enable real time aggregates for TA
  libs/shared/shared/django_apps/ta_timeseries/migrations/0016_enable_real_time_aggregates.py
Due: shared

feat: create and add sane_repr to TA models
  libs/shared/shared/django_apps/db.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

fix: always set testrun outcome to flaky_failure in process flakes
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker
