Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

ref: factor use_new_impl out
  apps/codecov-api/utils/test_results.py
Due: codecov-api

fix: always set testrun outcome to flaky_failure in process flakes
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

ref(ta): remove test warnings and factor out types
  apps/codecov-api/graphql_api/types/enums/enums.py
  apps/codecov-api/graphql_api/types/flake_aggregates/flake_aggregates.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/graphql_api/types/test_results_aggregates/test_results_aggregates.py
  apps/codecov-api/reports/tests/factories.py
  apps/codecov-api/utils/ta_types.py
Due: codecov-api

feat: create and add sane_repr to TA models
  libs/shared/shared/django_apps/db.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

ref: decouple posting the PR comment and creating the message
  apps/worker/services/comment.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_notify.py
  apps/worker/services/test_analytics/ta_types.py
  apps/worker/services/test_analytics/templates/error_comment_default.j2
  apps/worker/services/test_analytics/templates/error_message.j2
  apps/worker/services/test_analytics/templates/failure.j2
  apps/worker/services/test_analytics/templates/flake.j2
  apps/worker/services/test_analytics/templates/main.j2
  apps/worker/services/test_analytics/templates/test_results.j2
  apps/worker/services/test_analytics/templates/upgrade_comment.j2
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__0.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_notify__build_message_with_error_and_payload__0.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_notify__build_message_with_error_only__0.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_notify__build_message_with_failures__0.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_notify__build_message_with_flaky__0.txt
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_notify.py
  apps/worker/services/test_results.py
  apps/worker/services/tests/test_comment.py
  apps/worker/services/tests/test_test_results.py
  apps/worker/tasks/test_results_finisher.py
Due: worker

db: add index on pullid desc for pulls table
  libs/shared/shared/django_apps/core/migrations/0072_pull_pulls_pullid_desc.py
  libs/shared/shared/django_apps/core/models.py
Due: shared

fix: atomic false for add index concurrent
  libs/shared/shared/django_apps/core/migrations/0072_pull_pulls_pullid_desc.py
Due: shared

perf: improve proc flakes performance further
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

chore: Perform partition deletion in development startup scripts
  tools/devenv/Makefile.devenv
  tools/devenv/scripts/start-api.sh
  tools/devenv/scripts/start-worker.sh
Due: none

incorporate pr comments
  apps/codecov-api/services/billing.py
Due: codecov-api

fix: flaky fail outcome name
  apps/worker/services/test_analytics/ta_process_flakes.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_process_flakes.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
Due: worker

fix tests
  .vscode/extensions.json
  apps/codecov-api/services/billing.py
  apps/codecov-api/services/tests/test_billing.py
Due: codecov-api

fix this other test that started failing about stripe api key dunno
  apps/codecov-api/services/tests/test_billing.py
Due: codecov-api

chore: Remove old development script
  apps/codecov-api/dev.sh
Due: codecov-api

chore: Add missing partition command to scripts
  apps/worker/worker.sh
Due: worker

Add a new GraphQL mutation to sync with app token
  apps/codecov-api/codecov_auth/commands/owner/interactors/trigger_sync.py
  apps/codecov-api/codecov_auth/commands/owner/owner.py
  apps/codecov-api/graphql_api/tests/mutation/test_sync_repos.py
  apps/codecov-api/graphql_api/types/mutation/__init__.py
  apps/codecov-api/graphql_api/types/mutation/mutation.graphql
  apps/codecov-api/graphql_api/types/mutation/mutation.py
  apps/codecov-api/graphql_api/types/mutation/sync_repos/__init__.py
  apps/codecov-api/graphql_api/types/mutation/sync_repos/sync_repos.graphql
  apps/codecov-api/graphql_api/types/mutation/sync_repos/sync_repos.py
  apps/codecov-api/services/repo_providers.py
Due: codecov-api

remove my vscode config recommendation
  .vscode/extensions.json
Due: none

fix(cleanup-job): Turn off cleanup_flare job for now
  apps/worker/services/cleanup/regular.py
Due: worker

chore: Remove orphaned development containers
  tools/devenv/Makefile.devenv
Due: none

fix lint
  apps/worker/services/cleanup/regular.py
Due: worker

Prepare release 25.7.7
  VERSION
Due: none

add 25.7.7 migration
  libs/shared/shared/django_apps/core/migrations/0072_increment_version.py
Due: shared

chore: update release migration identifier
  .gitignore
  libs/shared/shared/django_apps/core/migrations/0073_increment_version.py
Due: shared

feat(shared): Sentry utils with function to get current trace ID
  libs/shared/shared/utils/sentry.py
  libs/shared/tests/unit/utils/test_sentry.py
Due: shared

refactor: Deduplicate with new Sentry utils
  apps/codecov-api/utils/logging_configuration.py
  apps/codecov-api/utils/tests/unit/test_logging.py
  apps/worker/helpers/log_context.py
  apps/worker/helpers/tests/unit/test_log_context.py
Due: worker, codecov-api

refactor: Deduplicate and improve api run logic
  Makefile
  apps/codecov-api/api.sh
  apps/codecov-api/enterprise.sh
  apps/codecov-api/prod.sh
  apps/codecov-api/staging.sh
Due: codecov-api

chore(devenv): Remove old uv project locations
  tools/devenv/scripts/uv-sync.sh
Due: none

deps: pin pytest-insta version
  pyproject.toml
  uv.lock
Due: none

feat: update error message formatting for clarity
  apps/worker/services/notification/notifiers/mixins/message/sections.py
  apps/worker/services/notification/notifiers/mixins/message/writers.py
  apps/worker/services/notification/notifiers/tests/conftest.py
  apps/worker/services/notification/notifiers/tests/integration/test_comment.py
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_no_project_coverage__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_no_project_coverage_test_results_error__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_no_project_coverage_test_results_setup__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_test_results_error__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_test_results_setup__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_with_behind_by__0.json
  apps/worker/services/notification/notifiers/tests/unit/test_checks.py
  apps/worker/services/notification/notifiers/tests/unit/test_comment.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__1.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_results.py
  apps/worker/services/tests/snapshots/results__specific_error_message__0.txt
  apps/worker/tasks/tests/integration/test_notify_task.py
  apps/worker/tasks/tests/unit/snapshots/notify_task__TestNotifyTask__ta_relevant_context__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_only__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_with_failures__0.txt
Due: worker

add . to end of line for consistency
  apps/worker/services/notification/notifiers/mixins/message/sections.py
  apps/worker/services/notification/notifiers/mixins/message/writers.py
  apps/worker/services/notification/notifiers/tests/integration/snapshots/comment__TestCommentNotifierIntegration__notify__0.txt
  apps/worker/services/notification/notifiers/tests/integration/snapshots/comment__TestCommentNotifierIntegration__notify_gitlab__0.txt
  apps/worker/services/notification/notifiers/tests/integration/snapshots/comment__TestCommentNotifierIntegration__notify_new_layout__0.txt
  apps/worker/services/notification/notifiers/tests/integration/snapshots/comment__TestCommentNotifierIntegration__notify_test_results_error__0.txt
  apps/worker/services/notification/notifiers/tests/integration/snapshots/comment__TestCommentNotifierIntegration__notify_with_components__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifierInNewLayout__build_message_no_patch_or_proj_change__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifierInNewLayout__build_message_team_plan_customer_all_lines_covered__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifierInNewLayout__build_message_team_plan_customer_all_lines_covered_no_third_line__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifierInNewLayout__build_message_team_plan_customer_all_lines_covered_test_results_error__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifier__build_message_flags_empty_coverage__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifier__build_message_hide_carriedforward_flags_has_cf_coverage__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifier__build_message_negative_change__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifier__build_message_negative_change_tricky_rounding__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifier__build_message_negative_change_tricky_rounding_newheader__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifier__build_message_show_carriedforward_flags_has_cf_coverage__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifier__build_message_with_without_flags__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifier__build_message_with_without_flags__1.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestCommentNotifier__create_message_files_section__0.txt
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_no_project_coverage__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_no_project_coverage_test_results_error__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_no_project_coverage_test_results_setup__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_test_results_error__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_test_results_setup__0.json
  apps/worker/services/notification/notifiers/tests/unit/snapshots/comment__TestNewHeaderSectionWriter__new_header_section_writer_with_behind_by__0.json
  apps/worker/tasks/tests/integration/test_notify_task.py
Due: worker

refactor(devenv): Deduplicate application running logic
  docker-compose.yml
  tools/devenv/scripts/start-api.sh
  tools/devenv/scripts/start-worker.sh
  tools/devenv/scripts/start.sh
Due: none

chore: Add temporary wrapper scripts
  apps/codecov-api/prod.sh
  apps/codecov-api/staging.sh
Due: codecov-api

feat(worker): Add run options from api script
  apps/worker/worker.sh
Due: worker

feat: fetch TA GQL data directly from Timescale
  apps/codecov-api/graphql_api/helpers/connection.py
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/flake_aggregates/flake_aggregates.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/graphql_api/types/test_results/test_results.py
  apps/codecov-api/utils/test_results.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
