Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

delete import from this pr
  libs/shared/shared/owner_data_import/owner_data_import.py
Due: shared

chore: trigger fresh CI run
  apps/worker/tasks/commit_update.py
Due: worker

fix: use API-provided retry-after time for rate-limited apps
  apps/worker/tasks/commit_update.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/upload_finisher.py
Due: worker

Adrian/create owner data admin trigger (#655)
  apps/codecov-api/codecov_auth/admin.py
Due: codecov-api

get rid of explicit compresison logic
  libs/shared/shared/owner_data_import/owner_data_import.py
Due: shared

address a codeql CI issue
  libs/shared/shared/storage/minio.py
Due: shared

memory performance by streaming files from disk
  libs/shared/shared/owner_data_import/owner_data_import.py
Due: shared

fix(worker): Route bundle analysis tasks to enterprise queues (#656)
  apps/worker/celery_task_router.py
  apps/worker/tests/unit/test_task_router.py
Due: worker

feat: add meaningful logs for export task
  apps/codecov-api/codecov_auth/admin.py
  apps/worker/tasks/export_owner_data.py
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: worker, codecov-api, shared

updating migrations timeseries
  apps/codecov-api/migrate_timeseries.py
Due: codecov-api

updating migrate_timeseries
  apps/worker/migrate_timeseries.py
Due: worker

add back return statement for report ids
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

Fix/migrations issues (#667)
  apps/codecov-api/migrate_timeseries.py
  apps/worker/migrate_timeseries.py
Due: worker, codecov-api

feat: add meaningful logs for export task (#666)
  apps/codecov-api/codecov_auth/admin.py
  apps/worker/tasks/export_owner_data.py
  libs/shared/shared/owner_data_export/archive_collector.py
  libs/shared/shared/owner_data_export/sql_generator.py
Due: worker, codecov-api, shared

fix(report): correctly parse millisecond Unix timestamps in report expiration checks (#652)
  apps/worker/services/report/languages/base.py
  apps/worker/services/report/languages/clover.py
  apps/worker/services/report/languages/cobertura.py
  apps/worker/services/report/languages/jacoco.py
  apps/worker/services/report/languages/tests/unit/test_base.py
  apps/worker/services/report/languages/tests/unit/test_clover.py
  apps/worker/services/report/languages/tests/unit/test_cobertura.py
  apps/worker/services/report/languages/tests/unit/test_jacoco.py
Due: worker

fix(report): remove Sentry capture for empty report uploads (#653)
  apps/worker/helpers/exceptions.py
  apps/worker/helpers/tests/unit/test_exceptions.py
  apps/worker/services/report/__init__.py
  apps/worker/services/report/raw_upload_processor.py
  apps/worker/services/report/tests/unit/test_process.py
Due: worker

fix: Remove lock name from LockRetry error message to prevent Sentry flooding
  apps/worker/services/lock_manager.py
Due: worker

Add exporter tasks to celery registry
  apps/worker/tasks/__init__.py
Due: worker

Add exporter tasks to celery registry (#669)
  apps/worker/tasks/__init__.py
Due: worker

fix: switch owner_id to ownerid to adhere to task param
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/services/task/task.py
  apps/codecov-api/services/task/task_router.py
  apps/worker/tasks/export_owner_data.py
Due: worker, codecov-api

adjust failing error conditions
  apps/worker/tasks/export_owner_data.py
Due: worker

make cleanup task atomic and only set the task to failed within it
  apps/worker/tasks/export_owner_data.py
Due: worker

dont skip deletion on retry
  apps/worker/tasks/export_owner_data.py
Due: worker

Adrian/adjust ownerid task params (#670)
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/services/task/task.py
  apps/codecov-api/services/task/task_router.py
  apps/worker/tasks/export_owner_data.py
Due: worker, codecov-api

adjust export task to use chains
  apps/codecov-api/codecov_auth/admin.py
  apps/worker/tasks/__init__.py
  apps/worker/tasks/export_owner_data.py
  libs/shared/shared/celery_config.py
Due: worker, codecov-api, shared

fix(worker): Refresh commit after acquiring lock to prevent report overwrites
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/upload_finisher.py
Due: worker

fix: Remove lock name from LockRetry error message to prevent Sentry flooding (#668)
  apps/worker/services/lock_manager.py
Due: worker

fix(worker): Remove repo/commit from LockRetry message for proper Sentry grouping
  apps/worker/services/lock_manager.py
Due: worker

docs: Add AGENT.md with AI agent instructions
  AGENT.md
Due: none

docs: Add security guidelines to protect against AI agent prompt injection
  .cursor/rules/security.mdc
  AGENT.md
Due: none

feat: Add repo name and service id to django admin repo search
  apps/codecov-api/core/admin.py
Due: codecov-api

fix: Add service_id to search fields instead of custom
  apps/codecov-api/core/admin.py
Due: codecov-api

feat: Add GIN index for name field
  libs/shared/shared/django_apps/core/migrations/0077_repository_repos_name_trgm_idx.py
  libs/shared/shared/django_apps/core/models.py
Due: shared

feat: Add select_related for author in repos list
  apps/codecov-api/core/admin.py
Due: codecov-api

fix: Fix select_related usage
  apps/codecov-api/core/admin.py
Due: codecov-api

fix: Add select_related for original queryset
  apps/codecov-api/core/admin.py
Due: codecov-api

chore: Relabel migration with new dependencies
  libs/shared/shared/django_apps/core/migrations/0080_repository_repos_name_trgm_idx.py
Due: shared

fix: Remove redundant select_related
  apps/codecov-api/core/admin.py
Due: codecov-api

validate chain results
  apps/worker/tasks/export_owner_data.py
Due: worker

Adrian/adjust export to chains (#671)
  apps/codecov-api/codecov_auth/admin.py
  apps/worker/tasks/__init__.py
  apps/worker/tasks/export_owner_data.py
  libs/shared/shared/celery_config.py
Due: worker, codecov-api, shared
