Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1
      - type: patch
        target: 90

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  wait_for_ci: false
  require_ci_to_pass: false

docker: build with host network
  Makefile
Due: none

build: run TA timeseries migrations
  docker-compose.yml
  docker/init_db.sql
  tools/devenv/Makefile.devenv
  tools/devenv/scripts/start-worker.sh
Due: none

fix: cache task args
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/tasks/cache_rollup_cron_task.py
  apps/worker/tasks/tests/unit/test_cache_rollup_cron_task.py
Due: worker

feat(overwatch): Add overwatch to umbrella
  .github/workflows/upload-overwatch.yml
Due: none

move cli
  .github/workflows/upload-overwatch.yml
Due: none

fix permission
  .github/workflows/upload-overwatch.yml
Due: none

minor setup tweaks
  .gitignore
  apps/codecov-api/codecov/settings_dev.py
Due: codecov-api

fix: add missing "needs" declaration to self-hosted actions in ci
  .github/workflows/api-ci.yml
  .github/workflows/worker-ci.yml
Due: none

fix: add shared test junit/coverage artifacts to gitignore
  libs/shared/.gitignore
Due: shared

remove FeatureExposure and SimpleMetric models
  libs/shared/shared/django_apps/pg_telemetry/migrations/0002_delete_simplemetric.py
  libs/shared/shared/django_apps/pg_telemetry/models.py
  libs/shared/shared/django_apps/rollouts/migrations/0006_delete_featureexposure.py
  libs/shared/shared/django_apps/rollouts/models.py
  libs/shared/tests/unit/django_apps/pg_telemetry/test_pg_models.py
  libs/shared/tests/unit/django_apps/test_db_routers.py
Due: shared

fix: use getattr in RepositoryViewSet to handle attrs that may not be set
  apps/codecov-api/api/internal/repo/views.py
Due: codecov-api

Unroll `Upload` deletion and run it in chunks
  apps/worker/services/cleanup/regular.py
  apps/worker/services/cleanup/tests/snapshots/regular_cleanup__generates_sliced_upload_cleanups__upload.txt
  apps/worker/services/cleanup/tests/snapshots/upload_cleanup__generates_sliced_upload_cleanups__upload.txt
  apps/worker/services/cleanup/tests/test_regular_cleanup.py
  apps/worker/services/cleanup/tests/test_upload_cleanup.py
  apps/worker/services/cleanup/uploads.py
Due: worker

let's see if this is gonna work
  apps/codecov-api/README.md
  apps/codecov-api/api/public/v2/test_results/serializers.py
  apps/codecov-api/api/public/v2/tests/test_test_results_view.py
Due: codecov-api

Update README.md
  apps/codecov-api/README.md
Due: codecov-api

Fully remove and disallow non-default `report_code`
  apps/codecov-api/services/task/task.py
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/upload/serializers.py
  apps/codecov-api/upload/tests/test_upload.py
  apps/codecov-api/upload/tests/views/test_bundle_analysis.py
  apps/codecov-api/upload/tests/views/test_reports.py
  apps/codecov-api/upload/tests/views/test_test_results.py
  apps/codecov-api/upload/tests/views/test_upload_coverage.py
  apps/codecov-api/upload/tests/views/test_uploads.py
  apps/codecov-api/upload/views/base.py
  apps/codecov-api/upload/views/bundle_analysis.py
  apps/codecov-api/upload/views/reports.py
  apps/codecov-api/upload/views/test_results.py
  apps/codecov-api/upload/views/uploads.py
  apps/worker/services/bundle_analysis/report.py
  apps/worker/services/report/__init__.py
  apps/worker/services/test_results.py
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/tests/unit/test_manual_trigger.py
  apps/worker/tasks/tests/unit/test_preprocess_upload.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
Due: worker, codecov-api

Remove some unused test fixtures
  apps/worker/services/comparison/conftest.py
  apps/worker/tasks/tests/unit/conftest.py
  libs/shared/shared/django_apps/reports/tests/fixtures.py
Due: worker, shared

Remove unused `BackfillTestInstances` and `UpdateBranch` tasks
  apps/worker/celery_config.py
  apps/worker/tasks/__init__.py
  apps/worker/tasks/backfill_test_instances.py
  apps/worker/tasks/update_branches.py
Due: worker

use uv instead
  .github/workflows/upload-overwatch.yml
Due: none

fix venv instantiation
  .github/workflows/upload-overwatch.yml
Due: none

move lint commands to root
  Makefile
  apps/codecov-api/Makefile
  apps/worker/Makefile
  libs/shared/Makefile
Due: worker, codecov-api, shared

chore(ci): remove unused .github/workflows dirs from pre-merge repositories
  apps/codecov-api/.github/workflows/cache_cleanup.yml
  apps/codecov-api/.github/workflows/ci.yml
  apps/codecov-api/.github/workflows/enforce-license-compliance.yml
  apps/codecov-api/.github/workflows/mypy.yml
  apps/codecov-api/.github/workflows/pr_detect_shared_changes.yml
  apps/codecov-api/.github/workflows/self-hosted-release-pr.yml
  apps/codecov-api/.github/workflows/self-hosted-release.yml
  apps/codecov-api/.github/workflows/upload-overwatch.yml
  apps/worker/.github/workflows/cache_cleanup.yml
  apps/worker/.github/workflows/ci.yml
  apps/worker/.github/workflows/enforce-license-compliance.yml
  apps/worker/.github/workflows/mypy.yml
  apps/worker/.github/workflows/pr_detect_shared_changes.yml
  apps/worker/.github/workflows/self-hosted-release-pr.yml
  apps/worker/.github/workflows/self-hosted-release.yml
  apps/worker/.github/workflows/upload-overwatch.yml
  libs/shared/.github/workflows/ci.yml
  libs/shared/.github/workflows/enforce-license-compliance.yml
Due: worker, codecov-api, shared

Fix old upload cleanup
  apps/worker/services/cleanup/uploads.py
Due: worker

Switch some `transactional_db` fixtures to `db`
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/upload/tests/test_serializers.py
  apps/worker/tasks/tests/unit/test_cache_rollup_cron_task.py
  apps/worker/tasks/tests/unit/test_cache_test_rollups.py
  apps/worker/tasks/tests/unit/test_cache_test_rollups_redis.py
  apps/worker/tasks/tests/unit/test_flare_cleanup.py
Due: worker, codecov-api

also clean up `django_db` marks
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/worker/services/report/tests/unit/test_transplant.py
  apps/worker/services/test_analytics/ta_process_flakes.py
  apps/worker/services/test_analytics/tests/test_ta_process_flakes.py
  apps/worker/services/test_analytics/tests/test_ta_processor.py
  apps/worker/services/tests/test_report.py
  apps/worker/tasks/tests/integration/test_upload_e2e.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_delete_owner.py
  apps/worker/tasks/tests/unit/test_notify_task.py
  apps/worker/tasks/tests/unit/test_preprocess_upload.py
  apps/worker/tasks/tests/unit/test_process_flakes.py
  apps/worker/tasks/tests/unit/test_sync_repos_task.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/tests/unit/test_upload_processing_task.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
  libs/shared/tests/integration/test_bots.py
  libs/shared/tests/integration/test_github.py
  libs/shared/tests/unit/bots/test_bots.py
  libs/shared/tests/unit/bots/test_github_apps.py
  libs/shared/tests/unit/django_apps/test_model_utils.py
  libs/shared/tests/unit/rate_limits/test_rate_limit.py
  libs/shared/tests/unit/torngit/test_github.py
Due: worker, codecov-api, shared

emit more descriptive error
  apps/codecov-api/upload/tests/views/test_base.py
  apps/codecov-api/upload/tests/views/test_uploads.py
  apps/codecov-api/upload/views/base.py
Due: codecov-api

remove branch filter for PRs in enforce-license-compliance.yml
  .github/workflows/enforce-license-compliance.yml
Due: none

chore(ci): clean up migration cruft around reqs image cache keys
  .github/workflows/_build-app.yml
  .github/workflows/_self-hosted.yml
  .github/workflows/api-ci.yml
  .github/workflows/self-hosted-release.yml
  .github/workflows/worker-ci.yml
Due: none

chore(ci): tidy up sentry release creation
  .github/workflows/_push-env.yml
Due: none

chore(ci): internalize reusable workflows from gha-workflows
  .github/workflows/_build-app.yml
  .github/workflows/_create-release-pr.yml
  .github/workflows/_create-release.yml
  .github/workflows/_lint.yml
  .github/workflows/_push-env.yml
  .github/workflows/_run-tests.yml
  .github/workflows/_self-hosted.yml
  .github/workflows/api-ci.yml
  .github/workflows/self-hosted-release-pr.yml
  .github/workflows/self-hosted-release.yml
  .github/workflows/shared-ci.yml
  .github/workflows/worker-ci.yml
Due: none

Add debug logs
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

fix segments error
  apps/codecov-api/services/comparison.py
Due: codecov-api

Prepare release 25.5.1
  VERSION
Due: none

add migration
  libs/shared/shared/django_apps/core/migrations/0069_increment_version.py
Due: shared

propagate umbrella VERSION file to worker/api in selfhosted release
  Makefile
  apps/codecov-api/Makefile
  apps/codecov-api/VERSION
  apps/worker/Makefile
  apps/worker/VERSION
Due: worker, codecov-api

Suppress Sentry error from token refresh failure
  libs/shared/shared/torngit/github.py
Due: shared

fix: add LC_ALL=C to makefile sort usage to normalize order
  Makefile
Due: none

fix: make test flag bridge id bigint
  libs/shared/shared/django_apps/reports/migrations/0042_alter_testflagbridge_id.py
  libs/shared/shared/django_apps/reports/models.py
Due: shared

devenv: create .envrc / .envrc.private, enable pulling reqs images
  .envrc
  .gitignore
  Makefile
  README.md
  docker-compose.yml
Due: none

Move `ruff` linting to the toplevel workspace
  .envrc
  .github/workflows/_lint.yml
  .github/workflows/api-ci.yml
  .github/workflows/ci-router.yml
  .github/workflows/shared-ci.yml
  .github/workflows/upload-overwatch.yml
  .github/workflows/worker-ci.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/README.md
  .vscode/extensions.json
  .vscode/settings.json
  apps/codecov-api/.deep-dive.yaml
  apps/codecov-api/.gitmodules
  apps/codecov-api/.pre-commit-config.yaml
  apps/codecov-api/Makefile
  apps/codecov-api/pyproject.toml
  apps/codecov-api/ruff.toml
  apps/codecov-api/uv.lock
  apps/worker/.pre-commit-config.yaml
  apps/worker/Makefile
  apps/worker/pyproject.toml
  apps/worker/ruff.toml
  apps/worker/uv.lock
  libs/shared/.pre-commit-config.yaml
  libs/shared/.vscode/README.md
  libs/shared/.vscode/extensions.json
  libs/shared/.vscode/settings.json
  libs/shared/Makefile
  libs/shared/pyproject.toml
  libs/shared/ruff.toml
  libs/shared/uv.lock
  pyproject.toml
  ruff.toml
  uv.lock
Due: worker, codecov-api, shared
