Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

get rid of enumerate since it's redundant
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

add grouping logic
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

feat: add script to export TA data (#548)
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/urls.py
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

[CCMRG-1743] Implement graceful shutdown handling in worker script (#549)
  apps/codecov-api/api.sh
  apps/worker/worker.sh
  docker-compose.yml
  tools/devenv/scripts/start.sh
Due: worker, codecov-api

add 25.11.3 migration
  libs/shared/shared/django_apps/core/migrations/0076_increment_version.py
Due: shared

Release 25.11.3 (#547)
  VERSION
  libs/shared/shared/django_apps/core/migrations/0076_increment_version.py
Due: shared

testing another push
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/urls.py
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

add logger line
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

fix(bot): Add customer bot to listing
  apps/worker/services/decoration.py
Due: worker

fix(bot): Add customer bot to listing (#552)
  apps/worker/services/decoration.py
Due: worker

feat(celery): add worker_soft_shutdown_timeout configuration option
  libs/shared/shared/celery_config.py
Due: shared

style(celery): format worker_soft_shutdown_timeout configuration for readability
  libs/shared/shared/celery_config.py
Due: shared

feat(validation): add worker_soft_shutdown_timeout to config schema
  libs/shared/shared/validation/install.py
Due: shared

adding europe
  .github/workflows/_run-tests.yml
Due: none

refactor(tests): remove COVERAGE_CORE environment variable from test commands
  tools/devenv/Makefile.test
Due: none

refactor(tests): remove COVERAGE_CORE from CI test configurations
  apps/codecov-api/Makefile
  apps/worker/Makefile
  ci-tests.docker-compose.yml
  docker/Makefile.ci-tests
Due: worker, codecov-api

feat(celery): add worker_soft_shutdown_timeout configuration option (#553)
  apps/codecov-api/Makefile
  apps/worker/Makefile
  ci-tests.docker-compose.yml
  docker/Makefile.ci-tests
  libs/shared/shared/celery_config.py
  libs/shared/shared/validation/install.py
  tools/devenv/Makefile.test
Due: worker, codecov-api, shared

feat(sentry): add before_send_transaction function to filter noisy transactions
  apps/worker/helpers/sentry.py
  apps/worker/helpers/tests/unit/test_sentry.py
Due: worker

refactor(tests): clean up whitespace in test_sentry.py
  apps/worker/helpers/tests/unit/test_sentry.py
Due: worker

adding europe (#554)
  .github/workflows/_run-tests.yml
Due: none

feat(sentry): add before_send_transaction function to filter noisy transactions (#555)
  apps/worker/helpers/sentry.py
  apps/worker/helpers/tests/unit/test_sentry.py
Due: worker

CCMRG-1862 Enhance logging in ReportService and UploadTask for better traceability
  apps/worker/services/report/__init__.py
  apps/worker/tasks/upload.py
Due: worker

Refactor logging in ReportService and UploadTask for clarity
  apps/worker/services/report/__init__.py
  apps/worker/tasks/upload.py
Due: worker

Enhance error logging in UploadTask and refactor ReportService logging
  apps/worker/services/report/__init__.py
  apps/worker/tasks/tests/unit/test_upload_task.py
Due: worker

Refactor whitespace in UploadTask unit tests for improved readability
  apps/worker/tasks/tests/unit/test_upload_task.py
Due: worker

Update ReportService to use total files count in report logging
  apps/worker/services/report/__init__.py
Due: worker

Enhance unit tests for UploadTask by mocking dependencies
  apps/worker/tasks/tests/unit/test_upload_task.py
Due: worker

Enhance report logging in ReportService with fallback for file count
  apps/worker/services/report/__init__.py
Due: worker

Add breadcrumb logging for error handling in UploadTask
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

Update ReportService to log total files count directly from report
  apps/worker/services/report/__init__.py
Due: worker

Refactor error logging in UploadTask unit tests for improved clarity
  apps/worker/tasks/tests/unit/test_upload_task.py
Due: worker

Refactor error logging assertions in UploadTask unit tests for enhanced clarity
  apps/worker/tasks/tests/unit/test_upload_task.py
Due: worker

CCMRG-1862 Enhance logging in ReportService and UploadTask for better traceability (#556)
  apps/worker/services/report/__init__.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

testing uploads
  .github/workflows/_run-tests.yml
Due: none

feat: add pod failure resilience to celery tasks
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/unit/test_base.py
  libs/shared/shared/celery_config.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, shared

fix: remove retries==0 check that prevented retry validation
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

fix: auto-recover orphaned uploads from pod failures
  apps/worker/services/processing/processing.py
  apps/worker/services/processing/state.py
  apps/worker/services/tests/test_processing.py
  apps/worker/tasks/upload_finisher.py
Due: worker

fix: prevent finisher race conditions and data loss
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
Due: worker

test: add coverage for database fallback in upload finisher
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
Due: worker

fix: move import to top level
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
Due: worker
