Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

fix and enable `PLW` rules
  apps/codecov-api/api/shared/compare/mixins.py
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov/views.py
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_cancel_trial.py
  apps/codecov-api/codecov_auth/commands/owner/interactors/tests/test_start_trial.py
  apps/worker/database/events.py
  apps/worker/helpers/sentry.py
  apps/worker/services/bundle_analysis/notify/messages/comment.py
  ruff.toml
Due: worker, codecov-api

enable `W` rules, but add exceptions
  ruff.toml
Due: none

Turn `labelanalysis` and `staticanalysis` views into noops
  apps/codecov-api/labelanalysis/serializers.py
  apps/codecov-api/labelanalysis/tests/integration/test_views.py
  apps/codecov-api/labelanalysis/urls.py
  apps/codecov-api/labelanalysis/views.py
  apps/codecov-api/staticanalysis/serializers.py
  apps/codecov-api/staticanalysis/tests/test_views.py
  apps/codecov-api/staticanalysis/tests/unit/__init__.py
  apps/codecov-api/staticanalysis/tests/unit/test_serializers.py
  apps/codecov-api/staticanalysis/urls.py
  apps/codecov-api/staticanalysis/views.py
Due: codecov-api

Cleanup `staticanalysis` and `local-upload` related entities
  apps/worker/services/cleanup/regular.py
  apps/worker/services/cleanup/tests/test_regular_cleanup.py
Due: worker

Remove ATS-related label/staticanalysis tasks
  apps/codecov-api/services/task/task_router.py
  apps/codecov-api/services/tests/test_task_router.py
  apps/worker/celery_task_router.py
  apps/worker/services/static_analysis/__init__.py
  apps/worker/services/static_analysis/git_diff_parser.py
  apps/worker/services/static_analysis/single_file_analyzer.py
  apps/worker/services/static_analysis/tests/__init__.py
  apps/worker/services/static_analysis/tests/unit/__init__.py
  apps/worker/services/static_analysis/tests/unit/test_git_diff_parser.py
  apps/worker/services/static_analysis/tests/unit/test_single_file_analyzer.py
  apps/worker/services/static_analysis/tests/unit/test_static_analysis_comparison.py
  apps/worker/tasks/__init__.py
  apps/worker/tasks/label_analysis.py
  apps/worker/tasks/static_analysis_suite_check.py
  apps/worker/tasks/tests/unit/test_check_static_analysis.py
  apps/worker/tasks/tests/unit/test_label_analysis.py
  apps/worker/tasks/tests/unit/test_label_analysis_encoded_labels.py
  apps/worker/tests/unit/test_task_router.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/utils/enums.py
  libs/shared/tests/unit/test_celery_config.py
  libs/shared/tests/unit/validation/test_install_validation.py
Due: worker, codecov-api, shared

chore: remove log that is extremely noisy in dev envs
  libs/shared/shared/rollouts/__init__.py
Due: shared

chore: run ruff check
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

fix: change the TA timescale refresh policy
  libs/shared/shared/django_apps/ta_timeseries/migrations/0006_auto_20250425_1925.py
Due: shared

build: pause ts background worker when running migrations
  apps/worker/migrate_timeseries.py
Due: worker

fix lint errors
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

feat: enable new TA tasks on new repos
  apps/worker/services/test_analytics/ta_metrics.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/upload.py
Due: worker

devenv: automatically install pre-commit in envrc
  .envrc
Due: none

fix: dependabot bot account
  apps/worker/services/decoration.py
Due: worker

add flare_cleanup to regular_cleanup
  apps/worker/celery_config.py
  apps/worker/services/cleanup/regular.py
  apps/worker/services/cleanup/tests/test_regular_cleanup.py
  apps/worker/tasks/flare_cleanup.py
  apps/worker/tasks/tests/unit/test_flare_cleanup.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/django_apps/core/models.py
Due: worker, shared

reduce queries, put flare before upload cleanup for testing
  apps/worker/services/cleanup/regular.py
  apps/worker/services/cleanup/tests/test_regular_cleanup.py
Due: worker

remove experimental logs
  apps/codecov-api/graphs/views.py
Due: codecov-api

lint
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

remove deprecated integration stuff, simplify github install webhooks
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

fix tests and indents
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

Improve cleanup progress reporting and scheduling
  apps/worker/services/cleanup/cleanup.py
  apps/worker/services/cleanup/models.py
  apps/worker/services/cleanup/owner.py
  apps/worker/services/cleanup/regular.py
  apps/worker/services/cleanup/repository.py
  apps/worker/services/cleanup/tests/test_regular_cleanup.py
  apps/worker/services/cleanup/tests/test_upload_cleanup.py
  apps/worker/services/cleanup/uploads.py
  apps/worker/services/cleanup/utils.py
  apps/worker/tasks/flare_cleanup.py
  apps/worker/tasks/tests/unit/test_delete_owner.py
  apps/worker/tasks/tests/unit/test_flare_cleanup.py
  apps/worker/tasks/tests/unit/test_flush_repo.py
Due: worker

Add more logs
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

feat(ta-gql): handle receiving all branches filter
  apps/codecov-api/graphql_api/tests/snapshots/analytics__TestAnalyticsTestCase__gql_query_with_new_ta_all_branches__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/test_results.py
Due: codecov-api

Update django version
  apps/codecov-api/uv.lock
  apps/worker/pyproject.toml
  apps/worker/uv.lock
  libs/shared/pyproject.toml
  libs/shared/uv.lock
Due: worker, codecov-api, shared

fix: typo in lint CI name and unnecessary docker-compose dep
  .github/workflows/ci-router.yml
  docker-compose.yml
Due: none

chore: pre-commit hook for running uv sync automatically
  .pre-commit-config.yaml
  tools/devenv/scripts/uv-sync.sh
Due: none

move flare cleanup into cleanup service
  apps/worker/celery_config.py
  apps/worker/services/cleanup/pulls.py
  apps/worker/services/cleanup/regular.py
  apps/worker/services/cleanup/tests/test_pulls.py
  apps/worker/tasks/flare_cleanup.py
  apps/worker/tasks/tests/unit/test_flare_cleanup.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/django_apps/core/models.py
Due: worker, shared

build: update test results parser version
  apps/worker/pyproject.toml
  apps/worker/uv.lock
Due: worker

Remove some unused code
  apps/worker/conftest.py
  apps/worker/database/models/__init__.py
  apps/worker/database/models/labelanalysis.py
  apps/worker/database/models/staticanalysis.py
  apps/worker/database/tests/factories/labelanalysis.py
  apps/worker/database/tests/factories/staticanalysis.py
  apps/worker/services/comparison/__init__.py
  apps/worker/services/lock_manager.py
  apps/worker/services/processing/processing.py
  apps/worker/services/report/__init__.py
  apps/worker/services/test_results.py
  apps/worker/services/tests/test_report.py
  apps/worker/services/urls.py
  apps/worker/tasks/upload.py
  libs/shared/shared/django_apps/labelanalysis/tests/__init__.py
  libs/shared/shared/django_apps/labelanalysis/tests/factories.py
  libs/shared/shared/django_apps/staticanalysis/tests/factories.py
Due: worker, shared

fix: address feedback
  apps/worker/uv.lock
Due: worker

Add a new free-form `properties` field to TA
  libs/shared/shared/django_apps/ta_timeseries/migrations/0007_add_properties.py
  libs/shared/shared/django_apps/ta_timeseries/models.py
Due: shared

build: enable ta timeseries by default in devenv
  docker-compose.yml
Due: none

fix: capture exception in is admin interactor
  apps/codecov-api/codecov_auth/commands/owner/interactors/get_is_current_user_an_admin.py
Due: codecov-api

fix: delete testruns with long strings
  libs/shared/shared/django_apps/ta_timeseries/migrations/0008_auto_20250506_2009.py
Due: shared

fix: use correct invocation of migrate_timeseries.py in devenv startup
  tools/devenv/scripts/start-worker.sh
Due: none

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
