Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

change to info
  apps/worker/services/cleanup/relations.py
Due: worker

change to info (#732)
  apps/worker/services/cleanup/relations.py
Due: worker

Fix N+1 query in ProcessFlakesTask by batch-fetching testruns
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix N+1 query in flake processing by batching database updates
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix N+1 query issue in ProcessFlakesTask
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix N+1 query in ProcessFlakesTask by fetching testruns in batch
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix N+1 query in flake processing by fetching all testruns at once
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix N+1 query in ProcessFlakesTask by adding select_related
  apps/codecov-api/services/bundle_analysis.py
  apps/worker/services/test_analytics/ta_process_flakes.py
  libs/shared/shared/bundle_analysis/utils.py
  libs/shared/tests/unit/encryption/test_selector.py
Due: worker, codecov-api, shared

fix(worker): remove stale attempts cache causing infinite retry loops
  apps/worker/services/lock_manager.py
  apps/worker/tasks/base.py
Due: worker

fixup: revert blocking_timeout change, improve attempts docstring, add regression tests
  apps/worker/services/lock_manager.py
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/unit/test_base.py
Due: worker

fix(worker): remove stale attempts cache causing infinite retry loops (#734)
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/unit/test_base.py
Due: worker

Fix N+1 query in flake processing
  apps/codecov-api/api/internal/tests/unit/views/test_compare_flags_view.py
  apps/codecov-api/services/bundle_analysis.py
  apps/codecov-api/upload/tokenless/appveyor.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/worker/services/test_analytics/ta_process_flakes.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_compute_comparison.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/bundle_analysis/utils.py
  libs/shared/shared/django_apps/ta_timeseries/tests/factories.py
  libs/shared/tests/integration/test_report.py
  libs/shared/tests/unit/encryption/test_selector.py
Due: worker, codecov-api, shared

Fix N+1 query in ProcessFlakesTask by adding select_related
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix N+1 query issues in ProcessFlakesTask
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix query replication conflict in cleanup operations
  apps/worker/services/cleanup/owner.py
  apps/worker/services/cleanup/regular.py
  apps/worker/services/cleanup/relations.py
  apps/worker/services/cleanup/repository.py
  apps/worker/services/cleanup/uploads.py
Due: worker

Fix N+1 query in ProcessFlakesTask by adding select_related()
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix N+1 query in ProcessFlakesTask by batching testrun fetches
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix N+1 query in ProcessFlakesTask by eager loading related objects
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix N+1 query in ProcessFlakesTask by adding select_related
  apps/codecov-api/api/internal/tests/unit/views/test_compare_flags_view.py
  apps/codecov-api/services/bundle_analysis.py
  apps/codecov-api/upload/tokenless/appveyor.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/worker/services/test_analytics/ta_process_flakes.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_compute_comparison.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/bundle_analysis/utils.py
  libs/shared/shared/django_apps/ta_timeseries/tests/factories.py
  libs/shared/tests/integration/test_report.py
  libs/shared/tests/unit/encryption/test_selector.py
Due: worker, codecov-api, shared

Fix N+1 query issue in ProcessFlakesTask
  apps/codecov-api/api/internal/tests/unit/views/test_compare_flags_view.py
  apps/codecov-api/services/bundle_analysis.py
  apps/codecov-api/upload/tokenless/appveyor.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/worker/services/test_analytics/ta_process_flakes.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_compute_comparison.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/bundle_analysis/utils.py
  libs/shared/shared/django_apps/ta_timeseries/tests/factories.py
  libs/shared/tests/integration/test_report.py
  libs/shared/tests/unit/encryption/test_selector.py
Due: worker, codecov-api, shared

Fix zstd decompression error by improving detection logic
  apps/codecov-api/services/bundle_analysis.py
  libs/shared/shared/bundle_analysis/utils.py
  libs/shared/shared/storage/compression.py
  libs/shared/tests/unit/encryption/test_selector.py
  libs/shared/tests/unit/storage/test_minio.py
Due: codecov-api, shared

Fix N+1 query in ProcessFlakesTask
  apps/codecov-api/api/internal/tests/unit/views/test_compare_flags_view.py
  apps/codecov-api/services/bundle_analysis.py
  apps/codecov-api/upload/tokenless/appveyor.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/worker/services/test_analytics/ta_process_flakes.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_compute_comparison.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/bundle_analysis/utils.py
  libs/shared/shared/django_apps/ta_timeseries/tests/factories.py
  libs/shared/tests/integration/test_report.py
  libs/shared/tests/unit/encryption/test_selector.py
Due: worker, codecov-api, shared

Fix commit visibility issue in NotifyTask with retry logic
  apps/worker/helpers/log_context.py
  apps/worker/tasks/notify.py
Due: worker

Fix N+1 database query for flaky tests in TestResultsProcessor
  apps/worker/services/test_analytics/ta_processor.py
  apps/worker/tasks/test_results_processor.py
Due: worker

Apply ruff formatting fixes
  apps/codecov-api/api/internal/tests/unit/views/test_compare_flags_view.py
  apps/codecov-api/services/bundle_analysis.py
  apps/codecov-api/upload/tokenless/appveyor.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_compute_comparison.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/bundle_analysis/utils.py
  libs/shared/shared/django_apps/ta_timeseries/tests/factories.py
  libs/shared/tests/integration/test_report.py
  libs/shared/tests/unit/encryption/test_selector.py
Due: worker, codecov-api, shared

Fix commit not found error in BundleAnalysisProcessor
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

Fix N+1 query in ProcessFlakesTask by fetching all testruns at once
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Fix InvalidInstallationError by adding fallback to other bot tokens
  libs/shared/shared/bots/repo_bots.py
  libs/shared/tests/unit/bots/test_bots.py
Due: shared

Remove deprecated groot-preview header and add 5xx error handling
  apps/codecov-api/api/internal/tests/unit/views/test_compare_flags_view.py
  apps/codecov-api/services/bundle_analysis.py
  apps/codecov-api/upload/tokenless/appveyor.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/worker/services/repository.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_compute_comparison.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/bundle_analysis/utils.py
  libs/shared/shared/django_apps/ta_timeseries/tests/factories.py
  libs/shared/shared/torngit/github.py
  libs/shared/tests/integration/test_report.py
  libs/shared/tests/unit/encryption/test_selector.py
Due: worker, codecov-api, shared

Handle GitHub 5xx errors gracefully in commit updates
  apps/codecov-api/api/internal/tests/unit/views/test_compare_flags_view.py
  apps/codecov-api/services/bundle_analysis.py
  apps/codecov-api/upload/tokenless/appveyor.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
  apps/worker/services/repository.py
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/unit/test_commit_update.py
  apps/worker/tasks/tests/unit/test_compute_comparison.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/bundle_analysis/utils.py
  libs/shared/shared/django_apps/ta_timeseries/tests/factories.py
  libs/shared/tests/integration/test_report.py
  libs/shared/tests/unit/encryption/test_selector.py
Due: worker, codecov-api, shared

Fix ReadTimeout in BrollyStatsRollupTask by adding configurable timeout
  apps/worker/tasks/brolly_stats_rollup.py
  apps/worker/tasks/tests/unit/test_brolly_stats_rollup.py
Due: worker

Fix N+1 queries in ProcessFlakesTask
  apps/worker/services/test_analytics/ta_process_flakes.py
Due: worker

Handle missing 'name' attribute in JaCoCo XML elements
  apps/worker/services/report/languages/jacoco.py
Due: worker

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
