Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

fix: more lint?
  apps/worker/tasks/upload_processor.py
Due: worker

use ipware
  apps/codecov-api/codecov/settings_base.py
  apps/codecov-api/codecov_auth/helpers.py
  apps/codecov-api/codecov_auth/tests/unit/test_helpers.py
  apps/codecov-api/graphql_api/tests/test_views.py
  pyproject.toml
  uv.lock
Due: codecov-api

fix: add more generic logic for error colleciton in upload processing (#579)
  .github/workflows/_run-tests.yml
  apps/worker/services/report/__init__.py
  apps/worker/tasks/tests/unit/test_upload_processing_task.py
  apps/worker/tasks/upload_processor.py
Due: worker

feat: add max retry metrics to upload flow tasks and notify task
  apps/worker/tasks/notify.py
  apps/worker/tasks/tests/unit/test_notify_task.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
  apps/worker/tasks/upload_processor.py
Due: worker

feat: add worker task to export TA data
  apps/worker/tasks/__init__.py
  apps/worker/tasks/export_test_analytics_data.py
  apps/worker/tasks/tests/unit/test_export_test_analytics_data.py
  libs/shared/pyproject.toml
  libs/shared/shared/storage/data_exporter.py
  pyproject.toml
Due: worker, shared

revert changes meant for other branch
  apps/worker/tasks/__init__.py
  apps/worker/tasks/export_test_analytics_data.py
  apps/worker/tasks/tests/unit/test_export_test_analytics_data.py
  libs/shared/pyproject.toml
  libs/shared/shared/storage/data_exporter.py
  pyproject.toml
Due: worker, shared

CCMRG-1896: Add lock duration to release lock log message
  apps/worker/services/lock_manager.py
Due: worker

Delete LCOV_PARTIALS_AS_HITS.md
  LCOV_PARTIALS_AS_HITS.md
Due: none

Update action-enforce-license-compliance version
  .github/workflows/enforce-license-compliance.yml
Due: none

Delete .gitignore
  .gitignore
Due: none

restore .gitignore
  .gitignore
Due: none

feat: implement partials_as_hits feature for LCOV parser (#383)
  apps/worker/services/report/languages/lcov.py
  apps/worker/services/report/languages/tests/unit/test_lcov.py
  libs/shared/shared/validation/user_schema.py
  libs/shared/tests/unit/validation/test_validation.py
Due: worker, shared

CCMRG-1896: Add lock duration to release lock log message (#583)
  apps/worker/services/lock_manager.py
Due: worker

testing_eu
  .github/workflows/_run-tests.yml
Due: none

commit view
  apps/codecov-api/core/admin.py
Due: codecov-api

feat: add post/get endpoints to create/fetch ta export data (#563)
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/urls.py
  apps/codecov-api/api/sentry/views.py
  libs/shared/shared/celery_config.py
  libs/shared/shared/utils/enums.py
  libs/shared/tests/unit/test_celery_config.py
Due: codecov-api, shared

add check to process flakes using accounts if existing
  apps/worker/services/test_results.py
  apps/worker/services/tests/test_test_results.py
Due: worker

testing_eu (#584)
  .github/workflows/_run-tests.yml
Due: none

fix
  apps/codecov-api/core/admin.py
  apps/codecov-api/services/task/task.py
  apps/worker/services/processing/state.py
  apps/worker/tasks/upload_finisher.py
Due: worker, codecov-api

use complete upload pipeline
  apps/codecov-api/core/admin.py
Due: codecov-api

add check to process flakes using accounts if existing (#585)
  apps/worker/services/test_results.py
  apps/worker/services/tests/test_test_results.py
Due: worker

test analytics reprocessing fix
  apps/codecov-api/core/admin.py
Due: codecov-api

add new breadcrumbs with report type
  apps/worker/tasks/base.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/test_results_processor.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
Due: worker, shared

tests
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
Due: worker

display
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
Due: shared

tests
  apps/codecov-api/core/tests/test_admin.py
  apps/codecov-api/services/tests/test_task.py
  apps/worker/services/tests/test_processing_state.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
Due: worker, codecov-api

tests
  apps/worker/tasks/tests/unit/test_test_results_finisher.py
  apps/worker/tasks/tests/unit/test_test_results_processor_task.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: worker, shared

CCMRG-1903: Centralize lock logging in BaseCodecovTask
  apps/worker/tasks/base.py
  apps/worker/tasks/crontasks.py
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/sync_pull.py
  apps/worker/tasks/sync_repos.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
Due: worker

CCMRG-1903: Add tests for with_logged_lock() method
  apps/worker/tasks/tests/unit/test_base.py
Due: worker

Fix ruff lint error: rename loop variable to avoid shadowing imported 'call'
  apps/worker/tasks/tests/unit/test_base.py
Due: worker

Fix floating point precision issue in lock duration tests
  apps/worker/tasks/tests/unit/test_base.py
Due: worker

Refactor lock duration assertions to resolve flakes
  apps/worker/tasks/tests/unit/test_base.py
Due: worker

Fix maintainability issue: ensure lock_name matches actual lock
  apps/worker/tasks/upload_finisher.py
Due: worker

remove old
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/upload_finisher.py
Due: worker

more tests
  apps/worker/tasks/test_results_finisher.py
  libs/shared/shared/django_apps/upload_breadcrumbs/tests/test_admin.py
Due: worker, shared

Remove commented log verification in test_base.py
  apps/worker/tasks/tests/unit/test_base.py
Due: worker

CCMRG-1903: Centralize lock logging in BaseCodecovTask (#588)
  apps/worker/tasks/base.py
  apps/worker/tasks/crontasks.py
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/sync_pull.py
  apps/worker/tasks/sync_repos.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
Due: worker

Refactor lock management in tasks to use LockManager
  apps/worker/services/lock_manager.py
  apps/worker/tasks/base.py
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/test_analytics_notifier.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/tests/unit/test_manual_trigger.py
  apps/worker/tasks/tests/unit/test_preprocess_upload.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/tests/utils.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/celery_config.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, shared

Refactor blocking timeout comments in task files
  apps/worker/tasks/base.py
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/test_analytics_notifier.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/tests/utils.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
Due: worker

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
