Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

Remove redundant lock acquisition logging from task files
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
Due: worker

Enhance lock management with configurable max retries
  apps/worker/services/lock_manager.py
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/celery_config.py
Due: worker, shared

Refactor lock management and visibility timeout settings
  apps/worker/services/lock_manager.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/upload.py
  libs/shared/shared/celery_config.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, shared

Move imports to top
  apps/worker/services/tests/test_lock_manager.py
Due: worker

Prepare release 25.12.1
  VERSION
Due: none

remove comments
  apps/worker/tasks/tests/unit/test_test_results_finisher.py
Due: worker

feat: stream data into a temp file while batching every 10000 records
  apps/worker/tasks/export_test_analytics_data.py
  apps/worker/tasks/tests/unit/test_export_test_analytics_data.py
Due: worker

add version 25.12.1 migration
  libs/shared/shared/django_apps/core/migrations/0077_increment_version.py
Due: shared

adjust test to take repo_name instead of name in log call
  apps/worker/tasks/export_test_analytics_data.py
Due: worker

Refactor tests for lock timeout handling
  apps/worker/services/tests/test_lock_manager.py
Due: worker

Add tests for lock retry behavior in ManualTriggerTask
  apps/worker/tasks/tests/unit/test_manual_trigger.py
Due: worker

Update PreProcessUpload to utilize configurable lock timeout
  apps/worker/tasks/preprocess_upload.py
Due: worker

Refactor lock management in tasks to use LockManager (#589)
  apps/worker/services/lock_manager.py
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/base.py
  apps/worker/tasks/bundle_analysis_notify.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/manual_trigger.py
  apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/test_analytics_notifier.py
  apps/worker/tasks/test_results_finisher.py
  apps/worker/tasks/tests/unit/test_manual_trigger.py
  apps/worker/tasks/tests/unit/test_preprocess_upload.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/tests/unit/test_upload_task.py
  apps/worker/tasks/tests/utils.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
  libs/shared/shared/celery_config.py
Due: worker, shared

feat: Add billing rate and base unit price fields to account details scheduledPhase payload (#569)
  apps/codecov-api/api/internal/owner/serializers.py
  apps/codecov-api/api/internal/tests/views/test_account_viewset.py
Due: codecov-api

refactor
  apps/codecov-api/core/admin.py
  apps/codecov-api/core/tests/test_admin.py
Due: codecov-api

slight change
  apps/codecov-api/core/admin.py
Due: codecov-api

add missing_ok=true to file path
  apps/worker/tasks/export_test_analytics_data.py
Due: worker

wrap file addition call in try/finally to ensure file is cleanedup
  apps/worker/tasks/export_test_analytics_data.py
Due: worker

fix(worker): Filter remaining_uploads query by report_type=COVERAGE
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/upload_finisher.py
Due: worker

CCMRG-1910: Simplify worker shutdown to forward signals and let Celery handle graceful shutdown
  apps/worker/worker.sh
Due: worker

test: Fix test_should_call_notifications_with_pending_uploads_in_db
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
Due: worker

CCMRG-1910: Simplify worker shutdown to forward signals and let Celery handle graceful shutdown (#593)
  apps/worker/worker.sh
Due: worker

fix(worker): Filter remaining_uploads query by report_type=COVERAGE (#592)
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/upload_finisher.py
Due: worker

Rerun Task from Commits (#586)
  apps/codecov-api/core/admin.py
  apps/codecov-api/core/tests/test_admin.py
  apps/codecov-api/services/task/task.py
  apps/codecov-api/services/tests/test_task.py
  apps/worker/services/processing/state.py
  apps/worker/services/tests/test_processing_state.py
  apps/worker/tasks/upload_finisher.py
Due: worker, codecov-api

feat: allow sentry-merge plans to do flakes
  apps/worker/services/test_results.py
  apps/worker/services/tests/test_test_results.py
Due: worker

feat: Add repo name and service id to django admin repo search
  apps/codecov-api/core/admin.py
Due: codecov-api

fix: Add service_id to search fields instead of custom
  apps/codecov-api/core/admin.py
Due: codecov-api

feat: Add GIN index for name field
  libs/shared/shared/django_apps/core/migrations/0077_repository_repos_name_trgm_idx.py
  libs/shared/shared/django_apps/core/models.py
Due: shared

feat: Add select_related for author in repos list
  apps/codecov-api/core/admin.py
Due: codecov-api

chore(deps): bump django from 4.2.25 to 4.2.27
  libs/shared/pyproject.toml
  pyproject.toml
  uv.lock
Due: shared

fix: use django 4.2.26
  pyproject.toml
  uv.lock
Due: none

fix: oops
  pyproject.toml
Due: none

fix: add test settings
  libs/shared/shared/django_apps/db_settings.py
  uv.lock
Due: shared

fix: oops
  pyproject.toml
  uv.lock
Due: none

fix(worker): Prevent infinite retry loops when max retries exceeded
  apps/worker/tasks/upload_finisher.py
  libs/shared/tests/unit/test_celery_config.py
Due: worker, shared

Enhance task retry logic to track total attempts including visibility timeout re-deliveries
  apps/worker/services/lock_manager.py
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/upload_finisher.py
Due: worker

closer the connection regardless to make sure the tarfile isn't left open
  libs/shared/shared/storage/data_exporter.py
Due: shared

fix: Add explicit db_session.commit() to persist upload state in bundle analysis processor
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

fix: Add type cast for compare_sha parameter
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker

style: Apply ruff formatting
  apps/worker/tasks/bundle_analysis_processor.py
Due: worker
