Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

feat: add duration to all passed comment (#477)
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
  apps/worker/services/test_results.py
Due: worker

feat: restore TA GQL resolvers to defaulting to all branches
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__gql_query_test_results_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
Due: codecov-api

fix: pem path overriding and ref get_pem
  libs/shared/shared/github/__init__.py
  libs/shared/tests/unit/github/test_github_installation_helpers.py
Due: shared

feat: add lower bound to get_pr_comment TA functions
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
Due: worker

feat: restore TA GQL resolvers to defaulting to all branches (#453)
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__gql_query_test_results_aggregates_timescale__0.json
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
Due: codecov-api

feat: add lower bound to get_pr_comment TA functions (#485)
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/ta_timeseries.py
  apps/worker/services/test_analytics/tests/test_ta_timeseries.py
Due: worker

perm classes
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

trailing slash
  apps/codecov-api/api/sentry/urls.py
Due: codecov-api

update test assertions
  apps/codecov-api/api/sentry/tests/test_views.py
Due: codecov-api

fix: Perm classes for account link/unlink endpoints (#499)
  apps/codecov-api/api/sentry/tests/test_views.py
  apps/codecov-api/api/sentry/urls.py
  apps/codecov-api/api/sentry/views.py
Due: codecov-api

fix: pem path overriding and ref get_pem (#496)
  libs/shared/shared/github/__init__.py
  libs/shared/tests/unit/github/test_github_installation_helpers.py
Due: shared

fix: make django github app installation model match sql alc model
  apps/worker/database/models/core.py
  apps/worker/database/tests/unit/test_models.py
  apps/worker/services/notification/tests/unit/test_notification_service.py
  apps/worker/services/tests/test_owner_service.py
  apps/worker/services/tests/test_repository_service.py
  apps/worker/tasks/tests/unit/test_sync_repos_task.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/tests/conftest.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
Due: worker, shared

ref: factor out is_configured and default_app_installations
  apps/worker/database/models/core.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/helpers/github_apps.py
  libs/shared/tests/unit/helpers/test_github_apps.py
Due: worker, shared

fix: make django github app installation model match sql alc model (#494)
  apps/worker/database/models/core.py
  apps/worker/database/tests/unit/test_models.py
  apps/worker/services/notification/tests/unit/test_notification_service.py
  apps/worker/services/tests/test_owner_service.py
  apps/worker/services/tests/test_repository_service.py
  apps/worker/tasks/tests/unit/test_sync_repos_task.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/helpers/github_apps.py
  libs/shared/tests/conftest.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
  libs/shared/tests/unit/helpers/test_github_apps.py
Due: worker, shared

fix: copy for file not in storage comment
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__1.txt
  apps/worker/services/test_results.py
Due: worker

fix: copy for file not in storage comment (#500)
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__1.txt
  apps/worker/services/test_results.py
Due: worker

feat: prefetch user for sentry endpoint
  apps/codecov-api/codecov_auth/middleware.py
  apps/codecov-api/codecov_auth/tests/test_middleware.py
Due: codecov-api

Update README.md
  README.md
Due: none

Update README.md (#502)
  README.md
Due: none

add tests
  apps/codecov-api/codecov_auth/tests/test_middleware.py
  apps/codecov-api/graphql_api/tests/test_sentry_view.py
  tools/devenv/Makefile.test
Due: codecov-api

woops
  tools/devenv/Makefile.test
Due: none

feat: prefetch user for sentry endpoint (#501)
  apps/codecov-api/codecov_auth/middleware.py
  apps/codecov-api/codecov_auth/tests/test_middleware.py
  apps/codecov-api/graphql_api/tests/test_sentry_view.py
Due: codecov-api

fix: update feedback form in TA PR comment
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_results.py
  apps/worker/services/tests/snapshots/results__build_message__0.txt
  apps/worker/services/tests/snapshots/results__build_message_with_flake__0.txt
Due: worker

fix: flake rate and failure rate in UI now show the right numbers
  apps/codecov-api/utils/ta_timescale/test_results.py
Due: codecov-api

feat: Update TA comment survey link
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_results.py
  apps/worker/services/tests/snapshots/results__build_message__0.txt
  apps/worker/services/tests/snapshots/results__build_message_with_flake__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_computed_name__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_error_with_failures__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_existing_comment__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_with_flaky_2_15_13__0.txt
  apps/worker/tasks/tests/unit/snapshots/results_finisher__TestUploadTestFinisherTask__upload_finisher_task_call_with_flaky_50_150_10__0.txt
Due: worker

comments
  apps/codecov-api/api/sentry/views.py
  apps/worker/services/seats.py
Due: worker, codecov-api

fix: update feedback form in TA PR comment (#504)
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__3.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_results.py
  apps/worker/services/tests/snapshots/results__build_message__0.txt
  apps/worker/services/tests/snapshots/results__build_message_with_flake__0.txt
Due: worker

fix: flake rate and failure rate in UI now show the right numbers (#505)
  apps/codecov-api/utils/ta_timescale/test_results.py
Due: codecov-api

fix: factor out code into owner_uses_sentry function
  apps/codecov-api/webhook_handlers/helpers.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/helpers/sentry.py
Due: codecov-api, shared

fix: remove link to dashboard from PR comment
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_results.py
  apps/worker/services/tests/snapshots/results__build_message_for_prevent__0.txt
  apps/worker/services/tests/test_test_results.py
Due: worker

fix: remove all tests passed comment entirely for codecov
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_results.py
  apps/worker/services/tests/snapshots/results__build_message_for_prevent__0.txt
  apps/worker/services/tests/snapshots/results__build_message_with_flake__0.txt
Due: worker

fix: remove all tests passed comment entirely for codecov (#506)
  apps/codecov-api/webhook_handlers/helpers.py
  apps/worker/services/test_analytics/ta_finish_upload.py
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__2.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__4.txt
  apps/worker/services/test_analytics/tests/snapshots/ta_finish_upload__ta_finish_upload__5.txt
  apps/worker/services/test_analytics/tests/test_ta_finish_upload.py
  apps/worker/services/test_results.py
  apps/worker/services/tests/snapshots/results__build_message_for_prevent__0.txt
  apps/worker/services/tests/snapshots/results__build_message_with_flake__0.txt
  apps/worker/services/tests/test_test_results.py
  libs/shared/shared/bots/github_apps.py
  libs/shared/shared/helpers/sentry.py
Due: worker, codecov-api, shared

chore: add metrics
  apps/codecov-api/upload/views/test_results.py
Due: codecov-api

chore: add simple metrics to worker for TA
  apps/worker/tasks/upload.py
Due: worker

chore: add metrics (#507)
  apps/codecov-api/upload/views/test_results.py
Due: codecov-api

chore: add simple metrics to worker for TA (#508)
  apps/worker/tasks/upload.py
Due: worker

chore: add more simple metrics to worker for TA
  apps/worker/services/test_analytics/ta_processor.py
  apps/worker/tasks/test_results_processor.py
Due: worker

script for account linking
  apps/codecov-api/core/management/commands/sentry_account_link_from_csv.py
Due: codecov-api

create initial resend
  libs/shared/shared/django_apps/upload_breadcrumbs/admin.py
  libs/shared/shared/django_apps/upload_breadcrumbs/templates/admin/upload_breadcrumbs/uploadbreadcrumb/change_list.html
Due: shared

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
