Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

fix(bitbucket): add samesite and max_age to state cookie
  apps/codecov-api/codecov_auth/tests/unit/views/test_bitbucket.py
  apps/codecov-api/codecov_auth/views/bitbucket.py
Due: codecov-api

refactor(bitbucket): replace while loop with explicit two-attempt retry
  libs/shared/shared/torngit/bitbucket.py
Due: shared

fix: add schedule followup
  apps/worker/tasks/upload_finisher.py
Due: worker

fix: class and lint
  apps/worker/tasks/upload_finisher.py
Due: worker

feat(api): expose upload state_id display in v2 uploads
  apps/codecov-api/api/public/v2/commit/serializers.py
  apps/codecov-api/api/public/v2/tests/test_api_commit_viewset.py
Due: codecov-api

fix: add schedule followup (#775)
  apps/worker/tasks/upload_finisher.py
Due: worker

test(api): make commit uploads state assertions order-independent
  apps/codecov-api/api/public/v2/tests/test_api_commit_viewset.py
Due: codecov-api

fix(test): query ReportSession directly in commit uploads test
  apps/codecov-api/api/public/v2/tests/test_api_commit_viewset.py
Due: codecov-api

refactor(test): configure upload state ids in commit report factory
  apps/codecov-api/api/public/v2/tests/test_api_commit_viewset.py
  libs/shared/shared/django_apps/core/tests/factories.py
Due: codecov-api, shared

refactor(test): normalize upload state defaults in commit factory
  libs/shared/shared/django_apps/core/tests/factories.py
Due: shared

feat(api): expose upload state_id/state_name in v2 commit uploads (#776)
  apps/codecov-api/api/public/v2/commit/serializers.py
  apps/codecov-api/api/public/v2/tests/test_api_commit_viewset.py
  libs/shared/shared/django_apps/core/tests/factories.py
Due: codecov-api, shared

feat(api): Add org membership check to repository token regeneration
  apps/codecov-api/core/commands/repository/interactors/regenerate_repository_token.py
  apps/codecov-api/core/commands/repository/interactors/regenerate_repository_upload_token.py
  apps/codecov-api/graphql_api/tests/mutation/test_regenerate_repository_token.py
  apps/codecov-api/graphql_api/tests/mutation/test_regenerate_repository_upload_token.py
  apps/codecov-api/graphql_api/types/mutation/regenerate_repository_token/regenerate_repository_token.graphql
  apps/codecov-api/graphql_api/types/mutation/regenerate_repository_upload_token/regenerate_repository_upload_token.graphql
Due: codecov-api

fix(api): Add UnauthenticatedError to upload token error union
  apps/codecov-api/graphql_api/tests/mutation/test_regenerate_repository_upload_token.py
  apps/codecov-api/graphql_api/types/mutation/regenerate_repository_upload_token/regenerate_repository_upload_token.graphql
Due: codecov-api

feat(api): Add org membership check to repository token regeneration (#777)
  apps/codecov-api/core/commands/repository/interactors/regenerate_repository_token.py
  apps/codecov-api/core/commands/repository/interactors/regenerate_repository_upload_token.py
  apps/codecov-api/graphql_api/tests/mutation/test_regenerate_repository_token.py
  apps/codecov-api/graphql_api/tests/mutation/test_regenerate_repository_upload_token.py
  apps/codecov-api/graphql_api/types/mutation/regenerate_repository_token/regenerate_repository_token.graphql
  apps/codecov-api/graphql_api/types/mutation/regenerate_repository_upload_token/regenerate_repository_upload_token.graphql
Due: codecov-api

fix: move upload finisher retries to 5
  libs/shared/shared/celery_config.py
Due: shared

fix: run only one upload finisher
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
Due: worker

fix: acquire finisher gate
  apps/worker/services/processing/processing.py
  apps/worker/services/tests/test_processing.py
  apps/worker/tasks/upload.py
  apps/worker/tasks/upload_finisher.py
Due: worker

fix: handling things
  apps/worker/tasks/upload_finisher.py
Due: worker

fix: more small changes
  apps/worker/services/processing/processing.py
  apps/worker/services/tests/test_processing.py
  apps/worker/tasks/upload_finisher.py
Due: worker

fix: something
  apps/worker/services/processing/processing.py
Due: worker

fix: update logic with reschedules
  apps/worker/tasks/upload_finisher.py
Due: worker

Fix upload finisher bugs: remove incorrect self prefix and enable sweep gate acquisition
  apps/worker/tasks/upload_finisher.py
Due: worker

fix: add fair queueing for celery
  apps/worker/main.py
Due: worker

fix: update test_main assertions to include -Ofair in worker argv
  apps/worker/tests/unit/test_main.py
Due: worker

fix: add fair queueing for celery (#780)
  apps/worker/main.py
  apps/worker/tests/unit/test_main.py
Due: worker

Revert "fix: add fair queueing for celery (#780)"
  apps/worker/main.py
  apps/worker/tests/unit/test_main.py
Due: worker

Revert "fix: add fair queueing for celery (#780)" (#781)
  apps/worker/main.py
  apps/worker/tests/unit/test_main.py
Due: worker

catch TorngitRefreshTokenFailedError without retrying
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/unit/test_base.py
Due: worker

fix: change serializer to show enum for upload.state_name
  apps/codecov-api/api/public/v2/commit/serializers.py
Due: codecov-api

fix: disambiguate GitLab webhook repo lookup to prevent MultipleObjectsReturned
  apps/codecov-api/webhook_handlers/tests/test_gitlab.py
  apps/codecov-api/webhook_handlers/views/gitlab.py
Due: codecov-api

simplify: inline namespace extraction, remove extra methods and tests
  apps/codecov-api/webhook_handlers/tests/test_gitlab.py
  apps/codecov-api/webhook_handlers/views/gitlab.py
Due: codecov-api

refactor: inline repo_filter attributes in get_object_or_404 calls
  apps/codecov-api/webhook_handlers/views/gitlab.py
Due: codecov-api

rename variables, add project_path_with_namespace to cover system hooks
  apps/codecov-api/webhook_handlers/views/gitlab.py
Due: codecov-api

remove inline comments
  apps/codecov-api/webhook_handlers/views/gitlab.py
Due: codecov-api

Apply suggestions from code review
  apps/worker/tasks/compute_comparison.py
Due: worker

fix: fall back to base query when namespace doesn't match any owner
  apps/codecov-api/webhook_handlers/views/gitlab.py
Due: codecov-api

Update apps/worker/tasks/preprocess_upload.py
  apps/worker/tasks/preprocess_upload.py
Due: worker

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
