Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

codecov.yml:

ignore:
  - "**tests**/test_*.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1
    patch:
      default:
        target: 90

flags:
  workerunit:
    carryforward: true
  workerintegration:
    carryforward: true
  apiunit:
    carryforward: true
  apiintegration:
    carryforward: true
  sharedunit:
    carryforward: true
  sharedintegration:
    carryforward: true

component_management:
  individual_components:
    - component_id: worker
      name: worker
      paths:
        - apps/worker/**
    - component_id: codecov-api
      name: codecov-api
      paths:
        - apps/codecov-api/**
    - component_id: shared
      name: shared
      paths:
        - libs/shared/**

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

feat: route UploadFinisher to dedicated queue (#634)
  libs/shared/shared/celery_config.py
  libs/shared/tests/unit/test_celery_config.py
  libs/shared/tests/unit/test_router.py
Due: shared

Fix bundle analysis processor infinite retry loop from visibility timeout (#633)
  apps/worker/tasks/base.py
  apps/worker/tasks/bundle_analysis_processor.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

fix(worker): Improve Sentry visibility for worker task crashes
  apps/worker/celery_config.py
  apps/worker/tasks/base.py
Due: worker

fix: Move Sentry capture after core failure handling
  apps/worker/tasks/base.py
Due: worker

fix: wrap Sentry capture calls in try-except for consistency
  apps/worker/celery_config.py
  apps/worker/tasks/base.py
Due: worker

fix: remove duplicate capture_exception call to avoid duplicate Sentry events
  apps/worker/tasks/base.py
Due: worker

Add session lifecycle logging and preserve attempts header
  apps/worker/tasks/base.py
Due: worker

feat: per-task database sessions to prevent session state leakage
  apps/worker/celery_task_router.py
  apps/worker/database/engine.py
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/unit/test_base.py
  apps/worker/tasks/tests/utils.py
  apps/worker/tests/unit/test_task_router.py
Due: worker

fix: address review feedback - session cleanup, timeout handling
  apps/worker/celery_task_router.py
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/utils.py
Due: worker

fix: retry InterfaceError with backoff like other DB errors
  apps/worker/tasks/base.py
Due: worker

fix: improve test session mocking for savepoint-based tests
  apps/worker/tasks/tests/utils.py
Due: worker

fix: move commit outside core runtime timer
  apps/worker/tasks/base.py
Due: worker

fix: simplify test session mocking
  apps/worker/tasks/tests/utils.py
Due: worker

fix: correct mock for _cleanup_task_session method
  apps/worker/tasks/base.py
  apps/worker/tasks/tests/utils.py
Due: worker

refactor: replace lambdas with named functions for readability
  apps/worker/tasks/tests/utils.py
Due: worker

fix: add test fixes for parallel task tests from PR #618
  apps/worker/services/tests/test_timeseries.py
  apps/worker/tasks/tests/unit/test_compute_comparison.py
Due: worker

fix: ruff check auto-fix
  apps/worker/database/engine.py
Due: worker

fix: add db_session parameter to save_commit_measurements and upsert_components_measurements
  apps/worker/services/timeseries.py
  apps/worker/tasks/save_commit_measurements.py
Due: worker

fix: restore rollback and in_transaction mocks in hook_session
  apps/worker/tasks/tests/utils.py
Due: worker

adjust model registry file
  libs/shared/shared/owner_data_export/models_registry.py
Due: shared

fix: address null fields + fn reference issues
  libs/shared/shared/owner_data_export/models_registry.py
Due: shared

feat: add config for data export
  libs/shared/shared/owner_data_export/config.py
Due: shared

fix: since none is a constraint, change to generic uuid
  libs/shared/shared/owner_data_export/models_registry.py
Due: shared

fix: Remove ineffective on_failure Sentry context enrichment
  apps/worker/celery_config.py
  apps/worker/tasks/base.py
Due: worker

fix: make uuid fn callable instead
  libs/shared/shared/owner_data_export/models_registry.py
Due: shared

Release 25.12.1 (#590)
  VERSION
  libs/shared/shared/django_apps/core/migrations/0077_increment_version.py
Due: shared

Prepare release 25.1.8
  VERSION
Due: none

fix: revert excluding user_id
  libs/shared/shared/owner_data_export/models_registry.py
Due: shared

change user order to be first before owner
  libs/shared/shared/owner_data_export/models_registry.py
Due: shared

Prepare release 26.1.8
  VERSION
Due: none

add version 26.1.8 migration
  libs/shared/shared/django_apps/core/migrations/0078_increment_version.py
Due: shared

Release 26.1.8 (#640)
  VERSION
  libs/shared/shared/django_apps/core/migrations/0078_increment_version.py
Due: shared

Create model registry for export data (#620)
  libs/shared/shared/owner_data_export/__init__.py
  libs/shared/shared/owner_data_export/models_registry.py
  libs/shared/shared/owner_data_export/types.py
Due: shared

Adrian/create export config (#638)
  libs/shared/shared/owner_data_export/config.py
Due: shared

feat: create sql generator file for data export
  libs/shared/shared/owner_data_export/sql_generator.py
Due: shared

fix(worker): Improve Sentry visibility for worker task crashes (#636)
  apps/worker/celery_config.py
  apps/worker/tasks/base.py
Due: worker

fix(api): Properly serialize CommitReport creation to prevent race conditions
  apps/codecov-api/upload/serializers.py
  apps/codecov-api/upload/tests/test_serializers.py
Due: codecov-api

test(worker): Add tests for blocking_timeout behavior in LockManager
  apps/worker/services/tests/test_lock_manager.py
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker

fix(tests): Move LockError import to the top of the test file for consistency
  apps/worker/tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: worker
