Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

refactor: clean up worker initialization
  apps/worker/conftest.py
  apps/worker/main.py
  apps/worker/services/test_analytics/tests/test_ta_processor.py
  apps/worker/tasks/tests/integration/test_notify_task.py
  apps/worker/tasks/tests/unit/test_upload_finisher_task.py
  apps/worker/tests/unit/test_main.py
  libs/shared/shared/storage/memory.py
  libs/shared/tests/unit/storage/test_memory.py
Due: worker, shared

chore(api): remove test-only function from production helper file
  apps/codecov-api/api/internal/tests/views/test_account_viewset.py
  apps/codecov-api/billing/helpers.py
  apps/codecov-api/billing/tests/mocks.py
  apps/codecov-api/billing/tests/test_helpers.py
  apps/codecov-api/billing/tests/test_views.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
  apps/codecov-api/graphql_api/tests/test_coverage_analytics.py
  apps/codecov-api/graphql_api/tests/test_owner.py
  apps/codecov-api/graphql_api/tests/test_plan.py
  apps/codecov-api/graphql_api/tests/test_plan_representation.py
  apps/codecov-api/services/tests/test_billing.py
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/tests/test_serializers.py
  apps/codecov-api/upload/tests/test_throttles.py
  apps/codecov-api/upload/tests/views/test_upload_coverage.py
  apps/codecov-api/upload/tests/views/test_uploads.py
  apps/codecov-api/webhook_handlers/tests/test_github.py
  apps/codecov-api/webhook_handlers/tests/test_github_enterprise.py
Due: codecov-api

build: remove dev deps from prod image, add separate test-reqs and test-app images
  .dockerignore
  .github/workflows/_build-app.yml
  .github/workflows/_build-requirements.yml
  .github/workflows/_run-tests.yml
  ci-tests.docker-compose.yml
  docker/Dockerfile.test-requirements
  docker/Makefile.ci-tests
  docker/Makefile.docker
  docker/README.md
  pyproject.toml
  tools/devenv/Makefile.devenv
  tools/devenv/Makefile.test
Due: none

test: consolidate on test.yml and mock_storage fixture in more tests
  README.md
  apps/worker/conftest.py
  apps/worker/services/test_analytics/tests/conftest.py
  apps/worker/services/test_analytics/tests/test_ta_cache_rollups.py
  apps/worker/services/test_analytics/tests/test_ta_processor.py
  apps/worker/tasks/backfill_owners_without_gh_app_installations.py
  ci-tests.docker-compose.yml
  docker-compose.yml
  libs/shared/shared/storage/memory.py
  libs/shared/tests/unit/storage/test_memory.py
  tools/devenv/Makefile.test
Due: worker, shared

fix: handle new TA task failures gracefully
  apps/worker/tasks/test_results_processor.py
  apps/worker/tasks/tests/unit/test_test_results_processor_task.py
Due: worker

ci: add build-app.yml back to push-stage.yml to ensure image exists
  .github/workflows/_build-app.yml
  .github/workflows/push-stage.yml
Due: none

Add github service filter check
  apps/codecov-api/api/gen_ai/tests/test_gen_ai.py
  apps/codecov-api/api/gen_ai/views.py
Due: codecov-api

Filter on owner
  apps/codecov-api/api/gen_ai/tests/test_gen_ai.py
  apps/codecov-api/api/gen_ai/views.py
Due: codecov-api

status code fix
  apps/codecov-api/api/gen_ai/tests/test_gen_ai.py
Due: codecov-api

Safe fetch yaml
  apps/codecov-api/webhook_handlers/views/github.py
Due: codecov-api

Increase the timeout for delete task
  libs/shared/shared/celery_config.py
Due: shared

formatting
  libs/shared/shared/django_apps/codecov_auth/migrations/0068_alter_githubappinstallation_unique_together.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0068.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
Due: shared

add unique together constraint with dedupe logic
  libs/shared/shared/django_apps/codecov_auth/migrations/0068_alter_githubappinstallation_unique_together.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/__init__.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0068.py
  libs/shared/shared/django_apps/codecov_auth/models.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
  libs/shared/tests/unit/django_apps/codecov_auth/test_codecov_auth_models.py
Due: shared

remove deduping logic
  libs/shared/shared/django_apps/codecov_auth/migrations/0067_alter_githubappinstallation_app_id.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0067.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
Due: shared

make app_id non-nullable
  libs/shared/shared/django_apps/codecov_auth/migrations/0067_alter_githubappinstallation_app_id.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0067.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
Due: shared

add to worker table
  apps/worker/database/models/core.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
Due: worker, shared

need to do this operation with raw sql
  libs/shared/shared/django_apps/codecov_auth/migrations/0068_alter_githubappinstallation_unique_together.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/__init__.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0068.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
Due: shared

integrate Arpad's suggestions
  apps/worker/services/cleanup/pulls.py
  apps/worker/services/cleanup/tests/test_pulls.py
Due: worker

increase limits on flare_cleanup
  apps/worker/services/cleanup/pulls.py
  apps/worker/services/cleanup/tests/test_pulls.py
Due: worker

remove logs from loop - too spammy
  apps/worker/services/cleanup/pulls.py
  apps/worker/services/cleanup/tests/test_pulls.py
Due: worker

fix overcounting
  apps/worker/services/cleanup/pulls.py
  apps/worker/services/cleanup/tests/test_pulls.py
Due: worker

add unique together constraint with dedupe logic
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/__init__.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0068.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
Due: shared

formatting
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0068.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
Due: shared

add column to pulls table
  apps/worker/database/models/core.py
  libs/shared/shared/django_apps/core/migrations/0071_pull_sentry_commentid.py
  libs/shared/shared/django_apps/core/models.py
Due: worker, shared

need to do this operation with raw sql
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/__init__.py
  libs/shared/shared/django_apps/codecov_auth/migrations/migration_helpers/migration_0068.py
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
Due: shared

add to worker table
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0068.py
Due: shared

fix bad import in migration
  libs/shared/shared/django_apps/core/migrations/0071_pull_sentry_commentid.py
Due: shared

Remove gen unit tests button
  libs/shared/shared/torngit/github.py
Due: shared

chore: Test overwatch staging
  .github/workflows/upload-overwatch.yml
Due: none

Format
  libs/shared/shared/torngit/github.py
Due: shared

make it fail
  .github/workflows/upload-overwatch.yml
Due: none

add new flag
  .github/workflows/upload-overwatch.yml
Due: none

use prod cli
  .github/workflows/upload-overwatch.yml
Due: none

force error
  apps/codecov-api/upload/views/bundle_analysis.py
Due: codecov-api

use staging
  .github/workflows/upload-overwatch.yml
Due: none

format
  libs/shared/shared/torngit/github.py
Due: shared

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
