Repository codecov/umbrella: changes, and which Codecov flags are due for each by the changed paths.
All: worker, codecov-api, shared

feat: create sentry webhook endpoint
  apps/codecov-api/webhook_handlers/urls.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

feat: enhance webhook handling and configuration
  apps/codecov-api/rollouts/__init__.py
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

fix: add dry run to Sentry webhook handlers
  apps/codecov-api/webhook_handlers/tests/test_sentry.py
  apps/codecov-api/webhook_handlers/views/github.py
  apps/codecov-api/webhook_handlers/views/sentry.py
Due: codecov-api

feat: add slowest tests parameter filtering to new TA GQL approach
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_slowest__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

fix: address sentry review feedback
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_empty_parameter__0.json
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_slowest__0.json
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

db: remove default continuous aggregate indexes and create new ones
  libs/shared/shared/django_apps/ta_timeseries/migrations/0022_remove_default_cagg_indexes.py
  libs/shared/shared/django_apps/ta_timeseries/migrations/0023_create_cagg_indexes.py
Due: shared

feat: use new repo wide CAs in GQL API
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

ref: TA GQL timescale slowest tests duration implementation
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

feat: allow filtering TA aggregates by branch
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates_timescale_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__gql_query_test_results_aggregates_timescale_branch__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.graphql
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

Revert "feat(ta-gql): handle receiving all branches filter (#105)"
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates_timescale_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__gql_query_test_results_aggregates_timescale_branch__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.graphql
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

fix(api): Commit views arg and return types
  apps/codecov-api/codecov_auth/authentication/repo_auth.py
  apps/codecov-api/upload/views/commits.py
  apps/codecov-api/upload/views/upload_coverage.py
Due: codecov-api

chore(worker): Improve test to check for case-insensitivity
  apps/worker/tasks/tests/unit/test_sync_repo_languages_gql.py
Due: worker

chore(api): Ignore class from being treated as a test suite
  apps/codecov-api/utils/test_utils.py
Due: codecov-api

chore(shared): More predefined upload breadcrumb errors
  libs/shared/shared/django_apps/upload_breadcrumbs/models.py
Due: shared

chore: Tests for upload breadcrumb creation
  apps/codecov-api/upload/tests/test_helpers.py
  apps/codecov-api/upload/tests/test_upload.py
  apps/codecov-api/upload/tests/views/test_commits.py
  apps/codecov-api/upload/tests/views/test_upload_coverage.py
  apps/worker/tasks/tests/unit/test_commit_update.py
Due: worker, codecov-api

feat(api): Upload breadcrumb context manager
  apps/codecov-api/upload/helpers.py
Due: codecov-api

chore(shared): Ignore datetime warning for migration test
  libs/shared/shared/django_apps/codecov_auth/tests/migrations/migration_helpers/test_migration_0067.py
Due: shared

feat(api): Task caller for upload breadcrumbs
  apps/codecov-api/services/task/task.py
Due: codecov-api

feat(worker): Trigger upload breadcrumb task
  apps/worker/tasks/commit_update.py
Due: worker

feat(api): Trigger upload breadcrumb tasks
  apps/codecov-api/upload/serializers.py
  apps/codecov-api/upload/views/commits.py
  apps/codecov-api/upload/views/legacy.py
  apps/codecov-api/upload/views/upload_coverage.py
Due: codecov-api

feat: use new repo wide CAs in GQL API
  apps/codecov-api/graphql_api/tests/snapshots/analytics_timescale__TestAnalyticsTestCaseNew__gql_query_test_results_timescale_non_precomputed_branch_feature_branch__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_analytics_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

feat: allow filtering TA aggregates by branch
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__flake_aggregates_timescale_non_precomputed_branch_feature_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/flake_aggregates_timescale__TestFlakeAggregatesTimescale__gql_query_flake_aggregates_timescale_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__gql_query_test_results_aggregates_timescale_branch__0.json
  apps/codecov-api/graphql_api/tests/snapshots/results_aggregates_timescale__TestTestResultsAggregatesTimescale__results_aggregates_timescale_non_precomputed_branch_feature_branch__0.json
  apps/codecov-api/graphql_api/tests/test_flake_aggregates_timescale.py
  apps/codecov-api/graphql_api/tests/test_test_results_aggregates_timescale.py
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.graphql
  apps/codecov-api/graphql_api/types/test_analytics/test_analytics.py
  apps/codecov-api/utils/timescale_test_results.py
Due: codecov-api

this is a test
  README.md
Due: none

trigger commit
  README.md
Due: none

this is a test 2
  README.md
Due: none

another test
  README.md
Due: none

add username to impersonate
  apps/codecov-api/codecov_auth/admin.py
  apps/codecov-api/codecov_auth/tests/test_admin.py
Due: codecov-api

clean READ_EVALS feature flag
  apps/codecov-api/api/public/v2/evals/views.py
  apps/codecov-api/api/public/v2/tests/test_api_evals_viewset.py
  apps/codecov-api/rollouts/__init__.py
Due: codecov-api

fix(api): Handle `None` yaml case
  apps/codecov-api/services/tests/test_yaml.py
  apps/codecov-api/services/yaml.py
Due: codecov-api

chore(api): Return pr as integer
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/upload/tests/test_upload.py
  apps/codecov-api/upload/views/legacy.py
Due: codecov-api

chore(api): Remove incorrect docstring
  apps/codecov-api/upload/serializers.py
Due: codecov-api

fix: Argument, variable and return types
  apps/codecov-api/graphql_api/tests/test_commit.py
  apps/codecov-api/graphql_api/types/commit/commit.py
  apps/codecov-api/services/yaml.py
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/upload/tests/test_upload.py
  apps/codecov-api/upload/views/legacy.py
  apps/worker/services/repository.py
  libs/shared/shared/yaml/fetcher.py
  libs/shared/shared/yaml/user_yaml.py
Due: worker, codecov-api, shared

fix(worker): Missing argument
  apps/worker/services/repository.py
  apps/worker/services/tests/test_repository_service.py
  apps/worker/tasks/notify.py
Due: worker

fix(shared): Ensure `file_path` is a string
  libs/shared/shared/yaml/fetcher.py
Due: shared

chore: Joey feedback
  apps/codecov-api/services/yaml.py
  apps/codecov-api/upload/views/legacy.py
Due: codecov-api

chore: `mypy` error and warning fixes (#341)
  apps/codecov-api/graphql_api/tests/test_commit.py
  apps/codecov-api/graphql_api/types/commit/commit.py
  apps/codecov-api/services/tests/test_yaml.py
  apps/codecov-api/services/yaml.py
  apps/codecov-api/upload/helpers.py
  apps/codecov-api/upload/serializers.py
  apps/codecov-api/upload/tests/test_upload.py
  apps/codecov-api/upload/views/legacy.py
  apps/worker/services/repository.py
  apps/worker/services/tests/test_repository_service.py
  apps/worker/tasks/notify.py
  libs/shared/shared/yaml/fetcher.py
  libs/shared/shared/yaml/user_yaml.py
Due: worker, codecov-api, shared

Path conditions:
  worker: any of: apps/worker/**, but not: **tests**/test_*.py
  codecov-api: any of: apps/codecov-api/**, but not: **tests**/test_*.py
  shared: any of: libs/shared/**, but not: **tests**/test_*.py
